Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2018-03, with the labels that each got.

#1019 Improved File.download
  telegram/files/file.py
  tests/test_file.py
Labels: pending merge

#895 Added conversation timeout in ConversationHandler
  telegram/ext/conversationhandler.py
  tests/test_conversationhandler.py
Labels: pending reply

#912 Add missing docs utils
  docs/source/telegram.rst
  docs/source/telegram.utils.promise.rst
  docs/source/telegram.utils.request.rst
  docs/source/telegram.utils.rst
  telegram/bot.py
  telegram/utils/promise.py
  telegram/utils/request.py
Labels: pending merge

#1032 Fix conversationhandler
  telegram/ext/conversationhandler.py
  tests/test_conversationhandler.py
Labels: pending review
