Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2018-08, with the labels that each got.

#1184 Allow multiple inputfiles in requests
  telegram/__init__.py
  telegram/bot.py
  telegram/chat.py
  telegram/ext/dispatcher.py
  telegram/ext/filters.py
  telegram/files/animation.py
  telegram/files/audio.py
  telegram/files/inputfile.py
  telegram/files/inputmedia.py
  telegram/files/inputmediaphoto.py
  telegram/files/inputmediavideo.py
  telegram/message.py
  telegram/user.py
  telegram/utils/request.py
  tests/conftest.py
  tests/data/thumb.jpg
  tests/test_animation.py
  tests/test_audio.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_document.py
  tests/test_filters.py
  tests/test_game.py
  tests/test_inputfile.py
  tests/test_inputmedia.py
  tests/test_message.py
  tests/test_official.py
  tests/test_photo.py
  tests/test_user.py
  tests/test_video.py
  tests/test_videonote.py
Labels: pending review

#1158 Fix Filters.regex failing on non-text message
  telegram/ext/filters.py
  tests/test_filters.py
Labels: pending merge

#1147 Use '==' operator for integer comparison
  telegram/ext/updater.py
Labels: bug :bug:, pending merge
