Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2019-10, with the labels that each got.

#1537 Fix typos in examples
  examples/deeplinking.py
  examples/echobot2.py
  examples/inlinebot.py
  examples/inlinekeyboard2.py
  examples/paymentbot.py
  examples/timerbot.py
Labels: documentation, pending merge

#1525 Fix for Bot.to_dict returning the wrong value for first_name (#1519)
  telegram/bot.py
Labels: pending merge

#1512 Nested ConversationHandlers
  AUTHORS.rst
  examples/README.md
  examples/nestedconversationbot.png
  examples/nestedconversationbot.py
  telegram/ext/conversationhandler.py
  tests/test_conversationhandler.py
Labels: enhancement, pending merge

#1408 Refactor test_commandhandler.py
  telegram/ext/handler.py
  tests/conftest.py
  tests/test_commandhandler.py
Labels: tests

#1560 Add MAX_PHOTOSIZE_UPLOAD size limit constant
  telegram/constants.py
Labels: API, pending reply

#1569 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: documentation

#1574 Add *args, **kwargs to Message.forward()
  telegram/message.py
Labels: bug :bug:, pending review

#1572 Doc fixes
  telegram/ext/conversationhandler.py
  telegram/ext/jobqueue.py
Labels: documentation, pending merge

#1570 Add msg_in filter (new)
  AUTHORS.rst
  telegram/ext/filters.py
  tests/test_filters.py
Labels: enhancement, pending review
