Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2020-03, with the labels that each got.

#1808 Use temporary directories in test_persistence
  tests/test_persistence.py
Labels: tests

#1770 added link property to bot
  telegram/bot.py
  tests/test_bot.py
Labels: pending review

#1778 Docs
  telegram/bot.py
  telegram/chatpermissions.py
  telegram/ext/conversationhandler.py
  telegram/ext/updater.py
  telegram/files/inputmedia.py
  telegram/inline/inlinequeryresultcachedvideo.py
  telegram/inline/inlinequeryresultcachedvoice.py
  telegram/inline/inlinequeryresultvideo.py
  telegram/inline/inlinequeryresultvoice.py
  telegram/inline/inputtextmessagecontent.py
Labels: documentation

#1779 fixed typo in edit_message_media
  telegram/bot.py
Labels: pending merge

#1721 Improve handling of CallbackQuery in Examples
  examples/inlinekeyboard.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
Labels: examples

#1848 Ignore Message.default_quote in test_official
  .github/CONTRIBUTING.rst
  tests/test_official.py
Labels: tests

#1818 Update CallbackQuery docstrings
  AUTHORS.rst
  telegram/callbackquery.py
Labels: documentation

#1508 API 4.5
  README.rst
  telegram/bot.py
  telegram/chat.py
  telegram/chatmember.py
  telegram/files/animation.py
  telegram/files/audio.py
  telegram/files/chatphoto.py
  telegram/files/document.py
  telegram/files/file.py
  telegram/files/photosize.py
  telegram/files/sticker.py
  telegram/files/video.py
  telegram/files/videonote.py
  telegram/files/voice.py
  telegram/message.py
  telegram/messageentity.py
  telegram/parsemode.py
  telegram/passport/passportfile.py
  telegram/user.py
  telegram/utils/helpers.py
  tests/test_animation.py
  tests/test_audio.py
  tests/test_bot.py
  tests/test_callbackquery.py
  tests/test_chat.py
  tests/test_chatmember.py
  tests/test_chatphoto.py
  tests/test_choseninlineresult.py
  tests/test_contact.py
  tests/test_document.py
  tests/test_file.py
  tests/test_filters.py
  tests/test_game.py
  tests/test_helpers.py
  tests/test_message.py
  tests/test_passport.py
  tests/test_passportfile.py
  tests/test_photo.py
  tests/test_shippingoption.py
  tests/test_sticker.py
  tests/test_user.py
  tests/test_userprofilephotos.py
  tests/test_video.py
  tests/test_videonote.py
  tests/test_voice.py
Labels: API

#1723 4.6 API update
  .github/workflows/test.yml
  README.rst
  docs/source/telegram.keyboardbuttonpolltype.rst
  docs/source/telegram.pollanswer.rst
  docs/source/telegram.rst
  examples/pollbot.py
  telegram/__init__.py
  telegram/bot.py
  telegram/ext/__init__.py
  telegram/ext/pollanswerhandler.py
  telegram/ext/pollhandler.py
  telegram/keyboardbutton.py
  telegram/keyboardbuttonpolltype.py
  telegram/message.py
  telegram/messageentity.py
  telegram/poll.py
  telegram/update.py
  telegram/user.py
  tests/test_bot.py
  tests/test_keyboardbutton.py
  tests/test_keyboardbuttonpolltype.py
  tests/test_message.py
  tests/test_messageentity.py
  tests/test_poll.py
  tests/test_pollanswerhandler.py
  tests/test_pollhandler.py
  tests/test_update.py
  tests/test_user.py
Labels: API

#1853 Add missing docs for Poll(Answer)Handler
  docs/source/telegram.ext.pollanswerhandler.rst
  docs/source/telegram.ext.pollhandler.rst
  docs/source/telegram.ext.rst
Labels: documentation

#1636 Rename internal list of PrefixHandler
  telegram/ext/commandhandler.py
  tests/test_commandhandler.py
Labels: pending review

#1696 Fix for tzinfo issues in JobQueue
  telegram/ext/jobqueue.py
  tests/test_jobqueue.py
Labels: bug :bug:

#1635 Add tests for switch_inline_query
  tests/test_inlinekeyboardmarkup.py
Labels: pending review, tests

#1854 Doc fixes
  telegram/ext/jobqueue.py
Labels: documentation
