Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2020-01, with the labels that each got.

#1653 Fix wrong signature call for ConversationHandler.TIMEOUT handlers (issue #1652)
  telegram/ext/conversationhandler.py
  tests/test_conversationhandler.py
Labels: bug :bug:

#1484 Add dispatcher argument to Updater
  telegram/ext/dispatcher.py
  telegram/ext/updater.py
  tests/test_updater.py
Labels: enhancement, pending merge

#1716 improve CI
  .github/workflows/test.yml
Labels: pending review

#1624 both google python style links have been moved
  .github/CONTRIBUTING.rst
Labels: documentation, pending merge

#1632 Add missing name for Filters.update classes
  telegram/ext/filters.py
Labels: documentation, pending merge

#1647 university student documentation edits
  README.rst
Labels: documentation, pending merge

#1661 Fixed typo in helper.py enocde_conversations_to_json
  AUTHORS.rst
  telegram/ext/dictpersistence.py
  telegram/utils/helpers.py
  tests/test_persistence.py
Labels: bug :bug:, pending merge

#1669 bot.py: Update thumb docs
  telegram/bot.py
Labels: documentation, pending merge

#1703 Typo
  examples/persistentconversationbot.py
Labels: pending merge

#1684 Handling of ChatMigrated Errors
  telegram/ext/callbackcontext.py
  tests/test_callbackcontext.py
Labels: documentation, pending review

#1673 Add poll messages support to filters
  AUTHORS.rst
  telegram/ext/filters.py
  tests/test_filters.py
Labels: enhancement, pending merge

#1707 Fix None check in JobQueue._put()
  telegram/ext/jobqueue.py
  tests/test_jobqueue.py
Labels: bug :bug:, pending merge

#1680 Make Filters.text accept leading slash
  telegram/ext/filters.py
  tests/test_filters.py
Labels: bug :bug:

#1740 Add note on how to run test_official to contrib guide
  .github/CONTRIBUTING.rst
Labels: documentation

#1738 temporarily skip tests failing b/c missing api 4.5
  tests/test_animation.py
  tests/test_audio.py
  tests/test_document.py
  tests/test_photo.py
  tests/test_sticker.py
  tests/test_video.py
  tests/test_videonote.py
  tests/test_voice.py
Labels: API, tests
