Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2020-06, with the labels that each got.

#1955 Add Basketball Dice
  telegram/bot.py
  telegram/dice.py
  telegram/ext/filters.py
  tests/test_filters.py
Labels: API, Do not merge (yet)

#1995 Update examples/readme
  examples/README.md
Labels: documentation, examples

#1983 Remove error handlers from examples
  examples/README.md
  examples/conversationbot.py
  examples/conversationbot2.py
  examples/deeplinking.py
  examples/echobot2.py
  examples/errorhandlerbot.py
  examples/inlinebot.py
  examples/inlinekeyboard.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
  examples/passportbot.py
  examples/paymentbot.py
  examples/persistentconversationbot.py
  examples/timerbot.py
Labels: pending reply

#2000 Make test_set_game_score_1 xfail
  tests/test_bot.py
Labels: tests

#1997 Do not override builtin method help()
  examples/echobot2.py
  examples/inlinebot.py
  examples/inlinekeyboard.py
Labels: examples

#1980 API 4.9 update
  telegram/bot.py
  telegram/dice.py
  telegram/ext/filters.py
  telegram/inline/inlinequeryresultgif.py
  telegram/inline/inlinequeryresultmpeg4gif.py
  telegram/message.py
  tests/test_filters.py
  tests/test_inlinequeryresultgif.py
  tests/test_inlinequeryresultmpeg4gif.py
  tests/test_message.py
Labels: API

#2005 fix doc typo
  telegram/message.py
Labels: documentation

#1924 Refactor kwargs handling in Bot methods
  telegram/bot.py
  telegram/files/animation.py
  telegram/files/audio.py
  telegram/files/chatphoto.py
  telegram/files/document.py
  telegram/files/photosize.py
  telegram/files/sticker.py
  telegram/files/video.py
  telegram/files/videonote.py
  telegram/files/voice.py
  telegram/passport/passportfile.py
  telegram/utils/request.py
  tests/test_animation.py
  tests/test_audio.py
  tests/test_bot.py
  tests/test_chatphoto.py
  tests/test_contact.py
  tests/test_document.py
  tests/test_invoice.py
  tests/test_location.py
  tests/test_official.py
  tests/test_passport.py
  tests/test_photo.py
  tests/test_sticker.py
  tests/test_venue.py
  tests/test_video.py
  tests/test_videonote.py
  tests/test_voice.py
Labels: bug :bug:
