Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2020-10, with the labels that each got.

#2051 Refactor @run_async
  telegram/ext/callbackcontext.py
  telegram/ext/callbackqueryhandler.py
  telegram/ext/choseninlineresulthandler.py
  telegram/ext/commandhandler.py
  telegram/ext/conversationhandler.py
  telegram/ext/dispatcher.py
  telegram/ext/handler.py
  telegram/ext/inlinequeryhandler.py
  telegram/ext/messagehandler.py
  telegram/ext/pollanswerhandler.py
  telegram/ext/pollhandler.py
  telegram/ext/precheckoutqueryhandler.py
  telegram/ext/regexhandler.py
  telegram/ext/shippingqueryhandler.py
  telegram/ext/stringcommandhandler.py
  telegram/ext/stringregexhandler.py
  telegram/ext/typehandler.py
  telegram/utils/promise.py
  tests/conftest.py
  tests/test_callbackcontext.py
  tests/test_conversationhandler.py
  tests/test_dispatcher.py
  tests/test_persistence.py
Labels: bug :bug:

#2113 Account for DST thingies in JobQueue tests
  tests/test_jobqueue.py
Labels: tests

#2094 Doc Fixes/Additions
  telegram/bot.py
  telegram/ext/dictpersistence.py
  telegram/ext/filters.py
  telegram/files/inputmedia.py
  telegram/message.py
Labels: documentation

#2118 Fixed few type hints
  telegram/bot.py
Labels: type hinting

#2127 Switch Codecov to GH Action
  .github/workflows/test.yml
Labels: tests

#2132 Add Py 3.9 to tests
  .github/workflows/test.yml
  setup.py
Labels: tests

#2136 Type class variables as such
  telegram/chat.py
  telegram/chataction.py
  telegram/chatmember.py
  telegram/dice.py
  telegram/ext/basepersistence.py
  telegram/ext/conversationhandler.py
  telegram/ext/dispatcher.py
  telegram/files/sticker.py
  telegram/message.py
  telegram/messageentity.py
  telegram/parsemode.py
  telegram/poll.py
Labels: type hinting

#2158 Fix Black in pre-commit
  .pre-commit-config.yaml
  pyproject.toml
  telegram/chat.py
  telegram/chatmember.py
  telegram/ext/messagequeue.py
  telegram/message.py
  tests/test_conversationhandler.py
Labels: tests

#2161 Update Credits
  AUTHORS.rst
Labels: documentation
