Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2020-02, with the labels that each got.

#1642 Doc fixes
  docs/source/telegram.ext.dispatcherhandlerstop.rst
  docs/source/telegram.ext.rst
  telegram/bot.py
  telegram/ext/dispatcher.py
  telegram/ext/jobqueue.py
  telegram/files/inputmedia.py
  telegram/inline/inlinequery.py
  telegram/message.py
  telegram/utils/helpers.py
Labels: documentation

#1741 fixing message.link
  telegram/message.py
  tests/test_message.py
Labels: bug :bug:

#1739 Fixes #1726
  telegram/ext/filters.py
Labels: documentation

#1725 Add --with-urllib3 option to remove vendored version
  setup.py
  telegram/utils/request.py
Labels: pending review

#1711 Handler persistence for nested ConversationHandlers
  telegram/ext/conversationhandler.py
  telegram/ext/dispatcher.py
  tests/test_persistence.py
Labels: bug :bug:

#1679 Add base_file_url support for telegram.ext.Updater
  telegram/ext/updater.py
Labels: enhancement

#1748 json tests on py3.5
  tests/test_persistence.py
Labels: tests

#1623 Fix Server response could not be decoded using UTF-8
  AUTHORS.rst
  telegram/utils/request.py
  tests/test_request.py
Labels: pending review

#1591 fix download without path arguments
  telegram/files/file.py
  tests/test_file.py
Labels: bug :bug:, pending reply

#1490 Add default values
  docs/source/telegram.ext.defaults.rst
  docs/source/telegram.ext.rst
  requirements.txt
  telegram/bot.py
  telegram/callbackquery.py
  telegram/chat.py
  telegram/ext/__init__.py
  telegram/ext/defaults.py
  telegram/ext/updater.py
  telegram/files/inputmedia.py
  telegram/inline/inlinequeryresult.py
  telegram/inline/inlinequeryresultaudio.py
  telegram/inline/inlinequeryresultcachedaudio.py
  telegram/inline/inlinequeryresultcacheddocument.py
  telegram/inline/inlinequeryresultcachedgif.py
  telegram/inline/inlinequeryresultcachedmpeg4gif.py
  telegram/inline/inlinequeryresultcachedphoto.py
  telegram/inline/inlinequeryresultcachedvideo.py
  telegram/inline/inlinequeryresultcachedvoice.py
  telegram/inline/inlinequeryresultdocument.py
  telegram/inline/inlinequeryresultgif.py
  telegram/inline/inlinequeryresultmpeg4gif.py
  telegram/inline/inlinequeryresultphoto.py
  telegram/inline/inlinequeryresultvideo.py
  telegram/inline/inlinequeryresultvoice.py
  telegram/inline/inputmessagecontent.py
  telegram/inline/inputtextmessagecontent.py
  telegram/message.py
  telegram/update.py
  telegram/utils/helpers.py
  telegram/utils/webhookhandler.py
  tests/conftest.py
  tests/test_animation.py
  tests/test_audio.py
  tests/test_bot.py
  tests/test_callbackquery.py
  tests/test_chat.py
  tests/test_defaults.py
  tests/test_document.py
  tests/test_inlinequery.py
  tests/test_inputmedia.py
  tests/test_message.py
  tests/test_passport.py
  tests/test_photo.py
  tests/test_precheckoutquery.py
  tests/test_shippingquery.py
  tests/test_update.py
  tests/test_updater.py
  tests/test_user.py
  tests/test_video.py
  tests/test_voice.py
Labels: enhancement, pending review

#1752 fix 1747 for good
  tests/test_persistence.py
Labels: tests

#1758 make test_webhook_invalid_posts flaky
  tests/test_updater.py
Labels: tests

#1744 Make Filters.command only accept MessageEntity commands
  telegram/ext/filters.py
  tests/test_filters.py
Labels: pending review

#1763 Pass correct parse_mode to InlineResults if bot.defaults is None
  telegram/bot.py
  tests/test_bot.py
Labels: bug :bug:

#1760 Make sure PP can read files that dont have bot_data
  telegram/ext/picklepersistence.py
  tests/test_persistence.py
Labels: bug :bug:

#1791 Remove references to travis and appveyor
  tests/conftest.py
  tests/test_bot.py
  tests/test_jobqueue.py
  tests/test_messagequeue.py
  tests/test_updater.py
  tests/travis_fold.py
Labels: tests
