Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2020-12, with the labels that each got.

#2232 add quote kwrag to Message.reply_copy
  telegram/message.py
  tests/test_message.py
Labels: bug :bug:

#2249 Add filename parameter to all media sending methods for consistency
  telegram/bot.py
  telegram/files/inputmedia.py
  tests/test_animation.py
  tests/test_audio.py
  tests/test_inputmedia.py
  tests/test_official.py
  tests/test_photo.py
  tests/test_video.py
  tests/test_videonote.py
  tests/test_voice.py
Labels: enhancement

#2243 Improve typing & docs of handlers
  telegram/ext/callbackqueryhandler.py
  telegram/ext/choseninlineresulthandler.py
  telegram/ext/commandhandler.py
  telegram/ext/conversationhandler.py
  telegram/ext/dispatcher.py
  telegram/ext/handler.py
  telegram/ext/inlinequeryhandler.py
  telegram/ext/messagehandler.py
  telegram/ext/pollanswerhandler.py
  telegram/ext/pollhandler.py
  telegram/ext/precheckoutqueryhandler.py
  telegram/ext/regexhandler.py
  telegram/ext/shippingqueryhandler.py
  telegram/ext/stringcommandhandler.py
  telegram/ext/stringregexhandler.py
  telegram/ext/typehandler.py
  telegram/utils/promise.py
  telegram/utils/types.py
Labels: documentation, type hinting

#2225 Doc fixes
  README.rst
  telegram/dice.py
  telegram/ext/basepersistence.py
  telegram/ext/dispatcher.py
  telegram/ext/jobqueue.py
Labels: documentation

#2252 adding versioning in sphinx
  .github/CONTRIBUTING.rst
  telegram/bot.py
  telegram/files/inputmedia.py
  telegram/message.py
Labels: documentation, enhancement

#2233 Handle bytes file input
  telegram/bot.py
  telegram/files/inputfile.py
  telegram/files/inputmedia.py
  telegram/utils/helpers.py
  telegram/utils/types.py
  tests/test_animation.py
  tests/test_audio.py
  tests/test_bot.py
  tests/test_document.py
  tests/test_helpers.py
  tests/test_inputfile.py
  tests/test_inputmedia.py
  tests/test_photo.py
  tests/test_sticker.py
  tests/test_video.py
  tests/test_videonote.py
  tests/test_voice.py
Labels: enhancement

#2240 Improve signature of shortcuts
  examples/rawapibot.py
  telegram/bot.py
  telegram/callbackquery.py
  telegram/chat.py
  telegram/files/animation.py
  telegram/files/audio.py
  telegram/files/chatphoto.py
  telegram/files/document.py
  telegram/files/photosize.py
  telegram/files/sticker.py
  telegram/files/video.py
  telegram/files/videonote.py
  telegram/files/voice.py
  telegram/inline/inlinequery.py
  telegram/message.py
  telegram/passport/passportfile.py
  telegram/payment/precheckoutquery.py
  telegram/payment/shippingquery.py
  telegram/user.py
  telegram/utils/helpers.py
  tests/conftest.py
  tests/test_animation.py
  tests/test_audio.py
  tests/test_callbackquery.py
  tests/test_chat.py
  tests/test_chatphoto.py
  tests/test_document.py
  tests/test_inlinequery.py
  tests/test_message.py
  tests/test_passport.py
  tests/test_passportfile.py
  tests/test_photo.py
  tests/test_precheckoutquery.py
  tests/test_shippingquery.py
  tests/test_sticker.py
  tests/test_user.py
  tests/test_video.py
  tests/test_videonote.py
  tests/test_voice.py
Labels: documentation, enhancement, refactor :gear:

#2266 Try testing on macos
  .github/workflows/test.yml
  tests/bots.py
  tests/test_bot.py
  tests/test_conversationhandler.py
  tests/test_jobqueue.py
  tests/test_persistence.py
Labels: tests
