Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2020-11, with the labels that each got.

#2168 Comply with PEP561
  MANIFEST.in
  setup.py
  telegram/py.typed
Labels: type hinting

#2163 Check caption in Filters.regex
  telegram/ext/filters.py
  tests/test_filters.py
Labels: enhancement

#2172 Improve and expand CallbackQuery shortcuts
  telegram/callbackquery.py
  tests/test_callbackquery.py
Labels: enhancement

#2179 XOR Filters and make Filters.name a property
  telegram/ext/filters.py
  tests/test_filters.py
Labels: enhancement, refactor :gear:

#2186 Api 5.0 WP 4 (Working with Files)
  telegram/bot.py
  telegram/files/audio.py
  telegram/files/inputmedia.py
  telegram/files/video.py
  tests/test_audio.py
  tests/test_document.py
  tests/test_inputmedia.py
  tests/test_video.py
Labels: API

#2187 Api 5.0 WP 6 (File albums)
  telegram/bot.py
Labels: API

#2190 Api 5.0 WP 10 (Dice)
  telegram/bot.py
  telegram/constants.py
  telegram/dice.py
  telegram/ext/filters.py
  tests/test_filters.py
Labels: API

#2189 Api 5.0 WP 8 (Anonymous Adimns)
  telegram/bot.py
  telegram/chat.py
  telegram/chatmember.py
  telegram/message.py
  telegram/user.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_chatmember.py
  tests/test_message.py
  tests/test_user.py
Labels: API

#2183 API 5.0 WP 1+2 (API Servers & Webhooks)
  telegram/bot.py
  telegram/webhookinfo.py
  tests/test_bot.py
  tests/test_webhookinfo.py
Labels: API

#2184 API 5.0 WP5 - Pinned messages
  telegram/bot.py
  telegram/callbackquery.py
  telegram/chat.py
  telegram/message.py
  telegram/user.py
  tests/test_bot.py
  tests/test_callbackquery.py
  tests/test_chat.py
  tests/test_message.py
  tests/test_user.py
Labels: API

#2188 Api 5.0 WP 7 (Live Locations)
  docs/source/telegram.proximityalerttriggered.rst
  telegram/__init__.py
  telegram/bot.py
  telegram/ext/filters.py
  telegram/files/location.py
  telegram/inline/inlinequeryresultlocation.py
  telegram/inline/inputlocationmessagecontent.py
  telegram/message.py
  telegram/proximityalerttriggered.py
  tests/test_filters.py
  tests/test_inlinequeryresultlocation.py
  tests/test_inputlocationmessagecontent.py
  tests/test_location.py
  tests/test_message.py
  tests/test_proximityalerttriggered.py
Labels: API

#2185 API 5.0 WP 3 (Working with Groups)
  docs/source/telegram.chatlocation.rst
  telegram/__init__.py
  telegram/bot.py
  telegram/chat.py
  telegram/chatlocation.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_chatlocation.py
Labels: API

#2210 Add Defaults.run_async support
  telegram/ext/callbackqueryhandler.py
  telegram/ext/commandhandler.py
  telegram/ext/defaults.py
  telegram/ext/dispatcher.py
  telegram/ext/handler.py
  telegram/ext/inlinequeryhandler.py
  telegram/ext/messagehandler.py
  telegram/ext/regexhandler.py
  telegram/ext/stringcommandhandler.py
  telegram/ext/stringregexhandler.py
  telegram/ext/typehandler.py
  telegram/utils/helpers.py
  tests/test_defaults.py
  tests/test_dispatcher.py
Labels: enhancement

#2192 Api 5.0 WP 9.6 (allow_sending_without_reply)
  telegram/bot.py
  telegram/ext/defaults.py
  tests/test_animation.py
  tests/test_bot.py
  tests/test_contact.py
  tests/test_defaults.py
  tests/test_document.py
  tests/test_inputmedia.py
  tests/test_invoice.py
  tests/test_location.py
  tests/test_photo.py
  tests/test_sticker.py
  tests/test_venue.py
  tests/test_video.py
  tests/test_videonote.py
  tests/test_voice.py
Labels: API

#2205 Api 5.0 WP 13 (New Filters)
  telegram/ext/filters.py
  tests/test_filters.py
Labels: API, enhancement

#2196 Api 5.0 WP 9.1
  docs/source/telegram.messageid.rst
  docs/source/telegram.rst
  telegram/__init__.py
  telegram/bot.py
  telegram/callbackquery.py
  telegram/chat.py
  telegram/constants.py
  telegram/message.py
  telegram/messageid.py
  telegram/poll.py
  telegram/user.py
  tests/test_bot.py
  tests/test_callbackquery.py
  tests/test_chat.py
  tests/test_message.py
  tests/test_messageid.py
  tests/test_user.py
Labels: API

#2218 Fix bugs in replace/insert_bot
  telegram/ext/basepersistence.py
  tests/test_persistence.py
Labels: bug :bug:

#2202 Handle open(filename, 'r')
  telegram/files/inputfile.py
  tests/data/text_file.txt
  tests/test_inputfile.py
Labels: bug :bug:

#2199 Api 5.0 WP 9.2+9.3 (caption_entities for InputMedia* and InlineQueryResult*)
  telegram/bot.py
  telegram/files/inputmedia.py
  telegram/inline/inlinequeryresult.py
  telegram/inline/inlinequeryresultaudio.py
  telegram/inline/inlinequeryresultcachedaudio.py
  telegram/inline/inlinequeryresultcacheddocument.py
  telegram/inline/inlinequeryresultcachedgif.py
  telegram/inline/inlinequeryresultcachedmpeg4gif.py
  telegram/inline/inlinequeryresultcachedphoto.py
  telegram/inline/inlinequeryresultcachedvideo.py
  telegram/inline/inlinequeryresultcachedvoice.py
  telegram/inline/inlinequeryresultdocument.py
  telegram/inline/inlinequeryresultgif.py
  telegram/inline/inlinequeryresultmpeg4gif.py
  telegram/inline/inlinequeryresultphoto.py
  telegram/inline/inlinequeryresultvideo.py
  telegram/inline/inlinequeryresultvoice.py
  telegram/inline/inputtextmessagecontent.py
  telegram/utils/request.py
  tests/test_animation.py
  tests/test_audio.py
  tests/test_bot.py
  tests/test_document.py
  tests/test_inlinequeryresultaudio.py
  tests/test_inlinequeryresultcachedaudio.py
  tests/test_inlinequeryresultcacheddocument.py
  tests/test_inlinequeryresultcachedgif.py
  tests/test_inlinequeryresultcachedmpeg4gif.py
  tests/test_inlinequeryresultcachedphoto.py
  tests/test_inlinequeryresultcachedvideo.py
  tests/test_inlinequeryresultcachedvoice.py
  tests/test_inlinequeryresultdocument.py
  tests/test_inlinequeryresultgif.py
  tests/test_inlinequeryresultmpeg4gif.py
  tests/test_inlinequeryresultphoto.py
  tests/test_inlinequeryresultvideo.py
  tests/test_inlinequeryresultvoice.py
  tests/test_inputmedia.py
  tests/test_inputtextmessagecontent.py
  tests/test_photo.py
  tests/test_video.py
  tests/test_voice.py
Labels: API

#2193 Api 5.0 WP 9.5 (Google Place Venues)
  telegram/bot.py
  telegram/files/venue.py
  telegram/inline/inlinequeryresultvenue.py
  telegram/inline/inputvenuemessagecontent.py
  tests/test_bot.py
  tests/test_inlinequeryresultvenue.py
  tests/test_inputvenuemessagecontent.py
  tests/test_venue.py
Labels: API

#2223 API 5.0 WP4.3: Handling of files in local mode
  telegram/bot.py
  telegram/files/file.py
  telegram/files/inputmedia.py
  telegram/utils/helpers.py
  telegram/utils/types.py
  tests/data/local_file.txt
  tests/test_animation.py
  tests/test_audio.py
  tests/test_bot.py
  tests/test_document.py
  tests/test_file.py
  tests/test_helpers.py
  tests/test_inputmedia.py
  tests/test_photo.py
  tests/test_sticker.py
  tests/test_video.py
  tests/test_videonote.py
  tests/test_voice.py
Labels: API

#2201 Doc fixes & extensions
  telegram/ext/conversationhandler.py
  telegram/ext/dispatcher.py
  telegram/ext/jobqueue.py
Labels: documentation

#2204 Correct some type hints
  telegram/bot.py
  telegram/utils/helpers.py
Labels: type hinting
