Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2020-04, with the labels that each got.

#1874 [Documentation] InlineQueryResultAudio doc fix
  AUTHORS.rst
  telegram/inline/inlinekeyboardbutton.py
  telegram/inline/inlinequeryresultaudio.py
  telegram/inline/inlinequeryresultcachedaudio.py
  telegram/inline/inlinequeryresultcacheddocument.py
  telegram/inline/inlinequeryresultcachedgif.py
  telegram/inline/inlinequeryresultcachedmpeg4gif.py
  telegram/inline/inlinequeryresultcachedphoto.py
  telegram/inline/inlinequeryresultcachedsticker.py
  telegram/inline/inlinequeryresultcachedvideo.py
  telegram/inline/inlinequeryresultdocument.py
  telegram/inline/inlinequeryresultgif.py
  telegram/inline/inlinequeryresultmpeg4gif.py
  telegram/inline/inlinequeryresultphoto.py
  telegram/inline/inlinequeryresultvideo.py
  telegram/inline/inlinequeryresultvoice.py
Labels: documentation

#1882 Favor concrete types over "Iterable"
  telegram/ext/filters.py
  telegram/ext/updater.py
  tests/test_filters.py
Labels: bug :bug:, documentation

#1826 Pass context of last valid update to timeout handlers
  telegram/ext/conversationhandler.py
  tests/test_conversationhandler.py
Labels: pending review

#1827 Improve Persistence
  telegram/ext/dictpersistence.py
  telegram/ext/dispatcher.py
  telegram/ext/jobqueue.py
  telegram/ext/picklepersistence.py
  tests/test_dispatcher.py
  tests/test_persistence.py
Labels: bug :bug:, enhancement

#1858 API 4.7
  README.rst
  docs/source/telegram.botcommand.rst
  docs/source/telegram.dice.rst
  docs/source/telegram.rst
  telegram/__init__.py
  telegram/bot.py
  telegram/botcommand.py
  telegram/dice.py
  telegram/ext/filters.py
  telegram/files/sticker.py
  telegram/message.py
  tests/data/sticker_set_thumb.png
  tests/data/telegram_animated_sticker.tgs
  tests/test_bot.py
  tests/test_botcommand.py
  tests/test_dice.py
  tests/test_filters.py
  tests/test_message.py
  tests/test_sticker.py
Labels: API

#1887 use checkout@v2 in CI
  .github/workflows/test.yml
Labels: tests

#1884 [Documentation] bot.py doc fixes
  telegram/bot.py
Labels: documentation

#1889 Use to_json() instead of to_dict() for reply_markups
  telegram/bot.py
Labels: bug :bug:

#1902 Add notes on Filters.text accepting command messages
  telegram/ext/filters.py
Labels: documentation

#1685 next_t property is added to Job class
  AUTHORS.rst
  telegram/ext/jobqueue.py
  tests/test_jobqueue.py
Labels: enhancement

#1914 Render Notes correctly
  telegram/bot.py
  telegram/ext/jobqueue.py
  telegram/ext/messagequeue.py
  telegram/files/sticker.py
Labels: documentation
