Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2020-07, with the labels that each got.

#2017 Save bot_data on flush()
  telegram/ext/picklepersistence.py
Labels: bug :bug:

#2018 Try fixing pylint in test-pre-commit
  .pre-commit-config.yaml
Labels: tests

#1994 Refactor Bot persistence
  telegram/bot.py
  telegram/ext/basepersistence.py
  telegram/ext/dictpersistence.py
  telegram/ext/dispatcher.py
  telegram/ext/picklepersistence.py
  tests/test_persistence.py
Labels: bug :bug:, enhancement

#2024 Update CHANGES.rst
  .pre-commit-config.yaml
  CHANGES.rst
  telegram/ext/filters.py
  telegram/ext/picklepersistence.py
  tests/test_filters.py
Labels: documentation

#2025 Rename echobot/2.py
  README.rst
  examples/README.md
  examples/echobot.py
  examples/echobot2.py
  examples/rawapibot.py
Labels: examples

#2027 Improve Filtering in examples
  examples/conversationbot.py
  examples/conversationbot2.py
  examples/echobot.py
  examples/nestedconversationbot.py
  examples/persistentconversationbot.py
Labels: examples

#1965 Refactor handling of default_quote
  telegram/bot.py
  telegram/callbackquery.py
  telegram/chat.py
  telegram/ext/updater.py
  telegram/message.py
  telegram/update.py
  telegram/utils/webhookhandler.py
  tests/test_bot.py
  tests/test_callbackquery.py
  tests/test_chat.py
  tests/test_inputmedia.py
  tests/test_message.py
  tests/test_update.py
  tests/test_updater.py
Labels: pending review

#2032 Refactor handling of message vs update filters
  telegram/ext/__init__.py
  telegram/ext/filters.py
  telegram/files/venue.py
  tests/conftest.py
  tests/test_filters.py
Labels: pending review
