Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2021-03, with the labels that each got.

#2409 Stabilize Tests
  tests/test_bot.py
  tests/test_photo.py
Labels: tests

#2419 Improve set_webhook
  telegram/ext/updater.py
  tests/test_updater.py
Labels: enhancement, refactor :gear:

#2415 Update pre-commit settings
  .github/CONTRIBUTING.rst
  .github/workflows/pre-commit_dependencies_notifier.yml
  .pre-commit-config.yaml
  Makefile
  examples/conversationbot.py
  examples/conversationbot2.py
  examples/deeplinking.py
  examples/echobot.py
  examples/errorhandlerbot.py
  examples/inlinebot.py
  examples/inlinekeyboard.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
  examples/passportbot.py
  examples/paymentbot.py
  examples/persistentconversationbot.py
  examples/pollbot.py
  examples/rawapibot.py
  examples/timerbot.py
  requirements-dev.txt
  requirements.txt
  setup.cfg
  telegram/__init__.py
  telegram/__main__.py
  telegram/bot.py
  telegram/chat.py
  telegram/ext/defaults.py
  telegram/ext/filters.py
  telegram/ext/jobqueue.py
  telegram/ext/utils/webhookhandler.py
  telegram/inline/inlinequery.py
  telegram/keyboardbutton.py
  telegram/passport/credentials.py
  telegram/replykeyboardmarkup.py
  telegram/user.py
  telegram/utils/helpers.py
  telegram/utils/request.py
Labels: tests, type hinting

#2424 Introducing Api 5.1
  .github/pull_request_template.md
  README.rst
  README_RAW.rst
  docs/source/telegram.chatinvitelink.rst
  docs/source/telegram.chatmemberupdated.rst
  docs/source/telegram.ext.chatmemberhandler.rst
  docs/source/telegram.ext.rst
  docs/source/telegram.messageautodeletetimerchanged.rst
  docs/source/telegram.rst
  docs/source/telegram.voicechatended.rst
  docs/source/telegram.voicechatparticipantsinvited.rst
  docs/source/telegram.voicechatstarted.rst
  telegram/__init__.py
  telegram/__main__.py
  telegram/base.py
  telegram/bot.py
  telegram/callbackquery.py
  telegram/chat.py
  telegram/chatinvitelink.py
  telegram/chatmember.py
  telegram/chatmemberupdated.py
  telegram/choseninlineresult.py
  telegram/constants.py
  telegram/dice.py
  telegram/ext/__init__.py
  telegram/ext/chatmemberhandler.py
  telegram/ext/filters.py
  telegram/inline/inlinequery.py
  telegram/inline/inlinequeryresult.py
  telegram/message.py
  telegram/messageautodeletetimerchanged.py
  telegram/payment/precheckoutquery.py
  telegram/payment/shippingquery.py
  telegram/update.py
  telegram/version.py
  telegram/voicechat.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_chatinvitelink.py
  tests/test_chatmember.py
  tests/test_chatmemberhandler.py
  tests/test_chatmemberupdated.py
  tests/test_filters.py
  tests/test_message.py
  tests/test_messageautodeletetimerchanged.py
  tests/test_update.py
  tests/test_voicechat.py
Labels: API

#2425 Type hinting fixes
  telegram/bot.py
  telegram/callbackquery.py
  telegram/chat.py
  telegram/message.py
  telegram/user.py
Labels: API

#2404 Doc fixes
  .github/CONTRIBUTING.rst
  .readthedocs.yml
  AUTHORS.rst
  README.rst
  README_RAW.rst
  docs/requirements-docs.txt
  docs/source/conf.py
  telegram/bot.py
  telegram/ext/filters.py
  telegram/inline/inlinequery.py
  telegram/user.py
Labels: documentation

#2431 Fix setup.py
  setup.py
Labels: bug :bug:, documentation

#2446 New Filters.forwarded_from filter
  telegram/ext/filters.py
  tests/test_filters.py
Labels: enhancement

#2441 Fix & improve some examples
  examples/conversationbot2.py
  examples/deeplinking.py
  examples/echobot.py
  examples/inlinebot.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
  examples/passportbot.py
  examples/paymentbot.py
  examples/persistentconversationbot.py
  examples/pollbot.py
Labels: bug :bug:, examples

#2448 add escape for '!' in echobot example
  examples/echobot.py
Labels: bug :bug:, examples

#2451 b64-encode fallback bot details
  tests/bots.py
  tests/test_bot.py
Labels: tests
