Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2021-06, with the labels that each got.

#2544 Don't call `done_callback` if Promise raises an exception.
  telegram/ext/utils/promise.py
  tests/test_promise.py
Labels: bug :bug:

#2262 Customize context
  .github/workflows/test.yml
  docs/source/telegram.ext.contexttypes.rst
  docs/source/telegram.ext.rst
  docs/source/telegram.ext.utils.types.rst
  examples/README.md
  examples/contexttypesbot.py
  setup.cfg
  telegram/ext/__init__.py
  telegram/ext/basepersistence.py
  telegram/ext/callbackcontext.py
  telegram/ext/callbackqueryhandler.py
  telegram/ext/chatmemberhandler.py
  telegram/ext/choseninlineresulthandler.py
  telegram/ext/commandhandler.py
  telegram/ext/contexttypes.py
  telegram/ext/conversationhandler.py
  telegram/ext/dictpersistence.py
  telegram/ext/dispatcher.py
  telegram/ext/handler.py
  telegram/ext/inlinequeryhandler.py
  telegram/ext/jobqueue.py
  telegram/ext/messagehandler.py
  telegram/ext/picklepersistence.py
  telegram/ext/pollanswerhandler.py
  telegram/ext/pollhandler.py
  telegram/ext/precheckoutqueryhandler.py
  telegram/ext/regexhandler.py
  telegram/ext/shippingqueryhandler.py
  telegram/ext/stringcommandhandler.py
  telegram/ext/stringregexhandler.py
  telegram/ext/typehandler.py
  telegram/ext/updater.py
  telegram/ext/utils/types.py
  telegram/utils/types.py
  tests/test_callbackcontext.py
  tests/test_contexttypes.py
  tests/test_dispatcher.py
  tests/test_jobqueue.py
  tests/test_persistence.py
  tests/test_slots.py
  tests/test_updater.py
Labels: enhancement

#1844 Arbitrary callback data
  .github/pull_request_template.md
  .pre-commit-config.yaml
  docs/source/telegram.ext.callbackdatacache.rst
  docs/source/telegram.ext.extbot.rst
  docs/source/telegram.ext.invalidcallbackdata.rst
  docs/source/telegram.ext.rst
  examples/README.md
  examples/arbitrarycallbackdatabot.py
  requirements-dev.txt
  requirements.txt
  telegram/bot.py
  telegram/callbackquery.py
  telegram/ext/__init__.py
  telegram/ext/basepersistence.py
  telegram/ext/callbackcontext.py
  telegram/ext/callbackdatacache.py
  telegram/ext/callbackqueryhandler.py
  telegram/ext/conversationhandler.py
  telegram/ext/dictpersistence.py
  telegram/ext/dispatcher.py
  telegram/ext/extbot.py
  telegram/ext/jobqueue.py
  telegram/ext/picklepersistence.py
  telegram/ext/updater.py
  telegram/ext/utils/types.py
  telegram/ext/utils/webhookhandler.py
  telegram/inline/inlinekeyboardbutton.py
  telegram/utils/types.py
  tests/conftest.py
  tests/test_bot.py
  tests/test_callbackcontext.py
  tests/test_callbackdatacache.py
  tests/test_callbackqueryhandler.py
  tests/test_dispatcher.py
  tests/test_error.py
  tests/test_inlinekeyboardbutton.py
  tests/test_invoice.py
  tests/test_message.py
  tests/test_persistence.py
  tests/test_slots.py
  tests/test_updater.py
Labels: enhancement

#2495 Doc Fixes
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question.md
  README.rst
  README_RAW.rst
  examples/README.md
  examples/chatmemberbot.py
  examples/conversationbot.py
  examples/conversationbot2.py
  examples/deeplinking.py
  examples/echobot.py
  examples/errorhandlerbot.py
  examples/inlinebot.py
  examples/inlinekeyboard.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
  examples/passportbot.py
  examples/paymentbot.py
  examples/persistentconversationbot.py
  examples/pollbot.py
  examples/timerbot.py
  telegram/bot.py
  telegram/callbackquery.py
  telegram/chataction.py
  telegram/ext/basepersistence.py
  telegram/ext/defaults.py
  telegram/ext/dictpersistence.py
  telegram/ext/dispatcher.py
  telegram/ext/filters.py
  telegram/ext/jobqueue.py
  telegram/ext/picklepersistence.py
  telegram/games/game.py
  telegram/inline/inlinekeyboardbutton.py
Labels: documentation

#2550 Remove deprecated arg from deeplinking.py
  examples/deeplinking.py
Labels: Do not merge (yet), examples

#2553 Don't throw warning when passing defaults to ExtBot
  telegram/ext/extbot.py
  tests/test_bot.py
Labels: bug :bug:

#2561 BP.insert/replace_bot: Handle objects with __dict__ in __slots__
  telegram/ext/basepersistence.py
  tests/test_persistence.py
Labels: bug :bug:

#2564 Catch exceptions raised while copying __dict__/__slots__ in BasePersi…
  AUTHORS.rst
  telegram/ext/basepersistence.py
  tests/test_persistence.py
Labels: bug :bug:

#2571 Try fixing codecov
  setup.cfg
Labels: tests

#2575 Improve tests
  tests/test_animation.py
  tests/test_bot.py
  tests/test_updater.py
Labels: tests

#2574 add stacklevel parameter to `set_new_attribute_deprecated`
  telegram/utils/deprecate.py
Labels: bug :bug:
