Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2021-02, with the labels that each got.

#2253 Doc Fixes
  README.rst
  examples/conversationbot.py
  examples/conversationbot2.py
  examples/deeplinking.py
  examples/echobot.py
  examples/errorhandlerbot.py
  examples/inlinebot.py
  examples/inlinekeyboard.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
  examples/paymentbot.py
  examples/persistentconversationbot.py
  examples/pollbot.py
  examples/rawapibot.py
  examples/timerbot.py
  telegram/bot.py
  telegram/ext/callbackcontext.py
  telegram/ext/dispatcher.py
  telegram/ext/filters.py
  telegram/files/animation.py
  telegram/files/audio.py
  telegram/files/chatphoto.py
  telegram/files/document.py
  telegram/files/photosize.py
  telegram/files/sticker.py
  telegram/files/video.py
  telegram/files/videonote.py
  telegram/files/voice.py
  telegram/inline/inlinekeyboardbutton.py
  telegram/message.py
  telegram/messageentity.py
  telegram/passport/passportfile.py
  telegram/utils/helpers.py
  tests/test_bot.py
Labels: documentation

#2339 Update docs & ignore edited channel posts
  telegram/ext/conversationhandler.py
  tests/test_conversationhandler.py
Labels: bug :bug:, documentation

#2386 Make cryptography optional
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.rst
  README_RAW.rst
  requirements-dev.txt
  requirements.txt
  setup.cfg
  setup.py
  telegram/bot.py
  telegram/passport/credentials.py
  tests/conftest.py
  tests/test_bot.py
  tests/test_constants.py
  tests/test_meta.py
  tests/test_no_passport.py
  tests/test_official.py
  tests/test_updater.py
Labels: enhancement, refactor :gear:, security :lock:, tests

#2393 Deprecate MQ
  telegram/ext/messagequeue.py
Labels: documentation

#2398 Add telegram.SecureValue to docs
  docs/source/telegram.rst
  docs/source/telegram.securevalue.rst
  telegram/__init__.py
  tests/test_passport.py
Labels: bug :bug:, documentation

#2359 doc fixes
  README_RAW.rst
  telegram/ext/dispatcher.py
  telegram/ext/filters.py
  telegram/inline/inlinequery.py
Labels: documentation
