Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2021-01, with the labels that each got.

#2289 Update Copyright
  telegram/ext/defaults.py
  telegram/ext/pollanswerhandler.py
  telegram/ext/pollhandler.py
  telegram/keyboardbuttonpolltype.py
  telegram/messageid.py
  tests/test_defaults.py
  tests/test_keyboardbuttonpolltype.py
Labels: documentation

#2282 Add 1.5 constants
  telegram/callbackquery.py
  telegram/constants.py
  telegram/inline/inlinequery.py
Labels: enhancement

#2291 Add new shortcuts to Chat
  telegram/chat.py
  telegram/user.py
  telegram/utils/helpers.py
  tests/test_chat.py
Labels: enhancement

#2311 Doc fix for messageentity
  telegram/chat.py
  telegram/ext/conversationhandler.py
  telegram/messageentity.py
  telegram/user.py
  telegram/utils/helpers.py
  tests/test_chat.py
  tests/test_conversationhandler.py
Labels: documentation

#2323 Drop nightly tests & update badges
  .github/workflows/test.yml
  README.rst
Labels: documentation, tests

#2299 Add PR template
  .github/CONTRIBUTING.rst
  .github/pull_request_template.md
Labels: documentation

#2301 Add pyupgrade to pre-commit
  .pre-commit-config.yaml
  examples/conversationbot.py
  examples/conversationbot2.py
  examples/deeplinking.py
  examples/echobot.py
  examples/errorhandlerbot.py
  examples/inlinebot.py
  examples/inlinekeyboard.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
  examples/passportbot.py
  examples/paymentbot.py
  examples/persistentconversationbot.py
  examples/pollbot.py
  examples/rawapibot.py
  examples/timerbot.py
  requirements-dev.txt
  telegram/bot.py
  telegram/ext/picklepersistence.py
  telegram/utils/request.py
  tests/conftest.py
  tests/test_chat.py
  tests/test_commandhandler.py
  tests/test_dispatcher.py
  tests/test_file.py
  tests/test_inputfile.py
  tests/test_messageid.py
  tests/test_parsemode.py
  tests/test_passport.py
  tests/test_photo.py
  tests/test_poll.py
  tests/test_sticker.py
  tests/test_user.py
  tests/test_video.py
  tests/test_videonote.py
  tests/test_voice.py
  tests/test_webhookinfo.py
Labels: tests

#2335 extend deeplinking example
  examples/deeplinking.py
Labels: examples

#2321 Use object instead of Any where possible
  telegram/base.py
  telegram/bot.py
  telegram/chat.py
  telegram/ext/basepersistence.py
  telegram/ext/callbackcontext.py
  telegram/ext/callbackqueryhandler.py
  telegram/ext/choseninlineresulthandler.py
  telegram/ext/commandhandler.py
  telegram/ext/conversationhandler.py
  telegram/ext/defaults.py
  telegram/ext/dictpersistence.py
  telegram/ext/dispatcher.py
  telegram/ext/handler.py
  telegram/ext/inlinequeryhandler.py
  telegram/ext/jobqueue.py
  telegram/ext/messagehandler.py
  telegram/ext/messagequeue.py
  telegram/ext/picklepersistence.py
  telegram/ext/pollanswerhandler.py
  telegram/ext/pollhandler.py
  telegram/ext/precheckoutqueryhandler.py
  telegram/ext/regexhandler.py
  telegram/ext/shippingqueryhandler.py
  telegram/ext/stringcommandhandler.py
  telegram/ext/stringregexhandler.py
  telegram/ext/typehandler.py
  telegram/ext/updater.py
  telegram/files/videonote.py
  telegram/inline/inlinekeyboardmarkup.py
  telegram/replykeyboardmarkup.py
  telegram/utils/deprecate.py
  telegram/utils/helpers.py
  telegram/utils/promise.py
  telegram/utils/request.py
  telegram/utils/webhookhandler.py
  tests/conftest.py
Labels: type hinting
