Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2021-05, with the labels that each got.

#2510 url on InlineKeyboardButton is optional
  telegram/inline/inlinekeyboardbutton.py
Labels: documentation

#2523 Ignore classes on replace/insert_bot
  telegram/ext/basepersistence.py
  tests/test_persistence.py
Labels: bug :bug:

#2527 [#2526] set data['send_phone_number_to_provider'] from corresponding …
  AUTHORS.rst
  telegram/bot.py
  tests/test_invoice.py
Labels: bug :bug:

#2517 Add pattern arg to ChosenInlineResultHandler
  telegram/ext/choseninlineresulthandler.py
  tests/test_choseninlineresulthandler.py
Labels: enhancement

#2522 Stabilize some tests
  tests/test_bot.py
  tests/test_sticker.py
  tests/test_updater.py
Labels: tests

#2520 Increase cbqh coverage
  telegram/ext/callbackqueryhandler.py
  tests/test_callbackqueryhandler.py
Labels: tests

#2537 Update TestPhoto
  tests/test_bot.py
  tests/test_photo.py
  tests/test_updater.py
Labels: tests

#2541 Fix slot tests
  tests/test_slots.py
Labels: tests
