Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2021-10, with the labels that each got.

#2597 Doc fixes
  README.rst
  README_RAW.rst
  docs/requirements-docs.txt
  docs/source/conf.py
  examples/README.md
  telegram/bot.py
  telegram/constants.py
  telegram/ext/jobqueue.py
  telegram/files/inputfile.py
  telegram/files/location.py
Labels: documentation

#2648 Move defaults to ext
  telegram/bot.py
  telegram/ext/dispatcher.py
  telegram/ext/extbot.py
  telegram/ext/handler.py
  telegram/ext/jobqueue.py
  telegram/message.py
  tests/conftest.py
  tests/test_bot.py
  tests/test_dispatcher.py
  tests/test_message.py
Labels: refactor :gear:, breaking :boom:

#2689 Create Issue Template Forms
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question.yml
  AUTHORS.rst
Labels: documentation

#2688 Pathlib weherever possible 2665
  AUTHORS.rst
  examples/arbitrarycallbackdatabot.py
  examples/passportbot.py
  examples/persistentconversationbot.py
  setup.py
  telegram/ext/picklepersistence.py
  telegram/files/file.py
  telegram/files/inputfile.py
  telegram/request.py
  tests/conftest.py
  tests/test_animation.py
  tests/test_audio.py
  tests/test_bot.py
  tests/test_chatphoto.py
  tests/test_constants.py
  tests/test_document.py
  tests/test_file.py
  tests/test_files.py
  tests/test_inputfile.py
  tests/test_inputmedia.py
  tests/test_persistence.py
  tests/test_photo.py
  tests/test_request.py
  tests/test_sticker.py
  tests/test_video.py
  tests/test_videonote.py
  tests/test_voice.py
Labels: enhancement

#2748 Fix failing pylint locally
  .pre-commit-config.yaml
  requirements-dev.txt
  telegram/_bot.py
  telegram/error.py
  telegram/ext/_builders.py
  telegram/ext/_dispatcher.py
  telegram/ext/_updater.py
  telegram/ext/filters.py
Labels: pending merge, tests
