Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2021-09, with the labels that each got.

#2658 Improve performance of pylint
  .pre-commit-config.yaml
Labels: tests

#2660 Move error_handler error handing into Dispatcher.dispatch_error
  telegram/ext/dispatcher.py
  telegram/ext/jobqueue.py
  tests/test_dispatcher.py
  tests/test_jobqueue.py
Labels: enhancement, refactor :gear:

#2662 Warnings overhaul
  docs/source/telegram.rst
  docs/source/telegram.utils.warnings.rst
  telegram/base.py
  telegram/bot.py
  telegram/ext/basepersistence.py
  telegram/ext/conversationhandler.py
  telegram/ext/dispatcher.py
  telegram/ext/updater.py
  telegram/utils/deprecate.py
  telegram/utils/warnings.py
  tests/conftest.py
  tests/test_conversationhandler.py
  tests/test_dispatcher.py
  tests/test_persistence.py
  tests/test_telegramobject.py
  tests/test_updater.py
Labels: enhancement, breaking :boom:

#2675 Make ILQ.answer raise ValueError rather than TypeError
  telegram/inline/inlinequery.py
  tests/test_inlinequery.py
Labels: refactor :gear:, breaking :boom:
