Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2021-08, with the labels that each got.

#2621 move telegramdecryptionerror to error.py
  telegram/__init__.py
  telegram/error.py
  telegram/passport/credentials.py
  telegram/passport/passportdata.py
  tests/test_error.py
  tests/test_passport.py
  tests/test_slots.py
Labels: breaking :boom:

#2624 Make basepersistence methods abstractmethod
  telegram/ext/basepersistence.py
  telegram/ext/dictpersistence.py
  tests/test_dispatcher.py
  tests/test_persistence.py
Labels: breaking :boom:

#2604 Refactor init of Persistence
  docs/source/telegram.ext.persistenceinput.rst
  docs/source/telegram.ext.rst
  examples/arbitrarycallbackdatabot.py
  telegram/ext/__init__.py
  telegram/ext/basepersistence.py
  telegram/ext/callbackcontext.py
  telegram/ext/dictpersistence.py
  telegram/ext/dispatcher.py
  telegram/ext/picklepersistence.py
  tests/test_dispatcher.py
  tests/test_persistence.py
  tests/test_slots.py
Labels: refactor :gear:, breaking :boom:

#2629 Fix readme: Installation with extra [ujson] should be [json].
  README.rst
  README_RAW.rst
Labels: documentation

#2617 Dropping non context
  docs/source/telegram.ext.regexhandler.rst
  docs/source/telegram.ext.rst
  telegram/ext/__init__.py
  telegram/ext/callbackcontext.py
  telegram/ext/callbackqueryhandler.py
  telegram/ext/chatmemberhandler.py
  telegram/ext/choseninlineresulthandler.py
  telegram/ext/commandhandler.py
  telegram/ext/conversationhandler.py
  telegram/ext/dispatcher.py
  telegram/ext/handler.py
  telegram/ext/inlinequeryhandler.py
  telegram/ext/jobqueue.py
  telegram/ext/messagehandler.py
  telegram/ext/pollanswerhandler.py
  telegram/ext/pollhandler.py
  telegram/ext/precheckoutqueryhandler.py
  telegram/ext/regexhandler.py
  telegram/ext/shippingqueryhandler.py
  telegram/ext/stringcommandhandler.py
  telegram/ext/stringregexhandler.py
  telegram/ext/typehandler.py
  telegram/ext/updater.py
  tests/conftest.py
  tests/test_callbackcontext.py
  tests/test_callbackqueryhandler.py
  tests/test_chatmemberhandler.py
  tests/test_choseninlineresulthandler.py
  tests/test_commandhandler.py
  tests/test_conversationhandler.py
  tests/test_defaults.py
  tests/test_dispatcher.py
  tests/test_inlinequeryhandler.py
  tests/test_jobqueue.py
  tests/test_messagehandler.py
  tests/test_persistence.py
  tests/test_pollanswerhandler.py
  tests/test_pollhandler.py
  tests/test_precheckoutqueryhandler.py
  tests/test_regexhandler.py
  tests/test_shippingqueryhandler.py
  tests/test_stringcommandhandler.py
  tests/test_stringregexhandler.py
  tests/test_typehandler.py
  tests/test_updater.py
Labels: breaking :boom:

#2643 Fix method signatures and expand `test_official`
  telegram/bot.py
  telegram/callbackquery.py
  telegram/chatmember.py
  telegram/forcereply.py
  telegram/message.py
  telegram/passport/encryptedpassportelement.py
  telegram/passport/passportelementerrors.py
  telegram/passport/passportfile.py
  telegram/voicechat.py
  tests/test_bot.py
  tests/test_chatmember.py
  tests/test_chatmemberupdated.py
  tests/test_encryptedpassportelement.py
  tests/test_forcereply.py
  tests/test_inputmedia.py
  tests/test_official.py
  tests/test_passport.py
  tests/test_update.py
  tests/test_voicechat.py
Labels: bug :bug:, tests, breaking :boom:

#2644 Remove deprecated things
  telegram/bot.py
  telegram/chat.py
  telegram/chataction.py
  telegram/constants.py
  telegram/ext/__init__.py
  telegram/ext/dispatcher.py
  telegram/ext/filters.py
  telegram/ext/messagequeue.py
  telegram/ext/updater.py
  telegram/ext/utils/promise.py
  telegram/utils/promise.py
  telegram/utils/webhookhandler.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_commandhandler.py
  tests/test_dispatcher.py
  tests/test_filters.py
  tests/test_messagehandler.py
  tests/test_messagequeue.py
  tests/test_updater.py
  tests/test_utils.py
Labels: breaking :boom:
