Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2021-04, with the labels that each got.

#2460 Update chat actions
  telegram/chataction.py
  telegram/constants.py
  tests/test_bot.py
Labels: API

#2483 Add manual darkmode to docs
  docs/requirements-docs.txt
  docs/source/_static/dark.css
  docs/source/conf.py
Labels: documentation, enhancement

#2489 Api 5.2
  .pre-commit-config.yaml
  README.rst
  README_RAW.rst
  docs/source/telegram.inputinvoicemessagecontent.rst
  docs/source/telegram.rst
  docs/source/telegram.voicechatscheduled.rst
  examples/paymentbot.py
  requirements-dev.txt
  telegram/__init__.py
  telegram/bot.py
  telegram/chat.py
  telegram/constants.py
  telegram/ext/dispatcher.py
  telegram/ext/filters.py
  telegram/ext/inlinequeryhandler.py
  telegram/inline/inlinekeyboardmarkup.py
  telegram/inline/inlinequery.py
  telegram/inline/inputinvoicemessagecontent.py
  telegram/inline/inputmessagecontent.py
  telegram/message.py
  telegram/replykeyboardmarkup.py
  telegram/user.py
  telegram/voicechat.py
  tests/test_chat.py
  tests/test_filters.py
  tests/test_inlinequery.py
  tests/test_inlinequeryhandler.py
  tests/test_inputinvoicemessagecontent.py
  tests/test_invoice.py
  tests/test_message.py
  tests/test_user.py
  tests/test_voicechat.py
Labels: API

#2456 Type hinting fixes
  telegram/ext/filters.py
  telegram/ext/messagehandler.py
Labels: type hinting

#2490 ChatMemberHandler example, ChatMemberUpdated.difference & utlitiy constants
  examples/README.md
  examples/chatmemberbot.py
  telegram/chatmemberupdated.py
  telegram/constants.py
  telegram/update.py
  tests/test_chatmemberupdated.py
Labels: enhancement, examples

#2480 Improve tests
  requirements-dev.txt
  tests/test_animation.py
  tests/test_audio.py
  tests/test_bot.py
  tests/test_chatphoto.py
  tests/test_constants.py
  tests/test_contact.py
  tests/test_conversationhandler.py
  tests/test_document.py
  tests/test_file.py
  tests/test_forcereply.py
  tests/test_inlinekeyboardmarkup.py
  tests/test_inputmedia.py
  tests/test_invoice.py
  tests/test_location.py
  tests/test_parsemode.py
  tests/test_photo.py
  tests/test_replykeyboardmarkup.py
  tests/test_replykeyboardremove.py
  tests/test_sticker.py
  tests/test_venue.py
  tests/test_video.py
  tests/test_videonote.py
  tests/test_voice.py
Labels: tests
