Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2022-08, with the labels that each got.

#3167 Improve `InvalidToken` Error Message
  telegram/_bot.py
  telegram/error.py
  telegram/request/_baserequest.py
  tests/test_bot.py
  tests/test_request.py
Labels: enhancement

#3168 Test python 3.11 & Change Enum Behaviour
  .github/workflows/test.yml
  docs/source/conf.py
  setup.py
  telegram/_utils/enum.py
  telegram/constants.py
  tests/bots.py
  tests/test_constants.py
Labels: refactor :gear:, github_actions, python

#3195 API update 6.2
  README.rst
  README_RAW.rst
  docs/source/inclusions/bot_methods.rst
  telegram/_bot.py
  telegram/_chat.py
  telegram/_files/sticker.py
  telegram/_message.py
  telegram/_messageentity.py
  telegram/constants.py
  telegram/ext/filters.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_filters.py
  tests/test_message.py
  tests/test_photo.py
  tests/test_sticker.py
Labels: API

#3148 New rate limiting mechanism
  .github/CONTRIBUTING.rst
  .github/workflows/docs-linkcheck.yml
  .github/workflows/docs.yml
  .github/workflows/pre-commit_dependencies_notifier.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  MANIFEST.in
  README.rst
  docs/source/conf.py
  docs/source/telegram.ext.aioratelimiter.rst
  docs/source/telegram.ext.baseratelimiter.rst
  docs/source/telegram.ext.extbot.rst
  docs/source/telegram.ext.rst
  requirements-all.txt
  requirements-dev.txt
  requirements-opts.txt
  setup.py
  telegram/_bot.py
  telegram/ext/__init__.py
  telegram/ext/_aioratelimiter.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_baseratelimiter.py
  telegram/ext/_extbot.py
  telegram/ext/_utils/types.py
  tests/conftest.py
  tests/test_applicationbuilder.py
  tests/test_bot.py
  tests/test_datetime.py
  tests/test_no_passport.py
  tests/test_ratelimiter.py
Labels: enhancement, refactor :gear:

#3139 Documentation Improvements
  AUTHORS.rst
  docs/source/examples.rst
  docs/source/telegram.ext.acd-tree.rst
  docs/source/telegram.ext.handlers-tree.rst
  docs/source/telegram.ext.persistence-tree.rst
  docs/source/telegram.ext.rate-limiting-tree.rst
  docs/source/telegram.ext.rst
  docs/source/telegram.games-tree.rst
  docs/source/telegram.inline-tree.rst
  docs/source/telegram.passport-tree.rst
  docs/source/telegram.payments-tree.rst
  docs/source/telegram.rst
  docs/source/telegram.stickers-tree.rst
  telegram/_bot.py
  telegram/_chat.py
  telegram/_chatmember.py
  telegram/_files/file.py
  telegram/_inline/inlinekeyboardbutton.py
  telegram/_inline/inlinekeyboardmarkup.py
  telegram/_inline/inlinequeryresultarticle.py
  telegram/_inline/inputtextmessagecontent.py
  telegram/_keyboardbuttonpolltype.py
  telegram/_payment/labeledprice.py
  telegram/_payment/shippingoption.py
  telegram/_poll.py
  telegram/_user.py
  telegram/_webappdata.py
  telegram/_webappinfo.py
  telegram/ext/_application.py
  telegram/ext/_callbackdatacache.py
  telegram/ext/_chatmemberhandler.py
  telegram/ext/_contexttypes.py
  telegram/ext/_conversationhandler.py
  telegram/ext/_extbot.py
  telegram/ext/_inlinequeryhandler.py
  telegram/ext/_jobqueue.py
  telegram/ext/_pollanswerhandler.py
  telegram/ext/_pollhandler.py
  telegram/ext/_precheckoutqueryhandler.py
  telegram/ext/_shippingqueryhandler.py
  telegram/ext/_updater.py
  telegram/helpers.py
Labels: documentation

#3202 Type Hinting fixes
  telegram/_bot.py
  telegram/ext/_extbot.py
Labels: type hinting

#3209 Fix optional deps for tg.ext
  setup.py
Labels: bug :bug:
