Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2022-12, with the labels that each got.

#3396 Drop `if` clauses from each `Bot` method
  telegram/_bot.py
  tests/test_bot.py
Labels: refactor :gear:

#3393 warning to install optional dependencies
  docs/source/examples.rst
  examples/arbitrarycallbackdatabot.py
  examples/passportbot.py
  examples/timerbot.py
  telegram/ext/_application.py
  telegram/ext/_callbackcontext.py
  telegram/ext/_conversationhandler.py
  tests/test_application.py
  tests/test_applicationbuilder.py
  tests/test_callbackcontext.py
  tests/test_conversationhandler.py
Labels: documentation, refactor :gear:

#3419 Reduce code duplication in testing defaults handling
  tests/auxil/bot_method_checks.py
  tests/auxil/object_conversions.py
  tests/conftest.py
  tests/test_animation.py
  tests/test_applicationbuilder.py
  tests/test_audio.py
  tests/test_bot.py
  tests/test_callbackdatacache.py
  tests/test_callbackquery.py
  tests/test_chat.py
  tests/test_chatjoinrequest.py
  tests/test_chatphoto.py
  tests/test_datetime.py
  tests/test_defaults.py
  tests/test_document.py
  tests/test_inlinequery.py
  tests/test_jobqueue.py
  tests/test_message.py
  tests/test_meta.py
  tests/test_no_passport.py
  tests/test_official.py
  tests/test_passportfile.py
  tests/test_photo.py
  tests/test_precheckoutquery.py
  tests/test_ratelimiter.py
  tests/test_request.py
  tests/test_shippingquery.py
  tests/test_sticker.py
  tests/test_updater.py
  tests/test_user.py
  tests/test_video.py
  tests/test_videonote.py
  tests/test_voice.py
Labels: tests

#3386 Documentation Improvements
  docs/requirements-docs.txt
  docs/source/telegram.at-tree.rst
  docs/source/telegram.ext.acd-tree.rst
  docs/source/telegram.ext.handlers-tree.rst
  docs/source/telegram.ext.persistence-tree.rst
  docs/source/telegram.ext.rate-limiting-tree.rst
  docs/source/telegram.games-tree.rst
  docs/source/telegram.inline-tree.rst
  docs/source/telegram.passport-tree.rst
  docs/source/telegram.payments-tree.rst
  docs/source/telegram.request.rst
  docs/source/telegram.stickers-tree.rst
  docs/source/telegram_auxil.rst
  telegram/_bot.py
  telegram/_chat.py
  telegram/_files/_basemedium.py
  telegram/_files/chatphoto.py
  telegram/_passport/passportfile.py
  telegram/ext/_application.py
  telegram/ext/_conversationhandler.py
  telegram/ext/_messagehandler.py
Labels: documentation

#3423 Add links to "Working with Files and Media" wiki page from docstrings
  docs/source/conf.py
  telegram/_bot.py
  telegram/_files/file.py
  telegram/_files/inputmedia.py
  telegram/_inline/inlinequeryresultaudio.py
  telegram/_inline/inlinequeryresultcachedaudio.py
  telegram/_inline/inlinequeryresultcacheddocument.py
  telegram/_inline/inlinequeryresultcachedgif.py
  telegram/_inline/inlinequeryresultcachedmpeg4gif.py
  telegram/_inline/inlinequeryresultcachedphoto.py
  telegram/_inline/inlinequeryresultcachedsticker.py
  telegram/_inline/inlinequeryresultcachedvideo.py
  telegram/_inline/inlinequeryresultcachedvoice.py
  telegram/_inline/inlinequeryresultdocument.py
  telegram/_inline/inlinequeryresultgif.py
  telegram/_inline/inlinequeryresultmpeg4gif.py
  telegram/_inline/inlinequeryresultphoto.py
  telegram/_inline/inlinequeryresultvideo.py
  telegram/_inline/inlinequeryresultvoice.py
  telegram/_message.py
Labels: documentation

#3429 Replace links to PTB wiki with extlinks
  telegram/_bot.py
  telegram/_chatmember.py
  telegram/_dice.py
  telegram/_inline/inlinekeyboardbutton.py
  telegram/_update.py
  telegram/error.py
  telegram/ext/_aioratelimiter.py
  telegram/ext/_application.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_basepersistence.py
  telegram/ext/_baseratelimiter.py
  telegram/ext/_callbackcontext.py
  telegram/ext/_callbackdatacache.py
  telegram/ext/_callbackqueryhandler.py
  telegram/ext/_chatjoinrequesthandler.py
  telegram/ext/_chatmemberhandler.py
  telegram/ext/_choseninlineresulthandler.py
  telegram/ext/_commandhandler.py
  telegram/ext/_contexttypes.py
  telegram/ext/_conversationhandler.py
  telegram/ext/_defaults.py
  telegram/ext/_dictpersistence.py
  telegram/ext/_extbot.py
  telegram/ext/_handler.py
  telegram/ext/_inlinequeryhandler.py
  telegram/ext/_jobqueue.py
  telegram/ext/_messagehandler.py
  telegram/ext/_picklepersistence.py
  telegram/ext/_pollanswerhandler.py
  telegram/ext/_pollhandler.py
  telegram/ext/_precheckoutqueryhandler.py
  telegram/ext/_prefixhandler.py
  telegram/ext/_shippingqueryhandler.py
  telegram/ext/_stringcommandhandler.py
  telegram/ext/_stringregexhandler.py
  telegram/ext/_typehandler.py
  telegram/ext/_updater.py
  telegram/ext/filters.py
  telegram/request/_baserequest.py
  telegram/warnings.py
Labels: documentation, refactor :gear:

#3432 Drop `Job.__lt__`
  telegram/ext/_jobqueue.py
  tests/test_jobqueue.py
Labels: refactor :gear:

#3436 Add public keys and document how to verify releases
  README.rst
  README_RAW.rst
  public_keys/v12.5-v20.0b0.gpg
  public_keys/v20.0-current.gpg
Labels: enhancement, documentation

#3404 Unified args and attrs in classes
  telegram/_botcommand.py
  telegram/_callbackquery.py
  telegram/_chatinvitelink.py
  telegram/_chatlocation.py
  telegram/_chatmember.py
  telegram/_chatmemberupdated.py
  telegram/_choseninlineresult.py
  telegram/_dice.py
  telegram/_files/animation.py
  telegram/_files/audio.py
  telegram/_files/chatphoto.py
  telegram/_files/document.py
  telegram/_files/file.py
  telegram/_files/inputmedia.py
  telegram/_files/location.py
  telegram/_files/photosize.py
  telegram/_files/sticker.py
  telegram/_files/venue.py
  telegram/_files/video.py
  telegram/_files/videonote.py
  telegram/_files/voice.py
  telegram/_forcereply.py
  telegram/_games/game.py
  telegram/_inline/inlinekeyboardbutton.py
  telegram/_inline/inlinequery.py
  telegram/_inline/inlinequeryresultcachedgif.py
  telegram/_inline/inlinequeryresultgif.py
  telegram/_inline/inlinequeryresultlocation.py
  telegram/_inline/inlinequeryresultmpeg4gif.py
  telegram/_inline/inlinequeryresultvenue.py
  telegram/_inline/inlinequeryresultvideo.py
  telegram/_inline/inputinvoicemessagecontent.py
  telegram/_inline/inputlocationmessagecontent.py
  telegram/_inline/inputtextmessagecontent.py
  telegram/_inline/inputvenuemessagecontent.py
  telegram/_keyboardbutton.py
  telegram/_keyboardbuttonpolltype.py
  telegram/_loginurl.py
  telegram/_menubutton.py
  telegram/_messageentity.py
  telegram/_passport/credentials.py
  telegram/_passport/data.py
  telegram/_passport/passportelementerrors.py
  telegram/_passport/passportfile.py
  telegram/_payment/invoice.py
  telegram/_payment/labeledprice.py
  telegram/_payment/precheckoutquery.py
  telegram/_payment/successfulpayment.py
  telegram/_replykeyboardmarkup.py
  telegram/_replykeyboardremove.py
  telegram/_update.py
  telegram/_user.py
  telegram/_userprofilephotos.py
Labels: documentation

#3442 Add log decorator to `get_webhook_info` and add test
  telegram/_bot.py
  tests/test_bot.py
Labels: bug :bug:

#3446 Override `Bot.__deepcopy__`
  docs/source/telegram.bot.rst
  telegram/_bot.py
  tests/test_bot.py
Labels: enhancement
