Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2022-07, with the labels that each got.

#3128 `CH.check_update` doesn't check for `per_user`
  telegram/ext/_conversationhandler.py
  tests/test_conversationhandler.py
Labels: bug :bug:

#3126 Add `post_shutdown`
  telegram/ext/_application.py
  telegram/ext/_applicationbuilder.py
  tests/test_application.py
  tests/test_applicationbuilder.py
Labels: enhancement, pending review

#3136 Make `Bot.delete_my_commands` a coroutine function
  telegram/_bot.py
  tests/test_bot.py
Labels: bug :bug:

#3145 Pin tornado to v6.1
  .pre-commit-config.yaml
  requirements.txt
Labels: dependencies

#3147 Add `api_kwargs` to `log_out`
  telegram/_bot.py
  tests/test_bot.py
Labels: bug :bug:

#3151 small test improvement
  tests/test_bot.py
Labels: tests

#3152 Make chat/user_data available in error handler for errors in jobs
  telegram/ext/_callbackcontext.py
  tests/test_callbackcontext.py
  tests/test_jobqueue.py
Labels: enhancement

#3153 fixed spelling error
  AUTHORS.rst
  docs/source/examples.rst
Labels: documentation

#3155 Fix `mention_markdown` for Markdown V1
  telegram/helpers.py
  tests/test_helpers.py
  tests/test_user.py
Labels: bug :bug:, pending review

#3135 Cross references
  telegram/_bot.py
  telegram/_chatmember.py
  telegram/_inline/inlinekeyboardbutton.py
  telegram/_inline/inlinekeyboardmarkup.py
  telegram/_inline/inlinequeryresultarticle.py
  telegram/_inline/inputtextmessagecontent.py
  telegram/_keyboardbuttonpolltype.py
  telegram/_payment/labeledprice.py
  telegram/_payment/shippingoption.py
  telegram/_poll.py
  telegram/_webappdata.py
  telegram/_webappinfo.py
  telegram/ext/_application.py
  telegram/ext/_callbackdatacache.py
  telegram/ext/_chatmemberhandler.py
  telegram/ext/_contexttypes.py
  telegram/ext/_conversationhandler.py
  telegram/ext/_extbot.py
  telegram/ext/_inlinequeryhandler.py
  telegram/ext/_jobqueue.py
  telegram/ext/_pollanswerhandler.py
  telegram/ext/_pollhandler.py
  telegram/ext/_precheckoutqueryhandler.py
  telegram/ext/_shippingqueryhandler.py
  telegram/helpers.py
Labels: documentation
