Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2022-09, with the labels that each got.

#3203 V13 API 6.2 implementation
  README.rst
  README_RAW.rst
  docs/requirements-docs.txt
  telegram/bot.py
  telegram/chat.py
  telegram/constants.py
  telegram/error.py
  telegram/files/sticker.py
  telegram/message.py
  telegram/messageentity.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_helpers.py
  tests/test_message.py
  tests/test_official.py
  tests/test_photo.py
  tests/test_sticker.py
Labels: API

#3242 Better warning message for unknown state in `ConversationHandler`
  telegram/ext/_conversationhandler.py
  tests/test_conversationhandler.py
Labels: enhancement

#3246 Use py3.11rc2 in tests
  .github/workflows/test.yml
Labels: tests

#3247 Make bot attributes properties
  telegram/_bot.py
Labels: refactor :gear:

#3154 Explicit `--local` mode
  docs/source/conf.py
  docs/source/inclusions/bot_methods.rst
  docs/substitutions/global.rst
  telegram/_bot.py
  telegram/_files/inputfile.py
  telegram/_files/inputmedia.py
  telegram/_utils/files.py
  telegram/_utils/types.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_extbot.py
  tests/test_animation.py
  tests/test_applicationbuilder.py
  tests/test_audio.py
  tests/test_bot.py
  tests/test_document.py
  tests/test_files.py
  tests/test_photo.py
  tests/test_sticker.py
  tests/test_video.py
  tests/test_videonote.py
  tests/test_voice.py
Labels: enhancement, refactor :gear:, breaking :boom:

#3252 Handle non-string data correctly with regex pattern in CQH
  telegram/ext/_callbackqueryhandler.py
  tests/test_callbackqueryhandler.py
Labels: bug :bug:

#3250 Make Job.job a property and make Jobs hashable
  telegram/ext/_jobqueue.py
  tests/test_jobqueue.py
Labels: enhancement, refactor :gear:
