Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2022-04, with the labels that each got.

#2937 Updating the examples
  .pre-commit-config.yaml
  examples/arbitrarycallbackdatabot.py
  examples/chatmemberbot.py
  examples/contexttypesbot.py
  examples/conversationbot.py
  examples/conversationbot2.py
  examples/deeplinking.py
  examples/echobot.py
  examples/errorhandlerbot.py
  examples/inlinebot.py
  examples/inlinekeyboard.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
  examples/passportbot.html
  examples/passportbot.py
  examples/paymentbot.py
  examples/persistentconversationbot.py
  examples/pollbot.py
  examples/rawapibot.py
  examples/timerbot.py
  requirements-dev.txt
Labels: examples

#2936 Asyncio Tests
  telegram/error.py
  telegram/ext/_utils/trackingdict.py
  tests/conftest.py
  tests/test_application.py
  tests/test_applicationbuilder.py
  tests/test_basepersistence.py
  tests/test_bot.py
  tests/test_callbackcontext.py
  tests/test_chat.py
  tests/test_chatjoinrequest.py
  tests/test_chatjoinrequesthandler.py
  tests/test_chatphoto.py
  tests/test_conversationhandler.py
  tests/test_dictpersistence.py
  tests/test_document.py
  tests/test_error.py
  tests/test_gamehighscore.py
  tests/test_inlinequery.py
  tests/test_inlinequeryhandler.py
  tests/test_message.py
  tests/test_messagehandler.py
  tests/test_photo.py
  tests/test_picklepersistence.py
  tests/test_poll.py
  tests/test_precheckoutquery.py
  tests/test_replykeyboardmarkup.py
  tests/test_requestdata.py
  tests/test_requestparameter.py
  tests/test_shippingquery.py
  tests/test_stringregexhandler.py
  tests/test_trackingdict.py
  tests/test_user.py
  tests/test_video.py
  tests/test_videonote.py
  tests/test_voice.py
  tests/test_voicechat.py
Labels: tests

#2922 Expand and fix a filter
  telegram/ext/filters.py
  tests/test_filters.py
Labels: bug :bug:, enhancement, Do not merge (yet)

#2948 to_true shortcut for ChatPermissions
  telegram/_bot.py
  telegram/_chatpermissions.py
  tests/test_chatpermissions.py
Labels: enhancement

#2947 Fix ChatMemberUpdated.difference
  telegram/_chatmemberupdated.py
  tests/test_chatmemberupdated.py
Labels: bug :bug:

#2984 adding permissions to workflow
  .github/workflows/example_notifier.yml
  .github/workflows/pre-commit_dependencies_notifier.yml
  .github/workflows/readme_notifier.yml
Labels: enhancement

#2817 ChM.CREATOR -> Owner & use enums for dynamic types
  examples/chatmemberbot.py
  telegram/_chat.py
  telegram/_chatmember.py
  telegram/_messageentity.py
  telegram/_poll.py
  telegram/_utils/enum.py
  telegram/constants.py
  tests/test_chat.py
  tests/test_chatmemberhandler.py
  tests/test_chatmemberupdated.py
  tests/test_messageentity.py
  tests/test_poll.py
Labels: enhancement, breaking :boom:
