Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2022-01, with the labels that each got.

#2835 API 5.6
  README.rst
  README_RAW.rst
  telegram/bot.py
  telegram/callbackquery.py
  telegram/chat.py
  telegram/constants.py
  telegram/ext/extbot.py
  telegram/message.py
  telegram/messageentity.py
  telegram/user.py
  tests/test_animation.py
  tests/test_audio.py
  tests/test_bot.py
  tests/test_document.py
  tests/test_inputmedia.py
  tests/test_invoice.py
  tests/test_location.py
  tests/test_message.py
  tests/test_messageentity.py
  tests/test_photo.py
  tests/test_sticker.py
  tests/test_video.py
  tests/test_videonote.py
  tests/test_voice.py
Labels: API, pending merge

#2823 Add `Dispatcher.add_handlers`
  telegram/ext/_dispatcher.py
  tests/conftest.py
  tests/test_dispatcher.py
Labels: enhancement, pending merge, breaking :boom:

#2832 Improve Job.__getattr__
  telegram/ext/_jobqueue.py
  tests/test_jobqueue.py
Labels: enhancement, pending merge

#2822 Doc fixes & Improvements
  telegram/_bot.py
  telegram/_botcommand.py
  telegram/_inline/inputinvoicemessagecontent.py
  telegram/_telegramobject.py
  telegram/_update.py
  telegram/ext/filters.py
Labels: documentation

#2840 Add `protect_content` to `Defaults`
  telegram/_bot.py
  telegram/_callbackquery.py
  telegram/_chat.py
  telegram/_message.py
  telegram/_user.py
  telegram/ext/_defaults.py
  telegram/ext/_extbot.py
  tests/test_animation.py
  tests/test_audio.py
  tests/test_bot.py
  tests/test_contact.py
  tests/test_defaults.py
  tests/test_document.py
  tests/test_inputmedia.py
  tests/test_invoice.py
  tests/test_location.py
  tests/test_photo.py
  tests/test_sticker.py
  tests/test_venue.py
  tests/test_video.py
  tests/test_videonote.py
  tests/test_voice.py
Labels: enhancement, pending merge

#2843 Update a test and some formatting fixes
  telegram/_message.py
  telegram/ext/_contexttypes.py
  tests/test_updater.py
Labels: misc, pending merge, tests

#2841 Docs Visual Overhaul
  .github/pull_request_template.md
  docs/Makefile
  docs/requirements-docs.txt
  docs/source/_static/dark.css
  docs/source/_static/style_external_link.css
  docs/source/bot_methods.rst
  docs/source/conf.py
  docs/source/ptb-logo_1024.ico
  telegram/_bot.py
  telegram/ext/_jobqueue.py
Labels: enhancement, documentation

#2854 Doc linkcode tuning
  docs/source/conf.py
  telegram/ext/_extbot.py
Labels: documentation

#2865 fix failing animation tests
  tests/test_animation.py
Labels: tests

#2852 Add `Dispatcher/Persistence.drop_chat/user_data`
  telegram/ext/_basepersistence.py
  telegram/ext/_dictpersistence.py
  telegram/ext/_dispatcher.py
  telegram/ext/_picklepersistence.py
  tests/conftest.py
  tests/test_animation.py
  tests/test_dispatcher.py
  tests/test_persistence.py
Labels: enhancement, breaking :boom:

#2848 Add migrate_chat_data method to dispatcher
  telegram/ext/_dispatcher.py
  tests/test_dispatcher.py
  tests/test_persistence.py
Labels: enhancement

#2872 Replacing git.io links
  .github/ISSUE_TEMPLATE/question.yml
  CHANGES.rst
  docs/source/_static/dark.css
  examples/README.md
  examples/arbitrarycallbackdatabot.py
  examples/inlinekeyboard.py
  examples/passportbot.py
  setup.py
  telegram/_dice.py
  telegram/ext/_builders.py
  telegram/ext/_callbackcontext.py
  telegram/ext/_contexttypes.py
  telegram/ext/_conversationhandler.py
  telegram/ext/_extbot.py
  tests/test_conversationhandler.py
Labels: misc
