Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2022-05, with the labels that each got.

#2958 Update Dependency Policy
  .github/dependabot.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.rst
  README_RAW.rst
  requirements.txt
  setup.py
Labels: bug :bug:, tests

#2956 API 6.0
  README.rst
  README_RAW.rst
  docs/source/bot_methods.rst
  docs/source/conf.py
  docs/source/telegram.chatadministratorrights.rst
  docs/source/telegram.menubutton.rst
  docs/source/telegram.menubuttoncommands.rst
  docs/source/telegram.menubuttondefault.rst
  docs/source/telegram.menubuttonwebapp.rst
  docs/source/telegram.rst
  docs/source/telegram.sentwebappmessage.rst
  docs/source/telegram.videochatended.rst
  docs/source/telegram.videochatparticipantsinvited.rst
  docs/source/telegram.videochatscheduled.rst
  docs/source/telegram.videochatstarted.rst
  docs/source/telegram.voicechatended.rst
  docs/source/telegram.voicechatparticipantsinvited.rst
  docs/source/telegram.voicechatscheduled.rst
  docs/source/telegram.voicechatstarted.rst
  docs/source/telegram.webappdata.rst
  docs/source/telegram.webappinfo.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_chat.py
  telegram/_chatadministratorrights.py
  telegram/_chatmember.py
  telegram/_inline/inlinekeyboardbutton.py
  telegram/_keyboardbutton.py
  telegram/_menubutton.py
  telegram/_message.py
  telegram/_sentwebappmessage.py
  telegram/_user.py
  telegram/_videochat.py
  telegram/_webappdata.py
  telegram/_webappinfo.py
  telegram/_webhookinfo.py
  telegram/constants.py
  telegram/ext/filters.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_chatadministratorrights.py
  tests/test_chatmember.py
  tests/test_filters.py
  tests/test_inlinekeyboardbutton.py
  tests/test_keyboardbutton.py
  tests/test_menubutton.py
  tests/test_message.py
  tests/test_messageautodeletetimerchanged.py
  tests/test_official.py
  tests/test_sentwebappmessage.py
  tests/test_user.py
  tests/test_videochat.py
  tests/test_webappdata.py
  tests/test_webappinfo.py
  tests/test_webhookinfo.py
Labels: enhancement, API

#2995 Adapt Tests to Changed get_file Behavior
  tests/test_chatphoto.py
Labels: tests

#3002 Re-activate max caption length test
  tests/test_bot.py
  tests/test_constants.py
Labels: API, tests

#3009 Special handling for asyncio.CancelledError in BaseRequest and Updater.start_polling
  telegram/ext/_updater.py
  telegram/request/_baserequest.py
Labels: bug :bug:

#3019 Rename `Handler` to `BaseHandler`
  docs/source/telegram.ext.basehandler.rst
  docs/source/telegram.ext.handler.rst
  docs/source/telegram.ext.rst
  telegram/ext/__init__.py
  telegram/ext/_application.py
  telegram/ext/_callbackcontext.py
  telegram/ext/_callbackqueryhandler.py
  telegram/ext/_chatjoinrequesthandler.py
  telegram/ext/_chatmemberhandler.py
  telegram/ext/_choseninlineresulthandler.py
  telegram/ext/_commandhandler.py
  telegram/ext/_conversationhandler.py
  telegram/ext/_defaults.py
  telegram/ext/_handler.py
  telegram/ext/_inlinequeryhandler.py
  telegram/ext/_messagehandler.py
  telegram/ext/_pollanswerhandler.py
  telegram/ext/_pollhandler.py
  telegram/ext/_precheckoutqueryhandler.py
  telegram/ext/_shippingqueryhandler.py
  telegram/ext/_stringcommandhandler.py
  telegram/ext/_stringregexhandler.py
  telegram/ext/_typehandler.py
  telegram/ext/_utils/webhookhandler.py
  tests/test_application.py
  tests/test_basepersistence.py
  tests/test_conversationhandler.py
  tests/test_handler.py
Labels: refactor :gear:, breaking :boom:

#3023 Try improving CC type hinting
  telegram/ext/_callbackcontext.py
  telegram/ext/_contexttypes.py
Labels: type hinting

#3024 Remove parameter validation
  telegram/_bot.py
  tests/test_bot.py
  tests/test_contact.py
  tests/test_venue.py
Labels: API, refactor :gear:

#3017 Fix `CCT.DEFAULT_TYPE` type hint
  examples/arbitrarycallbackdatabot.py
  examples/chatmemberbot.py
  examples/conversationbot.py
  examples/conversationbot2.py
  examples/deeplinking.py
  examples/echobot.py
  examples/errorhandlerbot.py
  examples/inlinebot.py
  examples/inlinekeyboard.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
  examples/passportbot.py
  examples/paymentbot.py
  examples/persistentconversationbot.py
  examples/pollbot.py
  examples/timerbot.py
  telegram/_bot.py
  telegram/_utils/types.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_callbackcontext.py
  telegram/ext/_contexttypes.py
  telegram/ext/_utils/types.py
Labels: type hinting

#3025 WIP: Change types.SLT to use Collection
  telegram/_utils/types.py
  telegram/ext/_commandhandler.py
  telegram/ext/filters.py
Labels: type hinting

#3030 Add a __version_info__ variable
  docs/source/conf.py
  docs/source/telegram.rst
  setup.py
  telegram/__init__.py
  telegram/_version.py
  telegram/constants.py
  tests/test_constants.py
  tests/test_version.py
Labels: enhancement

#3036 enforce v20 in examples
  .github/workflows/example_notifier.yml
  examples/README.md
  examples/arbitrarycallbackdatabot.py
  examples/chatmemberbot.py
  examples/contexttypesbot.py
  examples/conversationbot.py
  examples/conversationbot2.py
  examples/deeplinking.py
  examples/echobot.py
  examples/errorhandlerbot.py
  examples/inlinebot.py
  examples/inlinekeyboard.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
  examples/passportbot.py
  examples/paymentbot.py
  examples/persistentconversationbot.py
  examples/pollbot.py
  examples/rawapibot.py
  examples/timerbot.py
  telegram/_bot.py
Labels: examples

#3033 update some _id_attrs - cleanup for api 6.0
  telegram/_inline/inlinekeyboardbutton.py
  telegram/_keyboardbutton.py
  telegram/_webhookinfo.py
  tests/test_inlinekeyboardbutton.py
  tests/test_keyboardbutton.py
  tests/test_webhookinfo.py
Labels: refactor :gear:, breaking :boom:

#3035 Introduce keyword-only arguments in Bot methods
  telegram/_bot.py
  telegram/_callbackquery.py
  telegram/_chat.py
  telegram/_chatjoinrequest.py
  telegram/_files/_basemedium.py
  telegram/_files/chatphoto.py
  telegram/_inline/inlinequery.py
  telegram/_message.py
  telegram/_passport/passportfile.py
  telegram/_payment/precheckoutquery.py
  telegram/_payment/shippingquery.py
  telegram/_user.py
  telegram/ext/_extbot.py
  tests/conftest.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_message.py
  tests/test_official.py
Labels: refactor :gear:, breaking :boom:

#3043 Make Isort do something in pre-commit step
  .pre-commit-config.yaml
  telegram/__init__.py
  telegram/_utils/types.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_contexttypes.py
  tests/test_application.py
  tests/test_basepersistence.py
  tests/test_version.py
Labels: code quality ✨

#3037 Drop support for `ujson`
  README.rst
  README_RAW.rst
  setup.py
  telegram/_bot.py
  telegram/_passport/credentials.py
  telegram/_telegramobject.py
  telegram/ext/_dictpersistence.py
  telegram/ext/_utils/webhookhandler.py
  telegram/request/_baserequest.py
  telegram/request/_requestdata.py
  telegram/request/_requestparameter.py
  tests/test_dictpersistence.py
  tests/test_invoice.py
  tests/test_requestdata.py
  tests/test_telegramobject.py
Labels: refactor :gear:

#3049 Code Quality Updates
  .pre-commit-config.yaml
  telegram/_bot.py
  telegram/_telegramobject.py
  telegram/request/_baserequest.py
  tests/test_requestdata.py
  tests/test_telegramobject.py
Labels: code quality ✨

#3052 Add webappbot example
  examples/README.md
  examples/webappbot.html
  examples/webappbot.py
Labels: examples

#3055 Escape `\`
  telegram/helpers.py
  tests/test_helpers.py
Labels: bug :bug:

#2973 Replace all `git.io` links with their actual URLs
  .github/ISSUE_TEMPLATE/question.yml
  CHANGES.rst
  docs/source/_static/dark.css
  examples/README.md
  examples/arbitrarycallbackdatabot.py
  examples/inlinekeyboard.py
  examples/passportbot.py
  setup.py
  telegram/dice.py
  telegram/ext/callbackcontext.py
  telegram/ext/callbackqueryhandler.py
  telegram/ext/chatjoinrequesthandler.py
  telegram/ext/chatmemberhandler.py
  telegram/ext/choseninlineresulthandler.py
  telegram/ext/commandhandler.py
  telegram/ext/contexttypes.py
  telegram/ext/conversationhandler.py
  telegram/ext/dispatcher.py
  telegram/ext/extbot.py
  telegram/ext/handler.py
  telegram/ext/inlinequeryhandler.py
  telegram/ext/messagehandler.py
  telegram/ext/messagequeue.py
  telegram/ext/pollanswerhandler.py
  telegram/ext/pollhandler.py
  telegram/ext/precheckoutqueryhandler.py
  telegram/ext/regexhandler.py
  telegram/ext/shippingqueryhandler.py
  tests/test_commandhandler.py
  tests/test_messagehandler.py
Labels: misc

#3029 Doc Fixes v13
  .github/ISSUE_TEMPLATE/question.yml
  CHANGES.rst
  README.rst
  README_RAW.rst
  docs/source/_static/dark.css
  examples/README.md
  examples/arbitrarycallbackdatabot.py
  examples/inlinekeyboard.py
  examples/passportbot.py
  setup.py
  telegram/dice.py
  telegram/ext/callbackcontext.py
  telegram/ext/callbackqueryhandler.py
  telegram/ext/chatjoinrequesthandler.py
  telegram/ext/chatmemberhandler.py
  telegram/ext/choseninlineresulthandler.py
  telegram/ext/commandhandler.py
  telegram/ext/contexttypes.py
  telegram/ext/conversationhandler.py
  telegram/ext/dispatcher.py
  telegram/ext/extbot.py
  telegram/ext/handler.py
  telegram/ext/inlinequeryhandler.py
  telegram/ext/messagehandler.py
  telegram/ext/messagequeue.py
  telegram/ext/pollanswerhandler.py
  telegram/ext/pollhandler.py
  telegram/ext/precheckoutqueryhandler.py
  telegram/ext/regexhandler.py
  telegram/ext/shippingqueryhandler.py
  tests/test_commandhandler.py
  tests/test_messagehandler.py
Labels: documentation

#3057 Empty lists
  telegram/_games/game.py
  telegram/_message.py
  telegram/_poll.py
Labels: refactor :gear:

#3056 Drop explicit type conversions in `__init__` s
  telegram/_botcommandscope.py
  telegram/_chat.py
  telegram/_chatinvitelink.py
  telegram/_files/animation.py
  telegram/_files/location.py
  telegram/_files/photosize.py
  telegram/_files/sticker.py
  telegram/_files/video.py
  telegram/_files/videonote.py
  telegram/_files/voice.py
  telegram/_inline/inlinequeryresultlocation.py
  telegram/_inline/inlinequeryresultphoto.py
  telegram/_inline/inputinvoicemessagecontent.py
  telegram/_inline/inputlocationmessagecontent.py
  telegram/_message.py
  telegram/_messageautodeletetimerchanged.py
  telegram/_messageid.py
  telegram/_update.py
  telegram/_user.py
  telegram/_userprofilephotos.py
  telegram/_videochat.py
  telegram/error.py
  tests/test_chatinvitelink.py
  tests/test_error.py
  tests/test_inputinvoicemessagecontent.py
  tests/test_request.py
Labels: refactor :gear:, breaking :boom:

#3053 Remove `InputFile.is_image`
  telegram/_files/inputfile.py
  tests/data/telegram.midi
  tests/test_inputfile.py
Labels: breaking :boom:

#3067 Documentation updated- added important note for `inlinebot.py` example
  examples/inlinebot.py
Labels: documentation, examples
