Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2022-10, with the labels that each got.

#3271 [#3109] Update helper docs
  telegram/helpers.py
Labels: documentation

#3261 Add chat_id(s) and username(s) parameters to ChatJoinRequestHandler
  AUTHORS.rst
  telegram/ext/_chatjoinrequesthandler.py
  tests/test_chatjoinrequesthandler.py
Labels: enhancement

#3280 Skip `JobQueue` tests on Windows again
  tests/test_jobqueue.py
Labels: tests

#3266 Read only `CallbackDataCache`
  docs/source/telegram.ext.extbot.rst
  telegram/_callbackquery.py
  telegram/ext/_application.py
  telegram/ext/_basepersistence.py
  telegram/ext/_callbackcontext.py
  telegram/ext/_callbackdatacache.py
  telegram/ext/_extbot.py
  tests/conftest.py
  tests/test_applicationbuilder.py
  tests/test_basepersistence.py
  tests/test_bot.py
  tests/test_callbackdatacache.py
  tests/test_dictpersistence.py
  tests/test_picklepersistence.py
  tests/test_updater.py
Labels: refactor :gear:, breaking :boom:

#3292 Unified docstrings
  telegram/_webappdata.py
  telegram/_webhookinfo.py
Labels: documentation, hacktoberfest-accepted

#3296 Add 2 new constants related to local Bot API server
  telegram/constants.py
  tests/test_constants.py
Labels: enhancement

#3294 add `Audio` as return type in `effective_attachment`
  telegram/_message.py
Labels: type hinting

#3276 Add `recursive` parameter to `TO.to_dict()`
  telegram/_bot.py
  telegram/_chatinvitelink.py
  telegram/_chatjoinrequest.py
  telegram/_chatmember.py
  telegram/_chatmemberupdated.py
  telegram/_files/inputmedia.py
  telegram/_files/sticker.py
  telegram/_games/game.py
  telegram/_inline/inlinekeyboardmarkup.py
  telegram/_inline/inlinequeryresult.py
  telegram/_inline/inputinvoicemessagecontent.py
  telegram/_inline/inputtextmessagecontent.py
  telegram/_menubutton.py
  telegram/_message.py
  telegram/_passport/credentials.py
  telegram/_passport/encryptedpassportelement.py
  telegram/_passport/passportdata.py
  telegram/_payment/shippingoption.py
  telegram/_poll.py
  telegram/_replykeyboardmarkup.py
  telegram/_telegramobject.py
  telegram/_userprofilephotos.py
  telegram/_videochat.py
  tests/test_telegramobject.py
Labels: enhancement

#3283 Run Tests in Parallel
  .github/CONTRIBUTING.rst
  .github/workflows/test.yml
  requirements-dev.txt
  tests/test_bot.py
  tests/test_datetime.py
Labels: tests

#3313 Officially support Python 3.11
  .github/workflows/test.yml
Labels: python

#3312 Unifying the docs for the Poll class.
  telegram/_poll.py
Labels: documentation

#3234 Readable string representations for TelegramObject
  docs/source/telegram.telegramobject.rst
  telegram/_telegramobject.py
  tests/test_telegramobject.py
Labels: refactor :gear:

#3319 Document dunder methods of TO
  docs/source/telegram.telegramobject.rst
  telegram/_telegramobject.py
Labels: documentation

#3306 Add references to wiki
  telegram/_bot.py
  telegram/_chatmember.py
  telegram/_chatmemberupdated.py
  telegram/_inline/inlinekeyboardbutton.py
  telegram/_inline/inlinequeryresult.py
  telegram/_message.py
  telegram/_replykeyboardmarkup.py
  telegram/_replykeyboardremove.py
  telegram/_update.py
  telegram/error.py
  telegram/ext/_aioratelimiter.py
  telegram/ext/_application.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_basepersistence.py
  telegram/ext/_baseratelimiter.py
  telegram/ext/_callbackcontext.py
  telegram/ext/_callbackdatacache.py
  telegram/ext/_callbackqueryhandler.py
  telegram/ext/_chatjoinrequesthandler.py
  telegram/ext/_chatmemberhandler.py
  telegram/ext/_choseninlineresulthandler.py
  telegram/ext/_commandhandler.py
  telegram/ext/_contexttypes.py
  telegram/ext/_conversationhandler.py
  telegram/ext/_defaults.py
  telegram/ext/_dictpersistence.py
  telegram/ext/_extbot.py
  telegram/ext/_handler.py
  telegram/ext/_inlinequeryhandler.py
  telegram/ext/_jobqueue.py
  telegram/ext/_messagehandler.py
  telegram/ext/_picklepersistence.py
  telegram/ext/_pollanswerhandler.py
  telegram/ext/_pollhandler.py
  telegram/ext/_precheckoutqueryhandler.py
  telegram/ext/_prefixhandler.py
  telegram/ext/_shippingqueryhandler.py
  telegram/ext/_stringcommandhandler.py
  telegram/ext/_stringregexhandler.py
  telegram/ext/_typehandler.py
  telegram/ext/_updater.py
  telegram/ext/filters.py
  telegram/request/_baserequest.py
  telegram/warnings.py
Labels: documentation, hacktoberfest-accepted

#3308 Add mention_XXX to Chat class
  telegram/_chat.py
  tests/test_chat.py
Labels: enhancement, hacktoberfest-accepted

#3267 Optional 3rd Party dependencies
  .github/workflows/test.yml
  README.rst
  README_RAW.rst
  requirements-opts.txt
  requirements.txt
  setup.py
  telegram/_utils/datetime.py
  telegram/ext/_application.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_callbackdatacache.py
  telegram/ext/_conversationhandler.py
  telegram/ext/_defaults.py
  telegram/ext/_jobqueue.py
  telegram/ext/_updater.py
  telegram/ext/_utils/webhookhandler.py
  telegram/request/_httpxrequest.py
  tests/conftest.py
  tests/test_applicationbuilder.py
  tests/test_bot.py
  tests/test_callbackdatacache.py
  tests/test_chatjoinrequest.py
  tests/test_chatjoinrequesthandler.py
  tests/test_chatmemberupdated.py
  tests/test_datetime.py
  tests/test_defaults.py
  tests/test_jobqueue.py
  tests/test_no_passport.py
  tests/test_ratelimiter.py
  tests/test_request.py
  tests/test_updater.py
Labels: refactor :gear:, breaking :boom:, dependencies, needs wiki update 📖
