Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2022-06, with the labels that each got.

#3077 Feature/convinience message property
  AUTHORS.rst
  telegram/_message.py
  tests/test_message.py
Labels: enhancement

#3065 Feat: Don't add signal handlers on Windows
  requirements-dev.txt
  telegram/ext/_application.py
  tests/test_application.py
Labels: windows, refactor :gear:

#3059 Update `CC.__init__` & add example on custom webhooks
  examples/README.md
  examples/contexttypesbot.py
  examples/customwebhookbot.py
  setup.cfg
  telegram/ext/_callbackcontext.py
Labels: enhancement, examples

#3068 Fix a bug with non-blocking entry points
  telegram/ext/_conversationhandler.py
  tests/test_conversationhandler.py
Labels: bug :bug:

#3078 Add `post_init`
  telegram/ext/_application.py
  telegram/ext/_applicationbuilder.py
  tests/test_application.py
  tests/test_applicationbuilder.py
Labels: enhancement

#3089 move examples to docs
  README.rst
  README_RAW.rst
  docs/source/examples.arbitrarycallbackdatabot.rst
  docs/source/examples.chatmemberbot.rst
  docs/source/examples.contexttypesbot.rst
  docs/source/examples.conversationbot.rst
  docs/source/examples.conversationbot2.rst
  docs/source/examples.customwebhookbot.rst
  docs/source/examples.deeplinking.rst
  docs/source/examples.echobot.rst
  docs/source/examples.errorhandlerbot.rst
  docs/source/examples.inlinebot.rst
  docs/source/examples.inlinekeyboard.rst
  docs/source/examples.inlinekeyboard2.rst
  docs/source/examples.nestedconversationbot.rst
  docs/source/examples.passportbot.rst
  docs/source/examples.paymentbot.rst
  docs/source/examples.persistentconversationbot.rst
  docs/source/examples.pollbot.rst
  docs/source/examples.rawapibot.rst
  docs/source/examples.rst
  docs/source/examples.timerbot.rst
  docs/source/examples.webappbot.rst
  docs/source/index.rst
  examples/README.md
  examples/arbitrarycallbackdatabot.py
  examples/chatmemberbot.py
  examples/contexttypesbot.py
  examples/conversationbot.py
  examples/conversationbot2.py
  examples/customwebhookbot.py
  examples/deeplinking.py
  examples/echobot.py
  examples/errorhandlerbot.py
  examples/inlinebot.py
  examples/inlinekeyboard.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
  examples/passportbot.py
  examples/paymentbot.py
  examples/persistentconversationbot.py
  examples/pollbot.py
  examples/rawapibot.py
  examples/timerbot.py
  examples/webappbot.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_conversationhandler.py
Labels: documentation, examples

#3090 Mermaid example diagrams
  AUTHORS.rst
  docs/requirements-docs.txt
  docs/source/_static/style_mermaid_diagrams.css
  docs/source/conf.py
  docs/source/examples.conversationbot.rst
  docs/source/examples.conversationbot2.rst
  docs/source/examples.nestedconversationbot.rst
  examples/conversationbot.mmd
  examples/conversationbot.png
  examples/conversationbot2.mmd
  examples/conversationbot2.png
  examples/nestedconversationbot.mmd
  examples/nestedconversationbot.png
Labels: enhancement, examples

#3119 Try stabilizing some tests
  tests/conftest.py
  tests/test_bot.py
  tests/test_passport.py
  tests/test_picklepersistence.py
  tests/test_updater.py
Labels: tests

#3112 Api 6.1
  README.rst
  README_RAW.rst
  docs/source/bot_methods.rst
  telegram/_bot.py
  telegram/_chat.py
  telegram/_files/sticker.py
  telegram/_inline/inputinvoicemessagecontent.py
  telegram/_loginurl.py
  telegram/_payment/invoice.py
  telegram/_user.py
  telegram/constants.py
  telegram/ext/_application.py
  telegram/ext/_updater.py
  telegram/ext/_utils/webhookhandler.py
  telegram/ext/filters.py
  tests/conftest.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_filters.py
  tests/test_invoice.py
  tests/test_sticker.py
  tests/test_updater.py
  tests/test_user.py
Labels: API

#3103 Documentation Improvements
  AUTHORS.rst
  README.rst
  README_RAW.rst
  docs/requirements-docs.txt
  telegram/_bot.py
  telegram/_inline/inlinekeyboardbutton.py
  telegram/ext/_application.py
  telegram/ext/_callbackdatacache.py
  telegram/ext/_jobqueue.py
Labels: documentation
