Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2023-07, with the labels that each got.

#3777 Remove Test Artifacts Automatically
  tests/_files/test_animation.py
  tests/_files/test_audio.py
  tests/_files/test_chatphoto.py
  tests/_files/test_document.py
  tests/_files/test_file.py
  tests/_files/test_photo.py
  tests/_files/test_sticker.py
  tests/_files/test_video.py
  tests/_files/test_videonote.py
  tests/_files/test_voice.py
  tests/conftest.py
Labels: tests

#3751 Add Python 3.12 beta to test matrix
  .github/workflows/test.yml
  .github/workflows/type_completeness.yml
  .pre-commit-config.yaml
  telegram/ext/_application.py
  tests/ext/test_application.py
  tests/ext/test_basepersistence.py
  tests/ext/test_picklepersistence.py
Labels: python

#3698 Documentation Improvements
  .github/CONTRIBUTING.rst
  AUTHORS.rst
  CHANGES.rst
  README.rst
  README_RAW.rst
  docs/source/conf.py
  docs/source/examples.rst
  docs/source/stability_policy.rst
  examples/inlinebot.py
  telegram/_bot.py
  telegram/_chatjoinrequest.py
  telegram/ext/_application.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_callbackcontext.py
  telegram/ext/_jobqueue.py
  telegram/request/_requestdata.py
Labels: documentation

#3792 Test and Document `Exception.__cause__` on `NetworkError`
  telegram/error.py
  tests/request/test_request.py
Labels: enhancement
