Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2023-10, with the labels that each got.

#3906 try fixing failing tests
  tests/_files/test_photo.py
  tests/_files/test_sticker.py
Labels: tests

#3912 Move `test_official` to separate workflow file
  .github/workflows/test_official.yml
  .github/workflows/unit_tests.yml
Labels: tests

#3911 Add Rich Equality Comparison to `WriteAccessAllowed`
  telegram/_writeaccessallowed.py
  tests/test_writeaccessallowed.py
Labels: enhancement

#3915 Support python 3.12 final
  .github/workflows/unit_tests.yml
Labels: tests, python

#3898 API 6.9
  README.rst
  README_RAW.rst
  telegram/_bot.py
  telegram/_chat.py
  telegram/_chatadministratorrights.py
  telegram/_chatmember.py
  telegram/_message.py
  telegram/_writeaccessallowed.py
  telegram/constants.py
  telegram/ext/_extbot.py
  tests/test_bot.py
  tests/test_chatadministratorrights.py
  tests/test_chatmember.py
Labels: API

#3910 Doc fixes
  telegram/_bot.py
  telegram/_chatadministratorrights.py
  telegram/_chatjoinrequest.py
  telegram/_chatmember.py
  telegram/_inline/inlinequeryresultsbutton.py
  telegram/_webappinfo.py
Labels: documentation

#3873 Remove backward compatibility layer introduced in #3853
  telegram/_poll.py
  tests/test_poll.py
Labels: API, breaking :boom:

#3907 Add docs for ctx managers
  docs/source/conf.py
  docs/substitutions/global.rst
  telegram/_bot.py
  telegram/ext/_application.py
  telegram/ext/_baseupdateprocessor.py
  telegram/ext/_updater.py
  telegram/request/_baserequest.py
Labels: documentation

#3913 Add `JobQueue.scheduler_configuration` and add corresponding warnings
  telegram/ext/_jobqueue.py
  tests/ext/test_jobqueue.py
Labels: enhancement, documentation

#3935 Add Parameter `socket_options` to `HTTPXRequest`
  .pre-commit-config.yaml
  telegram/request/_httpxrequest.py
  tests/ext/test_applicationbuilder.py
  tests/request/test_request.py
Labels: enhancement, needs wiki update 📖

#3934 Improve `BaseHandler.__repr__` for Callbacks without `__qualname__`
  telegram/ext/_basehandler.py
  tests/ext/test_basehandler.py
Labels: enhancement

#3939 Rename Parameter `proxy_url` to `proxy` and Support `httpx.Proxy` as Input
  telegram/ext/_applicationbuilder.py
  telegram/request/_httpxrequest.py
  tests/ext/test_applicationbuilder.py
  tests/request/test_request.py
Labels: enhancement

#3941 Add `filters.Mention`
  telegram/ext/filters.py
  tests/ext/test_filters.py
Labels: enhancement

#3942 Change `DVInput` -> `ODVInput` in all bot methods
  telegram/_bot.py
  telegram/_callbackquery.py
  telegram/_chat.py
  telegram/_message.py
  telegram/_user.py
  telegram/ext/_extbot.py
  tests/test_official.py
Labels: type hinting

#3943 Add `ApplicationBuilder.(get_updates_)socket_options`
  telegram/_utils/types.py
  telegram/ext/_applicationbuilder.py
  telegram/request/_httpxrequest.py
  tests/ext/test_applicationbuilder.py
Labels: enhancement
