Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2023-02, with the labels that each got.

#3525 Fix: Isort broke, so upgrade required
  .pre-commit-config.yaml
Labels: code quality ✨

#3515 Clean up `docs/source/conf.py`
  .pre-commit-config.yaml
  docs/auxil/admonition_inserter.py
  docs/auxil/kwargs_insertion.py
  docs/auxil/link_code.py
  docs/auxil/sphinx_hooks.py
  docs/auxil/tg_const_role.py
  docs/source/conf.py
Labels: documentation

#3523 Add tests for admonitions
  .github/workflows/docs.yml
  tests/docs/README.md
  tests/docs/admonition_inserter.py
Labels: documentation, tests

#3498 Fix Docs Search in Sphinx 6.0+
  docs/requirements-docs.txt
  docs/source/conf.py
Labels: documentation, pending merge, dependencies

#3529 Autogenerate "Shortcuts" admonitions
  docs/auxil/admonition_inserter.py
  docs/auxil/sphinx_hooks.py
  docs/source/_static/style_admonitions.css
  telegram/_bot.py
  tests/docs/admonition_inserter.py
Labels: enhancement, documentation

#3531 Increase verbosity of type completeness CI Job
  .github/workflows/type_completeness.yml
Labels: github_actions

#3530 API 6.5 update
  README.rst
  README_RAW.rst
  docs/source/telegram.at-tree.rst
  docs/source/telegram.chatshared.rst
  docs/source/telegram.keyboardbuttonrequestchat.rst
  docs/source/telegram.keyboardbuttonrequestuser.rst
  docs/source/telegram.usershared.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_chat.py
  telegram/_chatjoinrequest.py
  telegram/_chatmember.py
  telegram/_chatpermissions.py
  telegram/_keyboardbutton.py
  telegram/_keyboardbuttonrequest.py
  telegram/_message.py
  telegram/_shared.py
  telegram/_user.py
  telegram/constants.py
  telegram/ext/_extbot.py
  telegram/ext/filters.py
  tests/test_bot.py
  tests/test_chatjoinrequest.py
  tests/test_chatjoinrequesthandler.py
  tests/test_chatmember.py
  tests/test_chatpermissions.py
  tests/test_filters.py
  tests/test_keyboardbutton.py
  tests/test_keyboardbuttonrequest.py
  tests/test_message.py
  tests/test_official.py
  tests/test_shared.py
  tests/test_update.py
Labels: API

#3547 Use `dict` instead of literal
  telegram/request/_httpxrequest.py
Labels: github_actions

#3539 Update cryptography to address vulnerability
  README.rst
  README_RAW.rst
  requirements-opts.txt
Labels: security :lock:, dependencies

#3551 Type completeness foreign repo
  .github/workflows/type_completeness.yml
Labels: github_actions

#3543 Fix Application.create_task type hinting
  AUTHORS.rst
  telegram/ext/_application.py
  telegram/ext/_callbackcontext.py
  tests/test_application.py
Labels: enhancement, type hinting
