Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2023-01, with the labels that each got.

#3453 Freeze empty classes
  telegram/_forumtopic.py
  telegram/_games/callbackgame.py
  telegram/_inline/inputcontactmessagecontent.py
  telegram/_inline/inputinvoicemessagecontent.py
  telegram/_inline/inputlocationmessagecontent.py
  telegram/_inline/inputmessagecontent.py
  telegram/_inline/inputtextmessagecontent.py
  telegram/_inline/inputvenuemessagecontent.py
  telegram/_telegramobject.py
  telegram/_videochat.py
  tests/test_bot.py
  tests/test_telegramobject.py
Labels: bug :bug:

#3456 Link check ci fix
  .github/workflows/docs-linkcheck.yml
  telegram/ext/_commandhandler.py
Labels: documentation, github_actions

#3457 Downgrade `sphinx` to 5.3.0 to fix docs search
  .github/CONTRIBUTING.rst
  docs/requirements-docs.txt
Labels: documentation

#3449 API 6.4
  .github/workflows/test.yml
  README.rst
  README_RAW.rst
  docs/source/inclusions/bot_methods.rst
  docs/source/telegram.at-tree.rst
  docs/source/telegram.forumtopicedited.rst
  docs/source/telegram.generalforumtopichidden.rst
  docs/source/telegram.generalforumtopicunhidden.rst
  docs/source/telegram.writeaccessallowed.rst
  docs/substitutions/global.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_chat.py
  telegram/_files/inputmedia.py
  telegram/_forumtopic.py
  telegram/_message.py
  telegram/_replykeyboardmarkup.py
  telegram/_user.py
  telegram/_writeaccessallowed.py
  telegram/constants.py
  telegram/ext/_extbot.py
  telegram/ext/filters.py
  tests/bots.py
  tests/test_animation.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_filters.py
  tests/test_forum.py
  tests/test_inputmedia.py
  tests/test_photo.py
  tests/test_replykeyboardmarkup.py
  tests/test_video.py
  tests/test_writeaccessallowed.py
Labels: API

#3460 Stabilize tests on closing and hiding the general forum topic
  tests/test_forum.py
Labels: tests

#3466 Add `post_stop`
  telegram/ext/_application.py
  telegram/ext/_applicationbuilder.py
  tests/test_application.py
  tests/test_applicationbuilder.py
Labels: enhancement

#3469 Cache GH action dependencies
  .github/workflows/docs.yml
  .github/workflows/test.yml
Labels: tests

#3468 Upload GH action built docs as Artifacts
  .github/workflows/docs.yml
Labels: documentation

#3484 Custom sidebar brand style
  docs/source/_static/style_general.css
  docs/source/_static/style_sidebar_brand.css
  docs/source/conf.py
Labels: documentation

#3497 Added copy button in docs
  AUTHORS.rst
  docs/requirements-docs.txt
  docs/source/conf.py
Labels: enhancement, documentation

#3503 Issue warning in `run_daily` only if `days` parameter was passed
  telegram/ext/_jobqueue.py
  tests/test_jobqueue.py
Labels: refactor :gear:

#3505 Improve error message for `NetworkError`
  telegram/request/_httpxrequest.py
  tests/test_request.py
Labels: enhancement

#3507 Bump ruff and add target-version to its config
  .pre-commit-config.yaml
  pyproject.toml
Labels: code quality ✨

#3500 Fix the chatmemberbot example
  examples/chatmemberbot.py
Labels: examples

#3510 Run locking job only once per day
  .github/workflows/lock.yml
Labels: github_actions

#3506 Use HTTP/2 by default
  README.rst
  README_RAW.rst
  requirements.txt
  telegram/ext/_applicationbuilder.py
  telegram/request/_httpxrequest.py
  tests/test_applicationbuilder.py
  tests/test_request.py
Labels: enhancement

#3512 Fixed referenced variable in docstring of AIORateLimiter
  telegram/ext/_aioratelimiter.py
Labels: documentation

#3514 add check if keyboard has more than 2 dimensions
  telegram/_utils/markup.py
  tests/test_inlinekeyboardmarkup.py
  tests/test_replykeyboardmarkup.py
Labels: enhancement

#3501 Add admonitions
  .github/CONTRIBUTING.rst
  docs/auxil/admonition_inserter.py
  docs/source/_static/style_admonitions.css
  docs/source/conf.py
  telegram/_bot.py
  telegram/_chatadministratorrights.py
  telegram/_keyboardbutton.py
  telegram/_passport/credentials.py
  telegram/_poll.py
  telegram/ext/_basepersistence.py
  telegram/ext/_callbackdatacache.py
  telegram/ext/_dictpersistence.py
  telegram/ext/_jobqueue.py
  telegram/ext/_picklepersistence.py
Labels: enhancement, documentation
