Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2023-09, with the labels that each got.

#3853 API 6.8
  README.rst
  README_RAW.rst
  docs/source/inclusions/bot_methods.rst
  docs/source/telegram.at-tree.rst
  docs/source/telegram.story.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_chat.py
  telegram/_message.py
  telegram/_poll.py
  telegram/_story.py
  telegram/constants.py
  telegram/ext/_extbot.py
  telegram/ext/filters.py
  tests/_utils/test_files.py
  tests/ext/test_filters.py
  tests/ext/test_pollanswerhandler.py
  tests/test_chat.py
  tests/test_forum.py
  tests/test_message.py
  tests/test_poll.py
  tests/test_story.py
  tests/test_update.py
Labels: API

#3871 Type Hinting Fixes
  telegram/_webhookinfo.py
Labels: type hinting

#3803 Documentation Improvements
  .github/CONTRIBUTING.rst
  .github/pull_request_template.md
  AUTHORS.rst
  README.rst
  README_RAW.rst
  docs/auxil/kwargs_insertion.py
  docs/requirements-docs.txt
  docs/source/conf.py
  docs/substitutions/global.rst
  telegram/_messageentity.py
  telegram/error.py
  telegram/ext/_application.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_callbackqueryhandler.py
  telegram/ext/_chatjoinrequesthandler.py
  telegram/ext/_chatmemberhandler.py
  telegram/ext/_choseninlineresulthandler.py
  telegram/ext/_commandhandler.py
  telegram/ext/_messagehandler.py
  telegram/ext/_pollanswerhandler.py
  telegram/ext/_pollhandler.py
  telegram/ext/_precheckoutqueryhandler.py
  telegram/ext/_prefixhandler.py
  telegram/ext/_shippingqueryhandler.py
  telegram/ext/_stringcommandhandler.py
  telegram/ext/_stringregexhandler.py
  telegram/ext/_typehandler.py
Labels: documentation

#3858 Remove Bot API Related Deprecations
  docs/source/inclusions/bot_methods.rst
  docs/substitutions/global.rst
  telegram/_bot.py
  telegram/_chat.py
  telegram/_chatmember.py
  telegram/_chatpermissions.py
  telegram/_files/_basethumbedmedium.py
  telegram/_files/animation.py
  telegram/_files/audio.py
  telegram/_files/document.py
  telegram/_files/inputmedia.py
  telegram/_files/sticker.py
  telegram/_files/video.py
  telegram/_files/videonote.py
  telegram/_inline/inlinequery.py
  telegram/_inline/inlinequeryresultarticle.py
  telegram/_inline/inlinequeryresultcontact.py
  telegram/_inline/inlinequeryresultdocument.py
  telegram/_inline/inlinequeryresultgif.py
  telegram/_inline/inlinequeryresultlocation.py
  telegram/_inline/inlinequeryresultmpeg4gif.py
  telegram/_inline/inlinequeryresultphoto.py
  telegram/_inline/inlinequeryresultsbutton.py
  telegram/_inline/inlinequeryresultvenue.py
  telegram/_inline/inlinequeryresultvideo.py
  telegram/_keyboardbutton.py
  telegram/_message.py
  telegram/_user.py
  telegram/_utils/warnings_transition.py
  telegram/_version.py
  telegram/ext/_extbot.py
  tests/_files/test_animation.py
  tests/_files/test_audio.py
  tests/_files/test_document.py
  tests/_files/test_inputmedia.py
  tests/_files/test_sticker.py
  tests/_files/test_video.py
  tests/_files/test_videonote.py
  tests/_inline/test_inlinequeryresultarticle.py
  tests/_inline/test_inlinequeryresultcontact.py
  tests/_inline/test_inlinequeryresultdocument.py
  tests/_inline/test_inlinequeryresultgif.py
  tests/_inline/test_inlinequeryresultlocation.py
  tests/_inline/test_inlinequeryresultmpeg4gif.py
  tests/_inline/test_inlinequeryresultphoto.py
  tests/_inline/test_inlinequeryresultvenue.py
  tests/_inline/test_inlinequeryresultvideo.py
  tests/auxil/deprecations.py
  tests/docs/admonition_inserter.py
  tests/test_bot.py
  tests/test_chatmember.py
  tests/test_chatpermissions.py
  tests/test_forum.py
  tests/test_keyboardbutton.py
  tests/test_message.py
  tests/test_official.py
Labels: API, breaking :boom:

#3884 Remove `__ne__` from `Defaults`
  telegram/ext/_defaults.py
  tests/ext/test_defaults.py
Labels: refactor :gear:

#3868 Verify type hints for Bot method & class parameters
  telegram/_bot.py
  telegram/_callbackquery.py
  telegram/_chat.py
  telegram/_loginurl.py
  telegram/_message.py
  telegram/_passport/encryptedpassportelement.py
  telegram/_passport/passportelementerrors.py
  telegram/_passport/passportfile.py
  telegram/_payment/orderinfo.py
  telegram/_payment/shippingquery.py
  telegram/ext/_extbot.py
  tests/README.rst
  tests/_passport/test_passportelementerrorfiles.py
  tests/_passport/test_passportelementerrortranslationfiles.py
  tests/_passport/test_passportfile.py
  tests/auxil/envvars.py
  tests/conftest.py
  tests/test_official.py
Labels: API, pending merge, tests

#3826 Add `__repr__` methods for selected classes
  telegram/_bot.py
  telegram/_utils/repr.py
  telegram/ext/_application.py
  telegram/ext/_basehandler.py
  telegram/ext/_conversationhandler.py
  telegram/ext/_extbot.py
  telegram/ext/_jobqueue.py
  telegram/ext/_updater.py
  tests/ext/test_application.py
  tests/ext/test_basehandler.py
  tests/ext/test_conversationhandler.py
  tests/ext/test_jobqueue.py
  tests/ext/test_updater.py
  tests/test_bot.py
Labels: enhancement, pending merge

#3883 Rearrange magic methods to the top
  telegram/_bot.py
  telegram/_telegramobject.py
  telegram/_utils/defaultvalue.py
  telegram/ext/_application.py
  telegram/ext/_baseupdateprocessor.py
  telegram/ext/_defaults.py
  telegram/ext/_jobqueue.py
  telegram/ext/_updater.py
  telegram/ext/_utils/trackingdict.py
  telegram/ext/filters.py
Labels: pending merge, code quality ✨

#3882 Use `black`'s `--preview` flag once as a test
  docs/auxil/admonition_inserter.py
  docs/auxil/kwargs_insertion.py
  docs/source/conf.py
  examples/contexttypesbot.py
  examples/deeplinking.py
  examples/errorhandlerbot.py
  examples/persistentconversationbot.py
  examples/webappbot.py
  telegram/_bot.py
  telegram/ext/_application.py
  telegram/ext/_callbackdatacache.py
  telegram/ext/_conversationhandler.py
  telegram/ext/filters.py
  tests/_passport/test_passport.py
  tests/_payment/test_invoice.py
  tests/ext/test_basepersistence.py
  tests/ext/test_conversationhandler.py
  tests/ext/test_filters.py
  tests/test_bot.py
Labels: pending merge, code quality ✨

#3888 Set the threshold for PY-R1000 to high
  .deepsource.toml
Labels: code quality ✨
