Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2023-04, with the labels that each got.

#3631 Use pytest's `--lf` and `--lfnf` to stabilize tests
  .github/workflows/test.yml
Labels: tests

#3607 Mark data for persistence update
  telegram/ext/_application.py
  telegram/ext/_basepersistence.py
  tests/ext/test_basepersistence.py
Labels: enhancement

#3664 Remove `codecov` package from CI
  .github/workflows/test.yml
Labels: tests, dependencies

#3632 Localize datetimes to defaults timezone
  AUTHORS.rst
  docs/substitutions/global.rst
  telegram/_chatinvitelink.py
  telegram/_chatjoinrequest.py
  telegram/_chatmember.py
  telegram/_chatmemberupdated.py
  telegram/_message.py
  telegram/_poll.py
  telegram/_utils/datetime.py
  telegram/_videochat.py
  telegram/_webhookinfo.py
  tests/_utils/test_datetime.py
  tests/conftest.py
  tests/test_chatinvitelink.py
  tests/test_chatjoinrequest.py
  tests/test_chatmember.py
  tests/test_chatmemberupdated.py
  tests/test_message.py
  tests/test_poll.py
  tests/test_videochat.py
  tests/test_webhookinfo.py
Labels: refactor :gear:

#3668 Add Logging for Invalid JSON Data in `parse_json_payload`
  telegram/request/_baserequest.py
  tests/request/test_request.py
Labels: enhancement

#3674 Improve Warning Categories & Stacklevels
  telegram/_bot.py
  telegram/_files/_basethumbedmedium.py
  telegram/_utils/warnings_transition.py
  telegram/ext/_conversationhandler.py
  telegram/ext/_extbot.py
  telegram/ext/_picklepersistence.py
  tests/_files/test_animation.py
  tests/_files/test_audio.py
  tests/_files/test_document.py
  tests/_files/test_sticker.py
  tests/_files/test_video.py
  tests/_files/test_videonote.py
  tests/_inline/test_inlinequeryresultarticle.py
  tests/_inline/test_inlinequeryresultgif.py
  tests/_inline/test_inlinequeryresultmpeg4gif.py
  tests/_inline/test_inlinequeryresultphoto.py
  tests/_inline/test_inlinequeryresultvideo.py
  tests/auxil/deprecations.py
  tests/ext/test_application.py
  tests/ext/test_callbackcontext.py
  tests/ext/test_conversationhandler.py
  tests/ext/test_dictpersistence.py
  tests/ext/test_jobqueue.py
  tests/ext/test_picklepersistence.py
  tests/test_bot.py
  tests/test_chatpermissions.py
  tests/test_keyboardbutton.py
  tests/test_telegramobject.py
Labels: enhancement, tests

#3685 Fix: Fix test_delete_sticker_set
  tests/_files/test_sticker.py
Labels: tests
