Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2023-12, with the labels that each got.

#3929 Add dunder method docstring
  docs/source/conf.py
  docs/source/telegram.bot.rst
  docs/source/telegram.ext.application.rst
  docs/source/telegram.ext.basehandler.rst
  docs/source/telegram.ext.conversationhandler.rst
  docs/source/telegram.ext.extbot.rst
  docs/source/telegram.ext.filters.rst
  docs/source/telegram.ext.job.rst
  docs/source/telegram.ext.jobqueue.rst
  docs/source/telegram.ext.updater.rst
  docs/source/telegram.telegramobject.rst
  telegram/_bot.py
  telegram/error.py
  telegram/ext/_callbackdatacache.py
  telegram/ext/_defaults.py
  telegram/ext/_jobqueue.py
  telegram/ext/filters.py
  tests/test_bot.py
Labels: documentation

#4001 Add `AsyncContextManager` as Parent Class to `BaseUpdateProcessor`
  telegram/ext/_baseupdateprocessor.py
Labels: enhancement, type hinting

#4035 Improve Type Completeness Workflow
  .github/workflows/type_completeness.yml
  telegram/ext/_jobqueue.py
Labels: tests, type hinting
