Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2023-08, with the labels that each got.

#3823 Extend Allowed Values for HTTP Version
  telegram/_utils/types.py
  telegram/ext/_applicationbuilder.py
  telegram/request/_httpxrequest.py
  tests/request/test_request.py
Labels: enhancement, type hinting

#3816 document more about `proxy_url` and `get_updates_proxy_url`
  telegram/ext/_applicationbuilder.py
Labels: documentation

#3829 Add .. seealso doc sections in `ApplicationBuilder`.
  AUTHORS.rst
  telegram/ext/_applicationbuilder.py
Labels: documentation

#3820 Provide Versions of `customwebhookbot.py` with Different Frameworks
  docs/requirements-docs.txt
  docs/source/conf.py
  docs/source/examples.customwebhookbot.rst
  examples/customwebhookbot/djangobot.py
  examples/customwebhookbot/flaskbot.py
  examples/customwebhookbot/quartbot.py
  examples/customwebhookbot/starlettebot.py
  setup.cfg
Labels: examples

#3804 Add `Application.stop_running` and Improve Marking Updates as Read on `Updater.stop`
  docs/source/inclusions/application_run_tip.rst
  telegram/ext/_application.py
  telegram/ext/_updater.py
  tests/ext/test_application.py
  tests/ext/test_updater.py
Labels: enhancement

#3847 Use python 3.12rc1 in tests & add classifier
  .github/workflows/test.yml
  setup.py
Labels: tests, python

#3846 Remove version check from examples
  examples/arbitrarycallbackdatabot.py
  examples/chatmemberbot.py
  examples/contexttypesbot.py
  examples/conversationbot.py
  examples/conversationbot2.py
  examples/customwebhookbot/djangobot.py
  examples/customwebhookbot/flaskbot.py
  examples/customwebhookbot/quartbot.py
  examples/customwebhookbot/starlettebot.py
  examples/deeplinking.py
  examples/echobot.py
  examples/errorhandlerbot.py
  examples/inlinebot.py
  examples/inlinekeyboard.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
  examples/passportbot.py
  examples/paymentbot.py
  examples/persistentconversationbot.py
  examples/pollbot.py
  examples/rawapibot.py
  examples/timerbot.py
  examples/webappbot.py
Labels: examples

#3854 Check commands in commandhandler for args
  AUTHORS.rst
  telegram/ext/_commandhandler.py
  tests/ext/test_commandhandler.py
Labels: enhancement
