Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2023-05, with the labels that each got.

#3657 shield-update-fetcher
  telegram/ext/_application.py
  tests/ext/test_application.py
Labels: enhancement

#3676 Recover 100% Type Completeness
  .github/workflows/type_completeness.yml
  telegram/_bot.py
  telegram/_botdescription.py
  telegram/_botname.py
  telegram/_switchinlinequerychosenchat.py
Labels: tests, type hinting

#3622 Add a Stability policy
  .github/CONTRIBUTING.rst
  .github/pull_request_template.md
  CHANGES.rst
  docs/source/examples.rst
  docs/source/index.rst
  docs/source/stability_policy.rst
  docs/source/telegram.ext.rst
  telegram/_telegramobject.py
  telegram/error.py
Labels: enhancement, documentation

#3628 Documentation Improvements
  README.rst
  README_RAW.rst
  telegram/_bot.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_jobqueue.py
  telegram/ext/filters.py
Labels: documentation

#3708 Fix formatting in 20.0a1 changelog
  AUTHORS.rst
  CHANGES.rst
Labels: documentation

#3709 Fix incorrect and inconsistent timeout types
  telegram/_bot.py
  telegram/ext/_application.py
  telegram/ext/_extbot.py
  telegram/ext/_updater.py
Labels: API, type hinting

#3713 Automatically Label pre-commit CI PRs
  .github/labeler.yml
  .github/workflows/labelling.yml
Labels: github_actions

#3712 Exclude type hints from stability policy
  docs/source/stability_policy.rst
Labels: documentation

#3719 Upgrade Furo to support sphinx 7
  docs/requirements-docs.txt
Labels: documentation, dependencies

#3716 Auto-Update Changed Version in Other Files After Dependabot PRs
  .github/workflows/dependabot-prs.yml
Labels: github_actions
