Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2023-06, with the labels that each got.

#3654 Customized concurrent handling
  docs/source/telegram.ext.baseupdateprocessor.rst
  docs/source/telegram.ext.rst
  docs/source/telegram.ext.simpleupdateprocessor.rst
  telegram/ext/__init__.py
  telegram/ext/_application.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_baseupdateprocessor.py
  tests/ext/test_application.py
  tests/ext/test_applicationbuilder.py
  tests/ext/test_baseupdateprocessor.py
Labels: enhancement, needs wiki update 📖

#3695 Make JobQueues APS-Interface more explicit
  telegram/ext/_jobqueue.py
  tests/ext/test_jobqueue.py
Labels: enhancement, refactor :gear:

#3739 Fix Two Bugs in GitHub Actions Workflows
  .github/labeler.yml
  .github/workflows/dependabot-prs.yml
Labels: bug :bug:, github_actions

#3741 Explicitly set `allowed_updates` in examples
  examples/arbitrarycallbackdatabot.py
  examples/contexttypesbot.py
  examples/conversationbot.py
  examples/conversationbot2.py
  examples/customwebhookbot.py
  examples/deeplinking.py
  examples/echobot.py
  examples/errorhandlerbot.py
  examples/inlinebot.py
  examples/inlinekeyboard.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
  examples/passportbot.py
  examples/paymentbot.py
  examples/persistentconversationbot.py
  examples/pollbot.py
  examples/rawapibot.py
  examples/timerbot.py
  examples/webappbot.py
Labels: examples

#3746 set `httpx` logging level to `WARNING` in examples
  examples/arbitrarycallbackdatabot.py
  examples/chatmemberbot.py
  examples/contexttypesbot.py
  examples/conversationbot.py
  examples/conversationbot2.py
  examples/customwebhookbot.py
  examples/deeplinking.py
  examples/echobot.py
  examples/errorhandlerbot.py
  examples/inlinebot.py
  examples/inlinekeyboard.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
  examples/passportbot.py
  examples/paymentbot.py
  examples/persistentconversationbot.py
  examples/pollbot.py
  examples/rawapibot.py
  examples/webappbot.py
Labels: examples

#3740 Remove Python 3.7 workaround for `PicklePersistence`
  telegram/ext/_picklepersistence.py
Labels: refactor :gear:, python

#3753 Make use of `@final`, `Final` and `Literal`
  telegram/_botcommand.py
  telegram/_botcommandscope.py
  telegram/_botname.py
  telegram/_callbackquery.py
  telegram/_chat.py
  telegram/_chatlocation.py
  telegram/_chatmember.py
  telegram/_dice.py
  telegram/_files/chatphoto.py
  telegram/_files/location.py
  telegram/_files/sticker.py
  telegram/_forcereply.py
  telegram/_inline/inlinekeyboardbutton.py
  telegram/_inline/inlinequery.py
  telegram/_inline/inlinequeryresult.py
  telegram/_inline/inlinequeryresultlocation.py
  telegram/_inline/inlinequeryresultsbutton.py
  telegram/_inline/inputlocationmessagecontent.py
  telegram/_menubutton.py
  telegram/_messageentity.py
  telegram/_payment/invoice.py
  telegram/_poll.py
  telegram/_replykeyboardmarkup.py
  telegram/_update.py
  telegram/_utils/types.py
  telegram/_version.py
  telegram/constants.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_baseupdateprocessor.py
  telegram/ext/_chatmemberhandler.py
  telegram/ext/_conversationhandler.py
  telegram/ext/_utils/trackingdict.py
  telegram/request/_baserequest.py
  telegram/request/_httpxrequest.py
Labels: type hinting, python

#3764 fix error with `Literal`, causing tests/docs to fail
  docs/auxil/admonition_inserter.py
Labels: bug :bug:, documentation

#3767 Remove obsolete note from contributing guidelines
  .github/CONTRIBUTING.rst
Labels: documentation

#3768 Correct `KeyboardButton` `__eq__` warning message
  telegram/_keyboardbutton.py
  tests/test_keyboardbutton.py
Labels: bug :bug:, pending review

#3762 Use @final and Literal in more places
  telegram/_bot.py
  telegram/_chat.py
  telegram/_message.py
  telegram/_user.py
  telegram/_utils/types.py
  telegram/ext/_defaults.py
  telegram/ext/_extbot.py
  telegram/helpers.py
  telegram/request/_requestdata.py
  telegram/request/_requestparameter.py
Labels: type hinting, python

#3761 Rename `_handler.py` to `_basehandler.py`
  telegram/ext/__init__.py
  telegram/ext/_application.py
  telegram/ext/_basehandler.py
  telegram/ext/_callbackqueryhandler.py
  telegram/ext/_chatjoinrequesthandler.py
  telegram/ext/_chatmemberhandler.py
  telegram/ext/_choseninlineresulthandler.py
  telegram/ext/_commandhandler.py
  telegram/ext/_conversationhandler.py
  telegram/ext/_inlinequeryhandler.py
  telegram/ext/_messagehandler.py
  telegram/ext/_pollanswerhandler.py
  telegram/ext/_pollhandler.py
  telegram/ext/_precheckoutqueryhandler.py
  telegram/ext/_prefixhandler.py
  telegram/ext/_shippingqueryhandler.py
  telegram/ext/_stringcommandhandler.py
  telegram/ext/_stringregexhandler.py
  telegram/ext/_typehandler.py
  tests/ext/test_basehandler.py
Labels: pending review, refactor :gear:

#3776 Rework Pytest Integration into GitHub Actions
  .github/workflows/test.yml
  tests/auxil/plugin_github_group.py
  tests/conftest.py
Labels: enhancement, tests, github_actions

#3780 Add quotes for installation intsructions with optional dependencies
  README.rst
  README_RAW.rst
  docs/source/examples.rst
  examples/arbitrarycallbackdatabot.py
  examples/passportbot.py
  examples/timerbot.py
  telegram/_bot.py
  telegram/_passport/credentials.py
  telegram/ext/_aioratelimiter.py
  telegram/ext/_application.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_callbackcontext.py
  telegram/ext/_callbackdatacache.py
  telegram/ext/_jobqueue.py
  telegram/ext/_updater.py
  telegram/request/_httpxrequest.py
  tests/ext/test_application.py
  tests/ext/test_callbackcontext.py
Labels: documentation

#3763 Add some more `ruff` rules
  .pre-commit-config.yaml
  pyproject.toml
  telegram/_files/inputsticker.py
  telegram/_telegramobject.py
  telegram/ext/_aioratelimiter.py
  telegram/ext/_application.py
  telegram/ext/_dictpersistence.py
  telegram/ext/_jobqueue.py
  tests/auxil/deprecations.py
  tests/ext/test_jobqueue.py
  tests/test_chatpermissions.py
  tests/test_keyboardbutton.py
  tests/test_slots.py
Labels: pending merge, code quality ✨

#3759 Pass `name` to `asyncio.create_task`
  telegram/ext/_application.py
  telegram/ext/_conversationhandler.py
  telegram/ext/_jobqueue.py
  telegram/ext/_updater.py
  tests/ext/test_application.py
  tests/ext/test_basepersistence.py
  tests/ext/test_conversationhandler.py
  tests/ext/test_updater.py
Labels: enhancement, pending merge, python
