Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2024-02, with the labels that each got.

#4061 Blockquote api 7.0 branched
  .github/workflows/unit_tests.yml
  docs/substitutions/global.rst
  telegram/_message.py
  tests/test_message.py
Labels: API

#4088 Migrate from `setup.cfg` to `pyproject.toml`
  .pre-commit-config.yaml
  docs/requirements-docs.txt
  pyproject.toml
  setup.cfg
Labels: misc, pending merge

#4100 Drop Usage of DeepSource
  .deepsource.toml
  docs/auxil/link_code.py
  telegram/__main__.py
  telegram/_bot.py
  telegram/_dice.py
  telegram/_keyboardbuttonpolltype.py
  telegram/_keyboardbuttonrequest.py
  telegram/_menubutton.py
  telegram/_passport/credentials.py
  telegram/_utils/datetime.py
  telegram/_utils/enum.py
  telegram/_utils/warnings.py
  telegram/ext/_aioratelimiter.py
  telegram/ext/_basepersistence.py
  telegram/ext/_handlers/callbackqueryhandler.py
  telegram/ext/_handlers/choseninlineresulthandler.py
  telegram/ext/_handlers/commandhandler.py
  telegram/ext/_handlers/inlinequeryhandler.py
  telegram/ext/_handlers/messagehandler.py
  telegram/ext/_handlers/prefixhandler.py
  telegram/ext/_handlers/stringcommandhandler.py
  telegram/ext/_handlers/stringregexhandler.py
  telegram/ext/_jobqueue.py
  telegram/ext/_picklepersistence.py
  telegram/ext/_utils/webhookhandler.py
  telegram/ext/filters.py
Labels: code quality ✨

#4084 Add `Bot.do_api_request`
  docs/auxil/kwargs_insertion.py
  telegram/_bot.py
  telegram/_utils/strings.py
  telegram/error.py
  telegram/ext/_extbot.py
  telegram/request/_baserequest.py
  tests/test_bot.py
  tests/test_error.py
Labels: enhancement, API, needs wiki update 📖

#4002 Documentation Improvements
  .readthedocs.yml
  AUTHORS.rst
  CHANGES.rst
  docs/source/telegram.constants.rst
  telegram/_bot.py
  telegram/_files/file.py
  telegram/ext/_application.py
  telegram/ext/_extbot.py
Labels: documentation

#4087 Refactor and overhaul `test_official`
  .github/workflows/test_official.yml
  pyproject.toml
  telegram/_bot.py
  telegram/ext/_extbot.py
  tests/README.rst
  tests/conftest.py
  tests/test_official.py
  tests/test_official/__init__.py
  tests/test_official/arg_type_checker.py
  tests/test_official/exceptions.py
  tests/test_official/helpers.py
  tests/test_official/scraper.py
  tests/test_official/test_official.py
Labels: pending merge, tests, refactor :gear:

#4130 Add missing slot to `Updater`
  telegram/ext/_updater.py
Labels: bug :bug:

#4114 Remove Functionality Deprecated in API 7.0
  docs/source/telegram.at-tree.rst
  docs/source/telegram.keyboardbuttonrequestuser.rst
  docs/source/telegram.usershared.rst
  docs/substitutions/global.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_callbackquery.py
  telegram/_chat.py
  telegram/_inline/inputtextmessagecontent.py
  telegram/_keyboardbutton.py
  telegram/_keyboardbuttonrequest.py
  telegram/_message.py
  telegram/_shared.py
  telegram/_user.py
  telegram/_utils/argumentparsing.py
  telegram/_utils/warnings_transition.py
  telegram/ext/_extbot.py
  telegram/ext/filters.py
  tests/_inline/test_inputtextmessagecontent.py
  tests/auxil/bot_method_checks.py
  tests/ext/test_filters.py
  tests/test_bot.py
  tests/test_keyboardbutton.py
  tests/test_keyboardbuttonrequest.py
  tests/test_maybeinaccessiblemessage.py
  tests/test_message.py
  tests/test_official/exceptions.py
  tests/test_shared.py
Labels: API, breaking :boom:

#4120 Add Parameter `media_write_timeout` to `HTTPXRequest` and Method `ApplicationBuilder.media_write_timeout`
  telegram/ext/_applicationbuilder.py
  telegram/request/_httpxrequest.py
  tests/ext/test_applicationbuilder.py
  tests/request/test_request.py
Labels: enhancement
