Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2024-12, with the labels that each got.

#4566 Full Support for Bot API 8.0
  README.rst
  docs/source/inclusions/bot_methods.rst
  docs/source/telegram.at-tree.rst
  docs/source/telegram.gift.rst
  docs/source/telegram.gifts.rst
  docs/source/telegram.inline-tree.rst
  docs/source/telegram.preparedinlinemessage.rst
  docs/source/telegram.stickers-tree.rst
  docs/substitutions/global.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_chat.py
  telegram/_gifts.py
  telegram/_inline/preparedinlinemessage.py
  telegram/_payment/stars.py
  telegram/_payment/successfulpayment.py
  telegram/_telegramobject.py
  telegram/_user.py
  telegram/constants.py
  telegram/ext/_callbackdatacache.py
  telegram/ext/_defaults.py
  telegram/ext/_extbot.py
  tests/_inline/test_preparedinlinemessage.py
  tests/_payment/test_invoice.py
  tests/_payment/test_successfulpayment.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_gifts.py
  tests/test_official/arg_type_checker.py
  tests/test_official/exceptions.py
  tests/test_stars.py
  tests/test_user.py
Labels: ⚙️ bot-api, 🔌 enhancement

#4589 Widen specified type for `allowed_updates` Application/Updater parameter
  telegram/_webhookinfo.py
  telegram/ext/_application.py
  telegram/ext/_updater.py
Labels: ⚙️ type-hinting, 🔌 enhancement

#4594 Full Support for Bot API 8.1
  README.rst
  docs/auxil/sphinx_hooks.py
  docs/source/telegram.affiliateinfo.rst
  docs/source/telegram.constants.rst
  docs/source/telegram.payments-tree.rst
  docs/source/telegram.transactionpartneraffiliateprogram.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_payment/stars.py
  telegram/_utils/enum.py
  telegram/constants.py
  tests/test_constants.py
  tests/test_stars.py
Labels: ⚙️ bot-api, 🔌 enhancement

#4606 Add Static Security Analysis of GitHub Actions Workflows
  .github/workflows/dependabot-prs.yml
  .github/workflows/docs-linkcheck.yml
  .github/workflows/docs.yml
  .github/workflows/gha_security.yml
  .github/workflows/labelling.yml
  .github/workflows/lock.yml
  .github/workflows/release_pypi.yml
  .github/workflows/release_test_pypi.yml
  .github/workflows/stale.yml
  .github/workflows/test_official.yml
  .github/workflows/type_completeness.yml
  .github/workflows/type_completeness_monthly.yml
  .github/workflows/unit_tests.yml
Labels: ⚙️ security, 🔗 github-actions, ⚙️ ci-cid

#4615 Refactor Module Structure and Tests for Star Payments Classes
  telegram/__init__.py
  telegram/_bot.py
  telegram/_payment/stars.py
  telegram/_payment/stars/__init__.py
  telegram/_payment/stars/affiliateinfo.py
  telegram/_payment/stars/revenuewithdrawalstate.py
  telegram/_payment/stars/startransactions.py
  telegram/_payment/stars/transactionpartner.py
  tests/_payment/stars/__init__.py
  tests/_payment/stars/test_affiliateinfo.py
  tests/_payment/stars/test_revenuewithdrawelstate.py
  tests/_payment/stars/test_startransactions.py
  tests/_payment/stars/test_transactionpartner.py
  tests/test_stars.py
Labels: 🛠 refactor

#4616 Allow Input of Type `Sticker` for Several Methods
  pyproject.toml
  telegram/_bot.py
  telegram/ext/_extbot.py
  tests/_files/test_sticker.py
  tests/auxil/bot_method_checks.py
  tests/test_official/arg_type_checker.py
  tests/test_official/exceptions.py
  tests/test_official/helpers.py
Labels: ⚙️ tests, 🔌 enhancement

#4621 Set Custom Labels for Dependabot PRs
  .github/dependabot.yml
Labels: ⚙️ ci-cid
