Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2024-06, with the labels that each got.

#4283 API 7.4 - Invoice changes
  docs/substitutions/global.rst
  telegram/_bot.py
  telegram/_chat.py
  telegram/_inline/inputinvoicemessagecontent.py
  telegram/_message.py
  telegram/_payment/invoice.py
  telegram/_payment/precheckoutquery.py
  telegram/_payment/successfulpayment.py
  telegram/_user.py
  telegram/ext/_extbot.py
  tests/_payment/test_invoice.py
  tests/test_official/exceptions.py
Labels: API

#4285 API 7.4 Documentation updates
  telegram/_inline/inlinekeyboardbutton.py
  telegram/_keyboardbutton.py
Labels: documentation

#4270 Deprecate `python-telegram-bot-raw`
  README.rst
  README_RAW.rst
  telegram/__init__.py
  telegram/_utils/datetime.py
Labels: refactor :gear:

#4276 API 7.4
  README.rst
  README_RAW.rst
  docs/source/inclusions/bot_methods.rst
  docs/substitutions/global.rst
  telegram/_bot.py
  telegram/_callbackquery.py
  telegram/_chat.py
  telegram/_files/inputmedia.py
  telegram/_inline/inlinekeyboardbutton.py
  telegram/_inline/inlinequeryresultcachedgif.py
  telegram/_inline/inlinequeryresultcachedmpeg4gif.py
  telegram/_inline/inlinequeryresultcachedphoto.py
  telegram/_inline/inlinequeryresultcachedvideo.py
  telegram/_inline/inlinequeryresultgif.py
  telegram/_inline/inlinequeryresultmpeg4gif.py
  telegram/_inline/inlinequeryresultphoto.py
  telegram/_inline/inlinequeryresultvideo.py
  telegram/_inline/inputinvoicemessagecontent.py
  telegram/_keyboardbutton.py
  telegram/_message.py
  telegram/_messageentity.py
  telegram/_payment/invoice.py
  telegram/_payment/precheckoutquery.py
  telegram/_payment/successfulpayment.py
  telegram/_user.py
  telegram/constants.py
  telegram/ext/_extbot.py
  telegram/ext/filters.py
  tests/_files/test_animation.py
  tests/_files/test_inputmedia.py
  tests/_files/test_photo.py
  tests/_files/test_video.py
  tests/_inline/test_inlinequeryresultcachedgif.py
  tests/_inline/test_inlinequeryresultcachedmpeg4gif.py
  tests/_inline/test_inlinequeryresultcachedphoto.py
  tests/_inline/test_inlinequeryresultcachedvideo.py
  tests/_inline/test_inlinequeryresultgif.py
  tests/_inline/test_inlinequeryresultmpeg4gif.py
  tests/_inline/test_inlinequeryresultphoto.py
  tests/_inline/test_inlinequeryresultvideo.py
  tests/_payment/test_invoice.py
  tests/ext/test_filters.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_constants.py
  tests/test_message.py
  tests/test_official/exceptions.py
  tests/test_user.py
Labels: API

#4290 Add chat_id in ChatMemberHandler to Filter Specific Chat(s) #4287
  telegram/ext/_handlers/chatmemberhandler.py
  tests/ext/test_chatmemberhandler.py
Labels: enhancement

#4288 Drop `python-telegram-bot-raw` And Switch to `pyproject.toml` Based Packaging
  .github/CONTRIBUTING.rst
  .github/workflows/docs.yml
  .github/workflows/pre-commit_dependencies_notifier.yml
  .github/workflows/readme_notifier.yml
  .github/workflows/test_official.yml
  .github/workflows/type_completeness.yml
  .github/workflows/unit_tests.yml
  .pre-commit-config.yaml
  MANIFEST.in
  README.rst
  README_RAW.rst
  docs/requirements-docs.txt
  pyproject.toml
  requirements-all.txt
  requirements-dev-all.txt
  requirements-dev.txt
  requirements-opts.txt
  requirements-unit-tests.txt
  requirements.txt
  setup.cfg
  setup.py
  setup_raw.py
  telegram/__init__.py
  telegram/_version.py
  tests/README.rst
  tests/test_meta.py
Labels: refactor :gear:

#4253 Support Python 3.13 beta
  .github/workflows/type_completeness.yml
  .github/workflows/unit_tests.yml
  pyproject.toml
  telegram/_chatfullinfo.py
  telegram/_giveaway.py
  telegram/_inline/inputtextmessagecontent.py
  telegram/_update.py
  telegram/ext/_application.py
  tests/auxil/pytest_classes.py
  tests/conftest.py
  tests/ext/test_application.py
  tests/request/test_request.py
  tests/test_bot.py
  tests/test_message.py
Labels: python

#4322 Updated Requirement of flaky to at least 3.8.1
  requirements-unit-tests.txt
Labels: dependencies

#4329 Bump ruff and add new rules
  .pre-commit-config.yaml
  examples/passportbot.py
  pyproject.toml
  telegram/__main__.py
  telegram/ext/_jobqueue.py
  tests/request/test_request.py
  tests/test_bot.py
Labels: examples, code quality ✨

#4315 API 7.5 `business_connection_id` Parameters
  docs/substitutions/global.rst
  telegram/_bot.py
  telegram/_callbackquery.py
  telegram/_message.py
  telegram/ext/_extbot.py
  tests/test_bot.py
  tests/test_callbackquery.py
  tests/test_message.py
Labels: API

#4311 API 7.5 new classes
  docs/source/telegram.at-tree.rst
  docs/source/telegram.revenuewithdrawalstate.rst
  docs/source/telegram.revenuewithdrawalstatefailed.rst
  docs/source/telegram.revenuewithdrawalstatepending.rst
  docs/source/telegram.revenuewithdrawalstatesucceeded.rst
  docs/source/telegram.startransaction.rst
  docs/source/telegram.startransactions.rst
  docs/source/telegram.transactionpartner.rst
  docs/source/telegram.transactionpartnerfragment.rst
  docs/source/telegram.transactionpartnerother.rst
  docs/source/telegram.transactionpartneruser.rst
  telegram/__init__.py
  telegram/_chatfullinfo.py
  telegram/_stars.py
  telegram/constants.py
  tests/test_stars.py
Labels: API

#4328 API 7.5 - `get_star_transactions`
  docs/source/inclusions/bot_methods.rst
  telegram/_bot.py
  telegram/constants.py
  telegram/ext/_extbot.py
  tests/test_bot.py
Labels: API
