Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2024-11, with the labels that each got.

#4545 Fix Linkcheck Workflow
  .github/workflows/docs-linkcheck.yml
  README.rst
  telegram/_files/inputfile.py
Labels: documentation, tests

#4547 Bot API 7.11: Add `CopyTextButton` and Integrate into `InlineKeyboardButton`
  docs/source/telegram.at-tree.rst
  docs/source/telegram.copytextbutton.rst
  telegram/__init__.py
  telegram/_copytextbutton.py
  telegram/_inline/inlinekeyboardbutton.py
  telegram/constants.py
  tests/_inline/test_inlinekeyboardbutton.py
  tests/test_copytextbutton.py
Labels: API

#4550 Bot API 7.11: Add `allow_paid_broadcast` Argument to `Bot` Methods
  docs/substitutions/global.rst
  telegram/_bot.py
  telegram/_chat.py
  telegram/_message.py
  telegram/_user.py
  telegram/constants.py
  telegram/ext/_extbot.py
  tests/test_bot.py
Labels: API

#4542 Improve Exception Handling in `File.download_*`
  telegram/_files/file.py
  tests/_files/test_file.py
Labels: enhancement

#4552 Update Automation to Label Changes
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/labeler.yml
  .github/workflows/stale.yml
Labels: ⚙️ ci-cid

#4551 Add `Message.reply_paid_media`
  telegram/_message.py
  tests/test_message.py
Labels: 🔌 enhancement

#4556 Documentation Improvements (#4536)
  AUTHORS.rst
  README.rst
  tests/README.rst
Labels: ⚙️ documentation

#4565 Improved comments for clarity and details :)
  AUTHORS.rst
  examples/paymentbot.py
Labels: ⚙️ examples

#4568 Bot API 8.0: Add New Parameters to `create_invoice_link`
  telegram/_bot.py
  telegram/constants.py
  telegram/ext/_extbot.py
  tests/_payment/test_invoice.py
Labels: ⚙️ bot-api, 🔌 enhancement

#4570 Bot API 8.0: Add New Attributes to `SuccessfulPayment`
  telegram/_payment/successfulpayment.py
  tests/_payment/test_successfulpayment.py
Labels: ⚙️ bot-api

#4571 Bot API 8.0: Add `Bot.edit_user_star_subscription`
  docs/source/inclusions/bot_methods.rst
  telegram/_bot.py
  telegram/ext/_extbot.py
  tests/test_bot.py
Labels: ⚙️ bot-api

#4574 Bot API 8.0: `PreparedInlineMessage` and `Bot.save_prepared_inline_message`
  docs/source/inclusions/bot_methods.rst
  docs/source/telegram.inline-tree.rst
  docs/source/telegram.preparedinlinemessage.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_inline/preparedinlinemessage.py
  telegram/ext/_extbot.py
  tests/_inline/test_preparedinlinemessage.py
  tests/test_bot.py
Labels: ⚙️ bot-api

#4576 Bot API 8.0: Gifts
  docs/source/inclusions/bot_methods.rst
  docs/source/telegram.at-tree.rst
  docs/source/telegram.gift.rst
  docs/source/telegram.gifts.rst
  docs/source/telegram.stickers-tree.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_chat.py
  telegram/_gifts.py
  telegram/_payment/stars.py
  telegram/_telegramobject.py
  telegram/_user.py
  telegram/constants.py
  telegram/ext/_defaults.py
  telegram/ext/_extbot.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_gifts.py
  tests/test_stars.py
  tests/test_user.py
Labels: ⚙️ bot-api
