Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2024-08, with the labels that each got.

#4396 Document Return Types of `RequestData` Members
  telegram/request/_requestdata.py
Labels: documentation

#4408 Api 7.8
  README.rst
  telegram/_bot.py
  telegram/_chat.py
  telegram/_message.py
  telegram/_user.py
  telegram/constants.py
  telegram/ext/_extbot.py
  tests/test_bot.py
  tests/test_callbackquery.py
  tests/test_message.py
  tests/test_user.py
Labels: API

#4388 Add Parameter `read_file_handle` to `InputFile`
  telegram/_bot.py
  telegram/_files/inputfile.py
  telegram/_files/inputmedia.py
  telegram/_files/inputsticker.py
  telegram/_utils/files.py
  telegram/_utils/types.py
  telegram/request/_requestdata.py
  telegram/request/_requestparameter.py
  tests/_files/test_inputfile.py
  tests/request/test_request.py
  tests/test_official/exceptions.py
Labels: bug :bug:, enhancement

#4413 Fix "available in" admonitions
  docs/auxil/admonition_inserter.py
  telegram/_payment/refundedpayment.py
Labels: bug :bug:, documentation

#4415 Support Python 3.13 rc 1
  .github/workflows/unit_tests.yml
Labels: pending merge, tests, python

#4431 Updated 3 failing tests of test_message.py.
  tests/test_message.py
Labels: tests

#4435 Update Test Suite to New Test Channel Setup
  tests/test_bot.py
Labels: tests
