Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2024-04, with the labels that each got.

#4189 feat: add the field `is_from_offline` to the class `Message`
  telegram/_message.py
  tests/test_constants.py
  tests/test_message.py
Labels: API

#4190 Temporarily Mark Tests with `get_sticker_set` as XFAIL due to API 7.2 Update
  tests/_files/test_sticker.py
Labels: API, tests

#4192 Make `can_*_stories` arguments required
  telegram/_chatadministratorrights.py
  telegram/_chatmember.py
  tests/test_chatadministratorrights.py
  tests/test_chatmember.py
  tests/test_chatmemberupdated.py
  tests/test_official/exceptions.py
Labels: breaking :boom:

#4183 Business info
  docs/source/telegram.at-tree.rst
  docs/source/telegram.businessintro.rst
  docs/source/telegram.businesslocation.rst
  docs/source/telegram.businessopeninghours.rst
  docs/source/telegram.businessopeninghoursinterval.rst
  telegram/__init__.py
  telegram/_business.py
  telegram/_chat.py
  tests/test_business.py
  tests/test_chat.py
Labels: API

#4180 API 7.2
  README.rst
  README_RAW.rst
  docs/source/inclusions/bot_methods.rst
  docs/source/telegram.at-tree.rst
  docs/source/telegram.birthdate.rst
  docs/source/telegram.businessconnection.rst
  docs/source/telegram.businessintro.rst
  docs/source/telegram.businesslocation.rst
  docs/source/telegram.businessmessagesdeleted.rst
  docs/source/telegram.businessopeninghours.rst
  docs/source/telegram.businessopeninghoursinterval.rst
  docs/source/telegram.ext.businessconnectionhandler.rst
  docs/source/telegram.ext.businessmessagesdeletedhandler.rst
  docs/source/telegram.ext.handlers-tree.rst
  docs/source/telegram.shareduser.rst
  docs/substitutions/global.rst
  pyproject.toml
  telegram/__init__.py
  telegram/_birthdate.py
  telegram/_bot.py
  telegram/_business.py
  telegram/_chat.py
  telegram/_files/inputsticker.py
  telegram/_files/sticker.py
  telegram/_keyboardbuttonrequest.py
  telegram/_message.py
  telegram/_passport/encryptedpassportelement.py
  telegram/_shared.py
  telegram/_update.py
  telegram/_user.py
  telegram/constants.py
  telegram/ext/__init__.py
  telegram/ext/_extbot.py
  telegram/ext/_handlers/businessconnectionhandler.py
  telegram/ext/_handlers/businessmessagesdeletedhandler.py
  telegram/ext/filters.py
  tests/_files/test_inputsticker.py
  tests/_files/test_sticker.py
  tests/ext/test_businessconnectionhandler.py
  tests/ext/test_businessmessagesdeletedhandler.py
  tests/ext/test_callbackcontext.py
  tests/ext/test_filters.py
  tests/request/test_requestparameter.py
  tests/test_birthdate.py
  tests/test_bot.py
  tests/test_business.py
  tests/test_chat.py
  tests/test_constants.py
  tests/test_message.py
  tests/test_official/exceptions.py
  tests/test_shared.py
  tests/test_update.py
  tests/test_user.py
Labels: API

#4171 Documentation Improvements
  docs/source/conf.py
  telegram/_bot.py
  telegram/constants.py
  tests/ext/test_updater.py
Labels: documentation

#4207 Fix Bug With Parameter `message_thread_id` of `Message.reply_text`
  telegram/_message.py
  tests/auxil/bot_method_checks.py
  tests/test_message.py
Labels: bug :bug:
