Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2024-07, with the labels that each got.

#4320 Make Argument `bot` of `TelegramObject.de_json` Optional
  telegram/_botcommandscope.py
  telegram/_business.py
  telegram/_callbackquery.py
  telegram/_chatbackground.py
  telegram/_chatboost.py
  telegram/_chatfullinfo.py
  telegram/_chatinvitelink.py
  telegram/_chatjoinrequest.py
  telegram/_chatlocation.py
  telegram/_chatmember.py
  telegram/_chatmemberupdated.py
  telegram/_chatpermissions.py
  telegram/_choseninlineresult.py
  telegram/_files/_basethumbedmedium.py
  telegram/_files/sticker.py
  telegram/_files/venue.py
  telegram/_games/game.py
  telegram/_games/gamehighscore.py
  telegram/_giveaway.py
  telegram/_inline/inlinekeyboardbutton.py
  telegram/_inline/inlinekeyboardmarkup.py
  telegram/_inline/inlinequery.py
  telegram/_inline/inlinequeryresultsbutton.py
  telegram/_inline/inputinvoicemessagecontent.py
  telegram/_keyboardbutton.py
  telegram/_keyboardbuttonrequest.py
  telegram/_menubutton.py
  telegram/_message.py
  telegram/_messageentity.py
  telegram/_messageorigin.py
  telegram/_messagereactionupdated.py
  telegram/_passport/credentials.py
  telegram/_passport/encryptedpassportelement.py
  telegram/_passport/passportdata.py
  telegram/_passport/passportfile.py
  telegram/_payment/orderinfo.py
  telegram/_payment/precheckoutquery.py
  telegram/_payment/shippingquery.py
  telegram/_payment/successfulpayment.py
  telegram/_poll.py
  telegram/_proximityalerttriggered.py
  telegram/_reaction.py
  telegram/_reply.py
  telegram/_shared.py
  telegram/_story.py
  telegram/_telegramobject.py
  telegram/_update.py
  telegram/_userprofilephotos.py
  telegram/_utils/datetime.py
  telegram/_videochat.py
  telegram/_webhookinfo.py
  tests/test_telegramobject.py
Labels: enhancement

#4316 Api 7.5 Docs
  docs/substitutions/global.rst
  telegram/_bot.py
  telegram/_inline/inlinekeyboardbutton.py
Labels: API, documentation

#4332 Fix Link-Check Workflow
  .github/workflows/docs-linkcheck.yml
Labels: documentation, tests

#4312 API 7.5
  README.rst
  docs/source/inclusions/bot_methods.rst
  docs/source/telegram.at-tree.rst
  docs/source/telegram.revenuewithdrawalstate.rst
  docs/source/telegram.revenuewithdrawalstatefailed.rst
  docs/source/telegram.revenuewithdrawalstatepending.rst
  docs/source/telegram.revenuewithdrawalstatesucceeded.rst
  docs/source/telegram.startransaction.rst
  docs/source/telegram.startransactions.rst
  docs/source/telegram.transactionpartner.rst
  docs/source/telegram.transactionpartnerfragment.rst
  docs/source/telegram.transactionpartnerother.rst
  docs/source/telegram.transactionpartneruser.rst
  docs/substitutions/global.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_callbackquery.py
  telegram/_chatfullinfo.py
  telegram/_inline/inlinekeyboardbutton.py
  telegram/_message.py
  telegram/_stars.py
  telegram/constants.py
  telegram/ext/_extbot.py
  tests/test_bot.py
  tests/test_callbackquery.py
  tests/test_message.py
  tests/test_official/exceptions.py
  tests/test_stars.py
Labels: API

#4336 Use Python 3.13 Beta 3 in tests
  .github/workflows/unit_tests.yml
  tests/ext/test_application.py
Labels: tests, python

#4341 API 7.6 - `TransactionPartnerTelegramAds`
  docs/source/telegram.at-tree.rst
  docs/source/telegram.transactionpartnertelegramads.rst
  telegram/__init__.py
  telegram/_stars.py
  telegram/constants.py
  tests/test_stars.py
Labels: API, pending review

#4340 API 7.6 - `paid_media` for `Message` and `ExternalReplyInfo`
  telegram/_message.py
  telegram/_reply.py
  telegram/constants.py
  tests/test_constants.py
  tests/test_message.py
  tests/test_reply.py
  tests/test_stars.py
Labels: API, pending review

#4342 API 7.6 - `TransactionPartnerUser.invoice_payload`
  telegram/_stars.py
  tests/test_stars.py
Labels: API, pending review

#4334 API 7.6 - `PaidMedia*` classes
  docs/source/telegram.at-tree.rst
  docs/source/telegram.paidmedia.rst
  docs/source/telegram.paidmediainfo.rst
  docs/source/telegram.paidmediaphoto.rst
  docs/source/telegram.paidmediapreview.rst
  docs/source/telegram.paidmediavideo.rst
  telegram/__init__.py
  telegram/_message.py
  telegram/_paidmedia.py
  telegram/_reply.py
  telegram/constants.py
  tests/test_constants.py
  tests/test_message.py
  tests/test_paidmedia.py
  tests/test_reply.py
  tests/test_stars.py
Labels: API, pending merge

#4347 Some test fixes for `test_stars.py`
  tests/test_stars.py
Labels: tests

#4335 API 7.6 - `send_paid_media` & `InputPaidMedia*` classes
  docs/source/inclusions/bot_methods.rst
  docs/source/telegram.at-tree.rst
  docs/source/telegram.inputpaidmedia.rst
  docs/source/telegram.inputpaidmediaphoto.rst
  docs/source/telegram.inputpaidmediavideo.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_chat.py
  telegram/_files/inputmedia.py
  telegram/constants.py
  telegram/ext/_extbot.py
  telegram/request/_requestparameter.py
  tests/_files/test_inputmedia.py
  tests/test_chat.py
Labels: API

#4344 API 7.6 - `ChatFullInfo.can_send_paid_media`
  telegram/_chatfullinfo.py
  tests/test_chatfullinfo.py
Labels: API, pending review

#4348 API 7.6 Documentation Updates
  telegram/_bot.py
  telegram/_files/_basethumbedmedium.py
  telegram/_files/animation.py
  telegram/_files/audio.py
  telegram/_files/document.py
  telegram/_files/inputmedia.py
  telegram/_files/location.py
  telegram/_files/video.py
  telegram/_files/videonote.py
  telegram/_files/voice.py
  telegram/_menubutton.py
  telegram/_message.py
  telegram/_payment/precheckoutquery.py
  telegram/_payment/shippingquery.py
  telegram/_payment/successfulpayment.py
  telegram/_poll.py
Labels: documentation

#4349 Fix: Expand successfulpayment test
  tests/_payment/test_successfulpayment.py
Labels: tests

#4323 Add `adjust_message_entities_to_utf_16` utility
  telegram/_messageentity.py
  tests/test_messageentity.py
Labels: enhancement

#4304 Log Received Data on Deserialization Errors
  telegram/_bot.py
  telegram/ext/_utils/webhookhandler.py
  tests/ext/test_updater.py
  tests/test_bot.py
Labels: enhancement

#4333 API 7.6
  README.rst
  docs/source/inclusions/bot_methods.rst
  docs/source/telegram.at-tree.rst
  docs/source/telegram.inputpaidmedia.rst
  docs/source/telegram.inputpaidmediaphoto.rst
  docs/source/telegram.inputpaidmediavideo.rst
  docs/source/telegram.paidmedia.rst
  docs/source/telegram.paidmediainfo.rst
  docs/source/telegram.paidmediaphoto.rst
  docs/source/telegram.paidmediapreview.rst
  docs/source/telegram.paidmediavideo.rst
  docs/source/telegram.payments-tree.rst
  docs/source/telegram.transactionpartnertelegramads.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_chat.py
  telegram/_chatfullinfo.py
  telegram/_files/_basethumbedmedium.py
  telegram/_files/animation.py
  telegram/_files/audio.py
  telegram/_files/document.py
  telegram/_files/inputmedia.py
  telegram/_files/location.py
  telegram/_files/video.py
  telegram/_files/videonote.py
  telegram/_files/voice.py
  telegram/_menubutton.py
  telegram/_message.py
  telegram/_paidmedia.py
  telegram/_payment/precheckoutquery.py
  telegram/_payment/shippingquery.py
  telegram/_payment/stars.py
  telegram/_payment/successfulpayment.py
  telegram/_poll.py
  telegram/_reply.py
  telegram/constants.py
  telegram/ext/_extbot.py
  telegram/request/_requestparameter.py
  tests/_files/test_inputmedia.py
  tests/test_chat.py
  tests/test_chatfullinfo.py
  tests/test_constants.py
  tests/test_message.py
  tests/test_official/exceptions.py
  tests/test_paidmedia.py
  tests/test_reply.py
  tests/test_stars.py
Labels: API

#4357 Add `filters.PAID_MEDIA`
  telegram/ext/filters.py
  tests/ext/test_filters.py
Labels: enhancement

#4356 Api 7.7
  README.rst
  docs/source/telegram.payments-tree.rst
  docs/source/telegram.refundedpayment.rst
  telegram/__init__.py
  telegram/_message.py
  telegram/_payment/refundedpayment.py
  telegram/constants.py
  telegram/ext/filters.py
  tests/_payment/test_refundedpayment.py
  tests/ext/test_filters.py
  tests/test_message.py
Labels: API

#4363 Add a Test Case for `MenuButton`
  tests/test_menubutton.py
Labels: tests

#4360 Stabilize Some Concurrency Usages in Test Suite
  tests/test_bot.py
  tests/test_constants.py
Labels: tests

#4367 Use a Composite Action for Testing Type Completeness
  .github/workflows/type_completeness.yml
Labels: tests, github_actions

#4362 Restructure Readme
  README.rst
  docs/source/index.rst
Labels: documentation

#4303 Documentation Improvements
  .github/CONTRIBUTING.rst
  telegram/_bot.py
  telegram/_callbackquery.py
  telegram/_inline/inlinekeyboardbutton.py
  telegram/_inline/inlinekeyboardmarkup.py
  telegram/_inline/inputinvoicemessagecontent.py
  telegram/_keyboardbuttonrequest.py
  telegram/_message.py
  telegram/_payment/invoice.py
  telegram/_payment/labeledprice.py
  telegram/_payment/precheckoutquery.py
  telegram/_payment/successfulpayment.py
  telegram/_reply.py
  telegram/_replykeyboardmarkup.py
  telegram/ext/_application.py
  telegram/ext/_basepersistence.py
  telegram/request/_requestparameter.py
Labels: documentation

#4364 Automate PyPI Releases
  .github/workflows/release_pypi.yml
  README.rst
  public_keys/v20.0-v21.3.gpg
Labels: github_actions, needs wiki update 📖

#4353 Implement game_pattern support in CQH
  AUTHORS.rst
  telegram/ext/_handlers/callbackqueryhandler.py
  tests/ext/test_callbackqueryhandler.py
Labels: enhancement

#4386 Adapt to RTD Addons
  docs/source/conf.py
Labels: documentation
