Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2024-09, with the labels that each got.

#4429 Feat: API 7.9
  README.rst
  docs/source/telegram.at-tree.rst
  docs/source/telegram.reactiontypepaid.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_chat.py
  telegram/_chatinvitelink.py
  telegram/_chatmember.py
  telegram/_message.py
  telegram/_payment/stars.py
  telegram/_reaction.py
  telegram/constants.py
  telegram/ext/_extbot.py
  tests/auxil/ci_bots.py
  tests/conftest.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_chatinvitelink.py
  tests/test_chatmember.py
  tests/test_reaction.py
  tests/test_stars.py
Labels: API

#4376 Add `MessageEntity.shift_entities` and `MessageEntity.concatenate`
  telegram/_messageentity.py
  tests/test_messageentity.py
Labels: enhancement

#4400 Documentation Improvements
  .github/workflows/docs-linkcheck.yml
  README.rst
  docs/source/telegram.games-tree.rst
  docs/substitutions/global.rst
  telegram/_bot.py
  telegram/_chatbackground.py
  telegram/_chatfullinfo.py
  telegram/_files/inputsticker.py
  telegram/_giveaway.py
  telegram/_inline/inlinekeyboardbutton.py
  telegram/_inline/inlinequeryresultgif.py
  telegram/_inline/inlinequeryresultmpeg4gif.py
  telegram/_inline/inlinequeryresultphoto.py
  telegram/_inline/inlinequeryresultvideo.py
  telegram/_inline/inputinvoicemessagecontent.py
  telegram/_message.py
  telegram/_passport/credentials.py
  telegram/_passport/encryptedpassportelement.py
  telegram/_passport/passportfile.py
  telegram/_payment/stars.py
  telegram/_reply.py
  telegram/_telegramobject.py
  telegram/ext/filters.py
Labels: documentation

#4454 Make Tests for `telegram.ext` Independent of Networking
  tests/auxil/monkeypatch.py
  tests/auxil/networking.py
  tests/auxil/pytest_classes.py
  tests/conftest.py
  tests/ext/conftest.py
  tests/ext/test_application.py
  tests/ext/test_callbackcontext.py
  tests/ext/test_inlinequeryhandler.py
  tests/ext/test_pollhandler.py
  tests/ext/test_updater.py
Labels: tests

#4464 Api 7.10 Docs Fixes
  telegram/_bot.py
  telegram/_giveaway.py
  telegram/constants.py
  tests/README.rst
Labels: API, documentation

#4451 Add Parameter `httpx_kwargs` to `HTTPXRequest`
  telegram/request/_httpxrequest.py
  tests/ext/test_applicationbuilder.py
  tests/request/test_request.py
Labels: enhancement

#4460 API 7.10 - `PaidMediaPurchased`
  docs/source/telegram.at-tree.rst
  docs/source/telegram.paidmediapurchased.rst
  telegram/__init__.py
  telegram/_paidmedia.py
  telegram/_update.py
  telegram/constants.py
  telegram/ext/__init__.py
  telegram/ext/_handlers/paidmediapurchasedhandler.py
  tests/ext/test_paidmediapurchasedhandler.py
  tests/test_paidmedia.py
  tests/test_update.py
Labels: API

#4471 Use Python 3.13 rc 2 in tests
  .github/workflows/unit_tests.yml
Labels: tests

#4466 Improve Type Completeness
  .github/workflows/type_completeness_monthly.yml
  examples/nestedconversationbot.py
  telegram/ext/_application.py
  telegram/ext/_callbackcontext.py
  telegram/ext/_handlers/basehandler.py
  telegram/ext/_handlers/businessconnectionhandler.py
  telegram/ext/_handlers/businessmessagesdeletedhandler.py
  telegram/ext/_handlers/callbackqueryhandler.py
  telegram/ext/_handlers/chatboosthandler.py
  telegram/ext/_handlers/chatjoinrequesthandler.py
  telegram/ext/_handlers/chatmemberhandler.py
  telegram/ext/_handlers/choseninlineresulthandler.py
  telegram/ext/_handlers/commandhandler.py
  telegram/ext/_handlers/conversationhandler.py
  telegram/ext/_handlers/inlinequeryhandler.py
  telegram/ext/_handlers/messagehandler.py
  telegram/ext/_handlers/messagereactionhandler.py
  telegram/ext/_handlers/pollanswerhandler.py
  telegram/ext/_handlers/pollhandler.py
  telegram/ext/_handlers/precheckoutqueryhandler.py
  telegram/ext/_handlers/prefixhandler.py
  telegram/ext/_handlers/shippingqueryhandler.py
  telegram/ext/_handlers/stringcommandhandler.py
  telegram/ext/_handlers/stringregexhandler.py
  telegram/ext/_handlers/typehandler.py
Labels: type hinting

#4461 API 7.10
  README.rst
  docs/source/telegram.at-tree.rst
  docs/source/telegram.ext.handlers-tree.rst
  docs/source/telegram.ext.paidmediapurchasedhandler.rst
  docs/source/telegram.paidmediapurchased.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_chat.py
  telegram/_chatboost.py
  telegram/_giveaway.py
  telegram/_paidmedia.py
  telegram/_payment/stars.py
  telegram/_update.py
  telegram/constants.py
  telegram/ext/__init__.py
  telegram/ext/_extbot.py
  telegram/ext/_handlers/paidmediapurchasedhandler.py
  tests/README.rst
  tests/ext/test_paidmediapurchasedhandler.py
  tests/test_chat.py
  tests/test_chatboost.py
  tests/test_giveaway.py
  tests/test_message.py
  tests/test_paidmedia.py
  tests/test_stars.py
  tests/test_update.py
Labels: API

#4488 Introduce `conftest.py` for File Related Tests
  tests/_files/conftest.py
  tests/_files/test_animation.py
  tests/_files/test_audio.py
  tests/_files/test_document.py
  tests/_files/test_inputmedia.py
  tests/_files/test_inputsticker.py
  tests/_files/test_photo.py
  tests/_files/test_sticker.py
  tests/_files/test_video.py
  tests/_files/test_videonote.py
  tests/auxil/constants.py
  tests/conftest.py
  tests/test_bot.py
  tests/test_forum.py
Labels: tests

#4489 Maintenance Work on `test_bot.py`
  tests/test_bot.py
Labels: tests

#4487 Introduce Codecov's Test Analysis
  .github/workflows/unit_tests.yml
Labels: tests

#4494 Fix Failing Tests by Making Them Independent
  tests/test_bot.py
Labels: tests

#4491 Update `pytest-xdist` Usage
  .github/workflows/unit_tests.yml
  tests/test_bot.py
Labels: tests

#4493 Reduce Creation of HTTP Clients in Tests
  tests/auxil/build_messages.py
  tests/auxil/pytest_classes.py
  tests/conftest.py
  tests/ext/test_basepersistence.py
  tests/ext/test_callbackcontext.py
  tests/test_bot.py
Labels: tests

#4500 Stabilize Some Flaky Tests
  tests/_files/test_animation.py
  tests/test_bot.py
Labels: tests
