Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2024-05, with the labels that each got.

#4238 Adapt Test Suite to Changes in Error Messages
  tests/_files/test_animation.py
  tests/_files/test_audio.py
  tests/_files/test_contact.py
  tests/_files/test_document.py
  tests/_files/test_inputmedia.py
  tests/_files/test_location.py
  tests/_files/test_photo.py
  tests/_files/test_sticker.py
  tests/_files/test_venue.py
  tests/_files/test_video.py
  tests/_files/test_videonote.py
  tests/_files/test_voice.py
  tests/_payment/test_invoice.py
  tests/test_bot.py
Labels: tests

#4245 Remove Functionality Deprecated by Bot API 7.2
  telegram/_bot.py
  telegram/_files/sticker.py
  telegram/_shared.py
  telegram/ext/_extbot.py
  tests/_files/test_sticker.py
  tests/test_official/exceptions.py
  tests/test_shared.py
Labels: API, breaking :boom:

#4251 Make `Birthdate.to_date` Return a `datetime.date` Object
  telegram/_birthdate.py
  tests/test_birthdate.py
Labels: bug :bug:

#4248 Api 7.3 InputPollOption
  docs/source/telegram.at-tree.rst
  docs/source/telegram.inputpolloption.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_chat.py
  telegram/_message.py
  telegram/_poll.py
  telegram/_user.py
  telegram/ext/_defaults.py
  telegram/ext/_extbot.py
  tests/auxil/bot_method_checks.py
  tests/test_bot.py
  tests/test_poll.py
Labels: API

#4250 Add new rules to ruff config
  pyproject.toml
  telegram/_bot.py
  telegram/_message.py
  telegram/_passport/encryptedpassportelement.py
  telegram/ext/_aioratelimiter.py
  telegram/ext/_basepersistence.py
  telegram/ext/_baseupdateprocessor.py
  telegram/ext/_callbackcontext.py
  telegram/ext/_defaults.py
  telegram/ext/_handlers/callbackqueryhandler.py
  telegram/ext/_handlers/choseninlineresulthandler.py
  telegram/ext/_handlers/commandhandler.py
  telegram/ext/_handlers/conversationhandler.py
  telegram/ext/_handlers/inlinequeryhandler.py
  telegram/ext/_handlers/messagehandler.py
  telegram/ext/_handlers/prefixhandler.py
  telegram/ext/_handlers/stringcommandhandler.py
  telegram/ext/_handlers/stringregexhandler.py
  telegram/ext/filters.py
Labels: code quality ✨

#4246 Api 7.3 docs
  telegram/_birthdate.py
  telegram/_bot.py
  telegram/_business.py
  telegram/_chatadministratorrights.py
  telegram/_chatmember.py
  telegram/_forcereply.py
  telegram/_inline/inlinekeyboardbutton.py
  telegram/_inline/inlinequeryresultlocation.py
  telegram/_inline/inputlocationmessagecontent.py
  telegram/_reply.py
  telegram/_replykeyboardmarkup.py
  telegram/_replykeyboardremove.py
Labels: API, documentation

#4260 Api 7.3 polls
  telegram/_bot.py
  telegram/_chat.py
  telegram/_message.py
  telegram/_poll.py
  telegram/_user.py
  telegram/_utils/entities.py
  telegram/ext/_defaults.py
  telegram/ext/_extbot.py
  tests/test_bot.py
  tests/test_official/arg_type_checker.py
  tests/test_official/exceptions.py
  tests/test_poll.py
Labels: API

#4243 API 7.3
  README.rst
  README_RAW.rst
  docs/source/telegram.at-tree.rst
  docs/source/telegram.backgroundfill.rst
  docs/source/telegram.backgroundfillfreeformgradient.rst
  docs/source/telegram.backgroundfillgradient.rst
  docs/source/telegram.backgroundfillsolid.rst
  docs/source/telegram.backgroundtype.rst
  docs/source/telegram.backgroundtypechattheme.rst
  docs/source/telegram.backgroundtypefill.rst
  docs/source/telegram.backgroundtypepattern.rst
  docs/source/telegram.backgroundtypewallpaper.rst
  docs/source/telegram.chatbackground.rst
  docs/source/telegram.chatfullinfo.rst
  docs/source/telegram.inputpolloption.rst
  telegram/__init__.py
  telegram/_birthdate.py
  telegram/_bot.py
  telegram/_business.py
  telegram/_callbackquery.py
  telegram/_chat.py
  telegram/_chatadministratorrights.py
  telegram/_chatbackground.py
  telegram/_chatfullinfo.py
  telegram/_chatmember.py
  telegram/_chatmemberupdated.py
  telegram/_forcereply.py
  telegram/_inline/inlinekeyboardbutton.py
  telegram/_inline/inlinequeryresultlocation.py
  telegram/_inline/inputlocationmessagecontent.py
  telegram/_message.py
  telegram/_poll.py
  telegram/_reply.py
  telegram/_replykeyboardmarkup.py
  telegram/_replykeyboardremove.py
  telegram/_user.py
  telegram/_utils/entities.py
  telegram/constants.py
  telegram/ext/_defaults.py
  telegram/ext/_extbot.py
  telegram/ext/filters.py
  tests/_files/test_location.py
  tests/auxil/bot_method_checks.py
  tests/ext/test_filters.py
  tests/test_bot.py
  tests/test_callbackquery.py
  tests/test_chat.py
  tests/test_chatbackground.py
  tests/test_chatfullinfo.py
  tests/test_chatmemberupdated.py
  tests/test_enum_types.py
  tests/test_message.py
  tests/test_official/arg_type_checker.py
  tests/test_official/exceptions.py
  tests/test_poll.py
Labels: API

#4157 Handle `SystemExit` raised in Handlers
  docs/source/conf.py
  docs/substitutions/application.rst
  telegram/ext/_application.py
  tests/ext/test_application.py
Labels: bug :bug:

#4211 Call `Application.post_stop` Only if `Application.stop` was called
  telegram/ext/_application.py
  telegram/ext/_applicationbuilder.py
  tests/ext/test_application.py
Labels: bug :bug:

#4217 Documentation Improvements
  .github/CONTRIBUTING.rst
  .github/ISSUE_TEMPLATE/question.yml
  telegram/_birthdate.py
  telegram/_chat.py
  telegram/_update.py
  telegram/ext/_handlers/stringcommandhandler.py
  telegram/ext/_handlers/stringregexhandler.py
  telegram/ext/_handlers/typehandler.py
Labels: documentation

#4262 Add versions to deprecated warnings
  telegram/_bot.py
  telegram/_chat.py
  telegram/_message.py
  telegram/_passport/passportelementerrors.py
  telegram/_passport/passportfile.py
  telegram/_utils/warnings.py
  telegram/_utils/warnings_transition.py
  telegram/ext/_application.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_defaults.py
  telegram/ext/_extbot.py
  telegram/request/_baserequest.py
  telegram/request/_httpxrequest.py
  telegram/warnings.py
  tests/test_bot.py
  tests/test_warnings.py
Labels: enhancement

#4265 Update Settings for pre-commit.ci
  .pre-commit-config.yaml
Labels: code quality ✨

#4266 Remove Functionality Deprecated in v21.2
  docs/auxil/sphinx_hooks.py
  docs/source/telegram.chat.rst
  docs/source/telegram.chatfullinfo.rst
  docs/source/telegram.photosize.rst
  telegram/_bot.py
  telegram/_chat.py
  telegram/_chatfullinfo.py
  telegram/_message.py
  telegram/constants.py
  tests/test_chat.py
  tests/test_chatfullinfo.py
  tests/test_official/exceptions.py
  tests/test_telegramobject.py
Labels: API, breaking :boom:

#4279 API 7.4 - `show_caption_above_media`
  docs/substitutions/global.rst
  telegram/_bot.py
  telegram/_callbackquery.py
  telegram/_chat.py
  telegram/_files/inputmedia.py
  telegram/_inline/inlinequeryresultcachedgif.py
  telegram/_inline/inlinequeryresultcachedmpeg4gif.py
  telegram/_inline/inlinequeryresultcachedphoto.py
  telegram/_inline/inlinequeryresultcachedvideo.py
  telegram/_inline/inlinequeryresultgif.py
  telegram/_inline/inlinequeryresultmpeg4gif.py
  telegram/_inline/inlinequeryresultphoto.py
  telegram/_inline/inlinequeryresultvideo.py
  telegram/_message.py
  telegram/_user.py
  telegram/ext/_extbot.py
  tests/_files/test_animation.py
  tests/_files/test_inputmedia.py
  tests/_files/test_photo.py
  tests/_files/test_video.py
  tests/_inline/test_inlinequeryresultcachedgif.py
  tests/_inline/test_inlinequeryresultcachedmpeg4gif.py
  tests/_inline/test_inlinequeryresultcachedphoto.py
  tests/_inline/test_inlinequeryresultcachedvideo.py
  tests/_inline/test_inlinequeryresultgif.py
  tests/_inline/test_inlinequeryresultmpeg4gif.py
  tests/_inline/test_inlinequeryresultphoto.py
  tests/_inline/test_inlinequeryresultvideo.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_constants.py
  tests/test_message.py
  tests/test_user.py
Labels: API

#4280 API 7.4 - `refund_star_payment`
  docs/source/inclusions/bot_methods.rst
  telegram/_bot.py
  telegram/_user.py
  telegram/ext/_extbot.py
  tests/test_bot.py
  tests/test_user.py
Labels: API

#4282 Add `setuptools` to `requirements-dev.txt`
  requirements-dev.txt
Labels: tests

#4286 Api 7.4 collapsible block quotes
  telegram/_message.py
  telegram/_messageentity.py
  telegram/constants.py
  tests/test_message.py
Labels: API
