Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2024-10, with the labels that each got.

#4507 Improve Test Instability Caused by `Message` Fixtures
  tests/test_bot.py
Labels: tests

#4531 Fix: Type hinting on Application.add_handlers
  AUTHORS.rst
  telegram/ext/_application.py
Labels: type hinting

#4535 Use Stable Python 3.13 Release in Test Suite
  .github/workflows/unit_tests.yml
Labels: tests, python

#4492 Use `sphinx-build-compatibility` to Keep Sphinx Compatibility
  docs/requirements-docs.txt
  docs/source/conf.py
Labels: documentation
