Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2024-03, with the labels that each got.

#4118 Feat: API 7.1
  .github/workflows/docs.yml
  .github/workflows/test_official.yml
  .github/workflows/type_completeness.yml
  .github/workflows/unit_tests.yml
  README.rst
  README_RAW.rst
  docs/source/telegram.at-tree.rst
  docs/source/telegram.chatboostadded.rst
  docs/substitutions/global.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_chat.py
  telegram/_chatadministratorrights.py
  telegram/_chatboost.py
  telegram/_chatmember.py
  telegram/_message.py
  telegram/_story.py
  telegram/constants.py
  telegram/ext/filters.py
  tests/ext/test_filters.py
  tests/test_chat.py
  tests/test_chatadministratorrights.py
  tests/test_chatboost.py
  tests/test_chatmember.py
  tests/test_chatmemberupdated.py
  tests/test_keyboardbuttonrequest.py
  tests/test_message.py
  tests/test_official/exceptions.py
  tests/test_story.py
Labels: API

#4134 Handle properties in `__setstate__`
  telegram/_telegramobject.py
  tests/test_telegramobject.py
Labels: enhancement

#4126 Make `Updater.stop` Independent of `CancelledError`
  telegram/ext/_updater.py
  tests/ext/test_application.py
  tests/ext/test_updater.py
Labels: refactor :gear:

#4144 Run Unit Tests on Requirements Changes
  .github/workflows/type_completeness.yml
  .github/workflows/unit_tests.yml
Labels: tests

#4146 Improve HTML Download of Documentation
  .readthedocs.yml
Labels: documentation

#4109 Documentation Improvements
  README.rst
  README_RAW.rst
  docs/requirements-docs.txt
  docs/source/telegram.constants.rst
  examples/deeplinking.py
  telegram/_bot.py
  telegram/_chat.py
  telegram/_chatadministratorrights.py
  telegram/_chatmember.py
  telegram/_passport/encryptedpassportelement.py
  telegram/_user.py
Labels: documentation

#4150 Remove `docs` from Package
  setup.py
Labels: bug :bug:

#4158 chore: remove repetitive words
  telegram/_bot.py
  tests/ext/test_updater.py
Labels: documentation

#4151 Refactor Debug logging in `Bot` to Improve Type Hinting
  telegram/_bot.py
  telegram/_chat.py
  telegram/_message.py
  telegram/_passport/passportfile.py
  telegram/ext/_extbot.py
  telegram/ext/_updater.py
  tests/test_bot.py
  tests/test_chat.py
Labels: type hinting, refactor :gear:
