Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2024-01, with the labels that each got.

#4039 Fixed a small problem for a wrong type hint of the filters parameter.
  telegram/ext/_messagehandler.py
Labels: type hinting

#4005 Add `invoice_payload` filtering
  telegram/ext/_precheckoutqueryhandler.py
  telegram/ext/filters.py
  tests/ext/test_filters.py
  tests/ext/test_precheckoutqueryhandler.py
Labels: enhancement

#4051 Use Recommended `pre-commit` Mirror for `black`
  .pre-commit-config.yaml
Labels: tests

#4052 Introduce `sort-all` Hook for `pre-commit`
  .pre-commit-config.yaml
  telegram/__init__.py
  telegram/_version.py
  telegram/constants.py
  telegram/ext/__init__.py
  telegram/ext/filters.py
Labels: code quality ✨

#4038 `blockquote` message entity api-7.0.
  telegram/_messageentity.py
  telegram/constants.py
Labels: API

#4064 Move handler related files to _handlers subdirectory
  AUTHORS.rst
  telegram/ext/__init__.py
  telegram/ext/_application.py
  telegram/ext/_handlers/__init__.py
  telegram/ext/_handlers/basehandler.py
  telegram/ext/_handlers/callbackqueryhandler.py
  telegram/ext/_handlers/chatjoinrequesthandler.py
  telegram/ext/_handlers/chatmemberhandler.py
  telegram/ext/_handlers/choseninlineresulthandler.py
  telegram/ext/_handlers/commandhandler.py
  telegram/ext/_handlers/conversationhandler.py
  telegram/ext/_handlers/inlinequeryhandler.py
  telegram/ext/_handlers/messagehandler.py
  telegram/ext/_handlers/pollanswerhandler.py
  telegram/ext/_handlers/pollhandler.py
  telegram/ext/_handlers/precheckoutqueryhandler.py
  telegram/ext/_handlers/prefixhandler.py
  telegram/ext/_handlers/shippingqueryhandler.py
  telegram/ext/_handlers/stringcommandhandler.py
  telegram/ext/_handlers/stringregexhandler.py
  telegram/ext/_handlers/typehandler.py
  tests/_files/test_inputmedia.py
  tests/ext/test_basehandler.py
  tests/ext/test_conversationhandler.py
  tests/test_bot.py
Labels: code quality ✨

#4075 Bump ruff and remove sort-all
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
  telegram/_inline/inputlocationmessagecontent.py
  telegram/_utils/enum.py
  telegram/constants.py
  telegram/ext/_utils/trackingdict.py
  telegram/ext/filters.py
  tests/auxil/bot_method_checks.py
  tests/conftest.py
  tests/ext/test_callbackdatacache.py
  tests/test_telegramobject.py
Labels: code quality ✨
