Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2025-05, with the labels that each got.

#4773 Api 9.0 business stars
  changes/unreleased/4756.JT5nmUmGRG6qDEh5ScMn5f.toml
  docs/source/inclusions/bot_methods.rst
  docs/source/telegram.payments-tree.rst
  docs/source/telegram.staramount.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_payment/stars/affiliateinfo.py
  telegram/_payment/stars/staramount.py
  telegram/_payment/stars/startransactions.py
  telegram/constants.py
  telegram/ext/_extbot.py
  tests/_payment/stars/test_staramount.py
  tests/auxil/dummy_objects.py
  tests/test_business_methods.py
Labels: 📋 pending-review

#4730 Documentation Improvements
  .github/CONTRIBUTING.rst
  changes/unreleased/4692.dVZs28GuwTFnNJdWkvPbNv.toml
  changes/unreleased/4730.GsSUQSXzV8TF2Wav4CXRdd.toml
  changes/unreleased/4733.BRLwsEuh76974FPJRuiBjf.toml
  changes/unreleased/4758.dSyCdBJWEJroH2GynR2VaJ.toml
  docs/source/examples.rst
  telegram/_files/inputmedia.py
  telegram/_user.py
  telegram/request/_httpxrequest.py
Labels: ⚙️ documentation

#4791 Bump Version to v22.1
  changes/22.1_2025-05-15/4692.dVZs28GuwTFnNJdWkvPbNv.toml
  changes/22.1_2025-05-15/4730.GsSUQSXzV8TF2Wav4CXRdd.toml
  changes/22.1_2025-05-15/4733.BRLwsEuh76974FPJRuiBjf.toml
  changes/22.1_2025-05-15/4741.nVLBrFX4p8jTCBjMRqaYoQ.toml
  changes/22.1_2025-05-15/4742.oEA6MjYXMafdbu2akWT5tC.toml
  changes/22.1_2025-05-15/4743.SpMm4vvAMjEreykTcGwzcF.toml
  changes/22.1_2025-05-15/4744.a4tsF64kZPA2noP7HtTzTX.toml
  changes/22.1_2025-05-15/4745.emNmhxtvtTP9uLNQxpcVSj.toml
  changes/22.1_2025-05-15/4746.gWnX3BCxbvujQ8B2QejtTK.toml
  changes/22.1_2025-05-15/4747.MLmApvpGdwN7J24j7fXsDU.toml
  changes/22.1_2025-05-15/4748.j3cKusZZKqTLbc542K4sqJ.toml
  changes/22.1_2025-05-15/4756.JT5nmUmGRG6qDEh5ScMn5f.toml
  changes/22.1_2025-05-15/4758.dSyCdBJWEJroH2GynR2VaJ.toml
  changes/22.1_2025-05-15/4761.mmsngFA6b4ccdEzEpFTZS3.toml
  changes/22.1_2025-05-15/4762.PbcJGM8KPBMbKri3fdHKjh.toml
  changes/22.1_2025-05-15/4775.kkLon84t7Vy5REKRe9LwPH.toml
  changes/22.1_2025-05-15/4776.g83DxRk4WVWCC8rCd6ocFC.toml
  changes/22.1_2025-05-15/4777.Lhgz8xFtQjgrKM2KvNfxwD.toml
  changes/22.1_2025-05-15/4778.CeUSPNLbGGsqP2Vo4xKkdp.toml
  changes/22.1_2025-05-15/4779.UqcbJVKYxwTtrBEGDgb3VS.toml
  changes/22.1_2025-05-15/4791.QycEvQbiaiJKraKDhAfFWM.toml
  telegram/_bot.py
  telegram/_business.py
  telegram/_chat.py
  telegram/_chatfullinfo.py
  telegram/_files/_inputstorycontent.py
  telegram/_files/inputprofilephoto.py
  telegram/_gifts.py
  telegram/_message.py
  telegram/_ownedgift.py
  telegram/_paidmessagepricechanged.py
  telegram/_payment/stars/transactionpartner.py
  telegram/_storyarea.py
  telegram/_uniquegift.py
  telegram/_user.py
  telegram/_version.py
  telegram/constants.py
  telegram/ext/filters.py
Labels: ⚙️ ci-cid

#4793 Fix a Failing Test Case
  changes/unreleased/4793.mDR5p3mrSmPFQkvWFGWBmD.toml
  tests/_passport/test_passport.py
Labels: ⚙️ tests

#4792 Fix Bug in Automated Channel Announcement
  .github/workflows/release_pypi.yml
  changes/unreleased/4792.YsK6LmbEhZv6y3dvhHbXD7.toml
Labels: ⚙️ ci-cid

#4800 Implement PEP 735 Dependency Groups
  .github/CONTRIBUTING.rst
  .github/workflows/chango.yml
  .github/workflows/docs-admonitions.yml
  .github/workflows/docs-linkcheck.yml
  .github/workflows/test_official.yml
  .github/workflows/unit_tests.yml
  .readthedocs.yml
  changes/unreleased/4800.2Z9Q8uvzdU2TqMJ9biBLam.toml
  docs/requirements-docs.txt
  pyproject.toml
  requirements-dev-all.txt
  requirements-unit-tests.txt
Labels: 🛠 code-quality
