Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2025-01, with the labels that each got.

#4634 Ensure Forward Compatibility of `Gift` and `Gifts`
  telegram/_gifts.py
Labels: ⚙️ bot-api, 🔌 bug

#4613 Add Parameter `pattern` to `JobQueue.jobs()`
  telegram/ext/_jobqueue.py
  tests/ext/test_jobqueue.py
Labels: 🔌 enhancement

#4633 Full Support for Bot API 8.2
  README.rst
  docs/source/inclusions/bot_methods.rst
  telegram/_bot.py
  telegram/_chat.py
  telegram/_gifts.py
  telegram/_inline/inlinequeryresultarticle.py
  telegram/_user.py
  telegram/constants.py
  telegram/ext/_extbot.py
  tests/_inline/test_inlinequeryresultarticle.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_gifts.py
  tests/test_official/exceptions.py
  tests/test_user.py
Labels: ⚙️ bot-api

#4627 Support `allow_paid_broadcast` in `AIORateLimiter`
  telegram/ext/_aioratelimiter.py
  tests/ext/test_ratelimiter.py
Labels: ℹ️ needs-wiki-update, 🔌 enhancement

#4632 Extend Customization Support for `Bot.base_(file_)url`
  telegram/_bot.py
  telegram/_utils/types.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_extbot.py
  tests/test_bot.py
Labels: 🔌 enhancement

#4462 Admonition overhaul
  docs/auxil/admonition_inserter.py
  docs/source/_static/style_admonitions.css
  telegram/ext/_application.py
  tests/docs/admonition_inserter.py
Labels: ⚙️ documentation, 🔌 enhancement
