Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2025-02, with the labels that each got.

#4651 Accept `datetime.timedelta` Input in `Bot` Method Parameters
  docs/substitutions/global.rst
  telegram/_bot.py
  telegram/_callbackquery.py
  telegram/_chat.py
  telegram/_inline/inlinequery.py
  telegram/_message.py
  telegram/_user.py
  telegram/_utils/types.py
  telegram/ext/_extbot.py
  telegram/request/_requestparameter.py
  tests/_files/test_animation.py
  tests/_files/test_audio.py
  tests/_files/test_location.py
  tests/_files/test_video.py
  tests/_files/test_videonote.py
  tests/_files/test_voice.py
  tests/_payment/test_invoice.py
  tests/request/test_requestparameter.py
  tests/test_bot.py
  tests/test_official/exceptions.py
Labels: 🔌 enhancement

#4668 Improve Security of GitHub Actions Workflows
  .github/workflows/dependabot-prs.yml
  .github/workflows/docs-linkcheck.yml
  .github/workflows/docs.yml
  .github/workflows/gha_security.yml
  .github/workflows/labelling.yml
  .github/workflows/lock.yml
  .github/workflows/release_pypi.yml
  .github/workflows/release_test_pypi.yml
  .github/workflows/stale.yml
  .github/workflows/test_official.yml
  .github/workflows/type_completeness.yml
  .github/workflows/type_completeness_monthly.yml
  .github/workflows/unit_tests.yml
Labels: ⚙️ security, 🔗 github-actions, ⚙️ ci-cid

#4654 Refactor Tests for `TelegramObject` Classes with Subclasses
  telegram/_chatmember.py
  tests/test_botcommandscope.py
  tests/test_chatbackground.py
  tests/test_chatboost.py
  tests/test_chatmember.py
  tests/test_menubutton.py
  tests/test_paidmedia.py
  tests/test_reaction.py
Labels: ⚙️ tests, 🛠 refactor

#4681 Update _bot.py
  telegram/_bot.py
Labels: ⚙️ bot-api, 🔌 bug

#4640 Remove Deprecated `InlineQueryResultArticle.hide_url`
  telegram/_inline/inlinequeryresultarticle.py
  tests/_inline/test_inlinequeryresultarticle.py
  tests/test_official/exceptions.py
Labels: ⚙️ bot-api

#4689 Make `provider_token` Argument Optional
  examples/paymentbot.py
  telegram/_bot.py
  telegram/_chat.py
  telegram/_inline/inputinvoicemessagecontent.py
  telegram/_message.py
  telegram/_user.py
  telegram/ext/_extbot.py
  tests/_inline/test_inputinvoicemessagecontent.py
  tests/_payment/test_invoice.py
  tests/test_chat.py
  tests/test_message.py
  tests/test_official/exceptions.py
  tests/test_user.py
Labels: ⚙️ bot-api, 🛠 breaking

#4641 Documentation Improvements
  docs/substitutions/global.rst
  telegram/_bot.py
  telegram/_chatbackground.py
  telegram/_files/inputsticker.py
  telegram/_inline/inlinequeryresultgif.py
  telegram/_inline/inlinequeryresultmpeg4gif.py
  telegram/_payment/stars/startransactions.py
  telegram/_payment/successfulpayment.py
  telegram/constants.py
Labels: ⚙️ documentation
