Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2025-04, with the labels that each got.

#4740 Add missing 'Returns' field in `User.get_profile_photos`.
  changes/unreleased/4740.HLQHLmkKppdTuSKvtKFXVx.toml
  telegram/_user.py
Labels: ⚙️ documentation

#4747 Update `AUTHORS.rst`
  AUTHORS.rst
  changes/unreleased/4747.MLmApvpGdwN7J24j7fXsDU.toml
Labels: ⚙️ documentation

#4692 Drop Backward Compatibility for `user_id` in `send_gift`
  changes/unreleased/4692.dVZs28GuwTFnNJdWkvPbNv.toml
  telegram/_bot.py
  telegram/ext/_extbot.py
  tests/auxil/bot_method_checks.py
  tests/test_chat.py
  tests/test_gifts.py
  tests/test_official/exceptions.py
  tests/test_user.py
Labels: ⚙️ bot-api, 📋 do-not-merge-yet, 🛠 breaking

#4757 Api 9.0 business methods
  changes/unreleased/4756.JT5nmUmGRG6qDEh5ScMn5f.toml
  docs/source/inclusions/bot_methods.rst
  telegram/_bot.py
  telegram/_chat.py
  telegram/_message.py
  telegram/constants.py
  telegram/ext/_extbot.py
  tests/test_bot.py
  tests/test_business_classes.py
  tests/test_business_methods.py
  tests/test_chat.py
  tests/test_message.py
Labels: ⚙️ bot-api

#4759 Api 9.0 business bot rights
  changes/unreleased/4756.JT5nmUmGRG6qDEh5ScMn5f.toml
  docs/source/telegram.at-tree.rst
  docs/source/telegram.businessbotrights.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_business.py
  telegram/_utils/warnings_transition.py
  tests/test_business_classes.py
  tests/test_official/exceptions.py
Labels: ⚙️ bot-api

#4758 Fine Tune `chango` and Release Workflows
  .github/workflows/chango.yml
  .github/workflows/chango_fragment.yml
  .github/workflows/release_pypi.yml
  .github/workflows/release_test_pypi.yml
  changes/config.py
  changes/unreleased/4758.dSyCdBJWEJroH2GynR2VaJ.toml
Labels: 🔗 github-actions, ⚙️ ci-cid

#4762 Clarify Documentation and Type Hints of `Input(Paid)Media`
  changes/unreleased/4762.PbcJGM8KPBMbKri3fdHKjh.toml
  telegram/_files/inputmedia.py
Labels: ⚙️ documentation, ⚙️ type-hinting

#4763 Api 9.0 gifts
  changes/unreleased/4756.JT5nmUmGRG6qDEh5ScMn5f.toml
  docs/source/inclusions/bot_methods.rst
  docs/source/telegram.acceptedgifttypes.rst
  docs/source/telegram.at-tree.rst
  docs/source/telegram.giftinfo.rst
  docs/source/telegram.ownedgift.rst
  docs/source/telegram.ownedgiftregular.rst
  docs/source/telegram.ownedgifts.rst
  docs/source/telegram.ownedgiftunique.rst
  docs/source/telegram.uniquegift.rst
  docs/source/telegram.uniquegiftbackdrop.rst
  docs/source/telegram.uniquegiftbackdropcolors.rst
  docs/source/telegram.uniquegiftinfo.rst
  docs/source/telegram.uniquegiftmodel.rst
  docs/source/telegram.uniquegiftsymbol.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_chat.py
  telegram/_chatfullinfo.py
  telegram/_gifts.py
  telegram/_message.py
  telegram/_ownedgift.py
  telegram/_uniquegift.py
  telegram/constants.py
  telegram/ext/_extbot.py
  telegram/ext/filters.py
  tests/auxil/dummy_objects.py
  tests/ext/test_filters.py
  tests/test_business_methods.py
  tests/test_chat.py
  tests/test_chatfullinfo.py
  tests/test_gifts.py
  tests/test_message.py
  tests/test_official/exceptions.py
  tests/test_ownedgift.py
  tests/test_uniquegift.py
Labels: 📋 pending-review

#4766 Api 9.0 profile photos
  changes/unreleased/4756.JT5nmUmGRG6qDEh5ScMn5f.toml
  docs/source/inclusions/bot_methods.rst
  docs/source/telegram.at-tree.rst
  docs/source/telegram.inputprofilephoto.rst
  docs/source/telegram.inputprofilephotoanimated.rst
  docs/source/telegram.inputprofilephotostatic.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_files/inputprofilephoto.py
  telegram/constants.py
  telegram/ext/_extbot.py
  telegram/request/_requestparameter.py
  tests/_files/test_inputprofilephoto.py
  tests/request/test_requestparameter.py
  tests/test_business_methods.py
  tests/test_official/exceptions.py
Labels: ⚙️ bot-api
