Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2025-07, with the labels that each got.

#4849 API 9.1 Gifts
  changes/unreleased/4849.4mPSpBY2r77o75ycywXPiz.toml
  src/telegram/_ownedgift.py
  src/telegram/_uniquegift.py
  src/telegram/constants.py
  tests/test_ownedgift.py
  tests/test_uniquegift.py
Labels: ⚙️ bot-api

#4852 Remove Functionality Deprecated in API 9.0
  changes/unreleased/4852.mz3RDjX636ZdGoR456C6v9.toml
  src/telegram/_business.py
  src/telegram/_chatfullinfo.py
  src/telegram/_payment/stars/transactionpartner.py
  src/telegram/constants.py
  tests/_payment/stars/test_transactionpartner.py
  tests/auxil/dummy_objects.py
  tests/ext/test_businessconnectionhandler.py
  tests/test_business_classes.py
  tests/test_business_methods.py
  tests/test_chatfullinfo.py
  tests/test_official/exceptions.py
  tests/test_update.py
Labels: 📋 pending-review

#4848 API 9.1 `Checklist*` classes
  changes/unreleased/4847.8ujbbBbaZ2VTEdRLeqirSZ.toml
  docs/source/telegram.at-tree.rst
  docs/source/telegram.checklist.rst
  docs/source/telegram.checklisttasksadded.rst
  docs/source/telegram.checklisttasksdone.rst
  src/telegram/__init__.py
  src/telegram/_checklists.py
  src/telegram/_message.py
  src/telegram/_reply.py
  src/telegram/constants.py
  src/telegram/ext/filters.py
  tests/ext/test_filters.py
  tests/test_checklists.py
  tests/test_message.py
  tests/test_reply.py
Labels: ⚙️ bot-api

#4879 Test `send_paid_media` Without Request
  changes/unreleased/4879.kABAi45KpR2H6jqJu6NtDS.toml
  tests/_files/test_inputmedia.py
Labels: ⚙️ tests

#4882 Httpx timeout improvements
  changes/unreleased/4882.JpgQAHHnCponMKStbC4JsG.toml
  src/telegram/_bot.py
  src/telegram/request/_httpxrequest.py
  tests/ext/test_applicationbuilder.py
  tests/request/test_request.py
Labels: 🛠 refactor
