Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2025-09, with the labels that each got.

#4918 Feat: Added can_manage_dm and paid post
  changes/unreleased/4911.kiF45Y4cfPGMq5cuLpa5da.toml
  src/telegram/_chatadministratorrights.py
  src/telegram/_chatmember.py
  src/telegram/_message.py
  tests/test_chatadministratorrights.py
  tests/test_chatmember.py
  tests/test_constants.py
  tests/test_message.py
Labels: ⚙️ bot-api

#4916 API 9.2 Suggested Post Methods
  changes/unreleased/4911.kiF45Y4cfPGMq5cuLpa5da.toml
  docs/source/inclusions/bot_methods.rst
  src/telegram/_bot.py
  src/telegram/_chat.py
  src/telegram/_message.py
  src/telegram/constants.py
  src/telegram/ext/_extbot.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_message.py
Labels: ⚙️ bot-api

#4935 Add Parameter `can_manage_direct_messages` to `promote_chat_member`
  changes/unreleased/4911.kiF45Y4cfPGMq5cuLpa5da.toml
  src/telegram/_bot.py
  src/telegram/_chat.py
  src/telegram/ext/_extbot.py
  tests/test_bot.py
Labels: ⚙️ bot-api

#4911 Full Support for Bot API 9.2
  README.rst
  changes/unreleased/4911.kiF45Y4cfPGMq5cuLpa5da.toml
  docs/source/inclusions/bot_methods.rst
  docs/source/telegram.at-tree.rst
  docs/source/telegram.directmessagestopic.rst
  docs/source/telegram.suggestedpostapprovalfailed.rst
  docs/source/telegram.suggestedpostapproved.rst
  docs/source/telegram.suggestedpostdeclined.rst
  docs/source/telegram.suggestedpostinfo.rst
  docs/source/telegram.suggestedpostpaid.rst
  docs/source/telegram.suggestedpostparameters.rst
  docs/source/telegram.suggestedpostprice.rst
  docs/source/telegram.suggestedpostrefunded.rst
  docs/substitutions/global.rst
  src/telegram/__init__.py
  src/telegram/_bot.py
  src/telegram/_callbackquery.py
  src/telegram/_chat.py
  src/telegram/_chatadministratorrights.py
  src/telegram/_chatfullinfo.py
  src/telegram/_chatmember.py
  src/telegram/_directmessagestopic.py
  src/telegram/_gifts.py
  src/telegram/_message.py
  src/telegram/_reply.py
  src/telegram/_suggestedpost.py
  src/telegram/_uniquegift.py
  src/telegram/_user.py
  src/telegram/constants.py
  src/telegram/ext/_extbot.py
  src/telegram/ext/filters.py
  tests/ext/test_filters.py
  tests/test_bot.py
  tests/test_callbackquery.py
  tests/test_chat.py
  tests/test_chatadministratorrights.py
  tests/test_chatfullinfo.py
  tests/test_chatmember.py
  tests/test_constants.py
  tests/test_directmessagestopic.py
  tests/test_gifts.py
  tests/test_message.py
  tests/test_reply.py
  tests/test_suggestedpost.py
  tests/test_uniquegift.py
Labels: ⚙️ bot-api

#4878 Documentation Improvements
  README.rst
  changes/unreleased/4878.AbGo6aozTWquUjnzzpSdyX.toml
  src/telegram/_checklists.py
  src/telegram/_gifts.py
  src/telegram/_inline/inlinequeryresultgif.py
  src/telegram/_inline/inlinequeryresultmpeg4gif.py
  src/telegram/_inline/inlinequeryresultphoto.py
  src/telegram/_inline/inlinequeryresultvideo.py
  src/telegram/_message.py
  src/telegram/_reply.py
  src/telegram/constants.py
Labels: ⚙️ documentation

#4965 Properly Pin Dependency to ``astral/setup-uv`` in Copilot Setup Steps
  .github/workflows/copilot-setup-steps.yml
  changes/unreleased/4965.488hEhfeZfPvfZszvRKdkJ.toml
Labels: ⚙️ ci-cd

#4968 Monthly lockfile update, automerge major non-deps
  .github/renovate.json5
  changes/unreleased/4968.ecxiPBroDpMUkab6uBCUde.toml
Labels: ⚙️ ci-cd

#4972 Move param `ReplyParameters.checklist_task_id` to last position
  changes/unreleased/4972.RX4QftpcFPCv2wXbTAhDAh.toml
  src/telegram/_reply.py
Labels: 🛠 breaking

#4974 Documentation Improvements
  changes/unreleased/4943.DdNTkLjQbNGeG3nEBGHjBo.toml
  changes/unreleased/4947.CcLd8YTb8XaANn8gQXruNb.toml
  changes/unreleased/4948.ernZikrNEarFtTZgLN7huS.toml
  changes/unreleased/4952.bVCE8YehtKGcwLYdiXkmQb.toml
  changes/unreleased/4953.8aPTEQhSPSgTrguzvsw4tq.toml
  changes/unreleased/4974.c4UDqA4q7eBr9mYGmJL4CQ.toml
Labels: ⚙️ documentation
