Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2025-03, with the labels that each got.

#4673 Add Bootstrapping Logic to `Application.run_*`
  telegram/ext/_application.py
  telegram/ext/_updater.py
  telegram/ext/_utils/networkloop.py
  tests/ext/test_application.py
Labels: 🛠 refactor, 🔌 enhancement

#4676 Full Support for Bot API 8.3
  README.rst
  docs/source/telegram.payments-tree.rst
  docs/source/telegram.transactionpartnerchat.rst
  telegram/__init__.py
  telegram/_bot.py
  telegram/_callbackquery.py
  telegram/_chat.py
  telegram/_chatfullinfo.py
  telegram/_files/inputmedia.py
  telegram/_files/video.py
  telegram/_message.py
  telegram/_payment/stars/transactionpartner.py
  telegram/_user.py
  telegram/constants.py
  telegram/ext/_extbot.py
  tests/_files/test_inputmedia.py
  tests/_files/test_video.py
  tests/_payment/stars/test_transactionpartner.py
  tests/auxil/bot_method_checks.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_gifts.py
  tests/test_official/exceptions.py
  tests/test_user.py
Labels: ⚙️ bot-api, 🔌 enhancement

#4693 Stabilize Linkcheck Test
  .github/workflows/docs-linkcheck.yml
  docs/source/conf.py
Labels: ⚙️ documentation, 🔗 github-actions, ⚙️ ci-cid

#4695 Fix ReadTheDocs Build
  .github/workflows/docs-admonitions.yml
  .readthedocs.yml
Labels: ⚙️ documentation, 🔗 github-actions, ⚙️ ci-cid

#4672 Add `chango` For Changelog Management Tool
  .github/workflows/assets/release_template.html
  .github/workflows/chango_fragment.yml
  .github/workflows/docs-admonitions.yml
  .github/workflows/docs-linkcheck.yml
  .github/workflows/release_pypi.yml
  .github/workflows/release_test_pypi.yml
  changes/LEGACY.rst
  changes/config.py
  changes/unreleased/.gitkeep
  changes/unreleased/4672.G9szuJ7pRafycByfem2DrT.toml
  docs/requirements-docs.txt
  docs/source/changelog.rst
  docs/source/conf.py
  pyproject.toml
Labels: ⚙️ documentation, 📋 do-not-merge-yet, ℹ️ needs-wiki-update, ⚙️ ci-cid

#4712 Bump Bibo-Joshi/chango from 0.3.2 to 0.4.0
  .github/workflows/chango_fragment.yml
  changes/unreleased/4712.8ckkAPAXGzedityWEyv363.toml
  docs/requirements-docs.txt
Labels: 🔗 github-actions, ⚙️ ci-cid

#4671 Drop Functionality Deprecated in v20.x
  changes/unreleased/4671.7B3boYRvHdGzsrZgkpKp7B.toml
  docs/auxil/kwargs_insertion.py
  docs/auxil/sphinx_hooks.py
  docs/source/stability_policy.rst
  telegram/_bot.py
  telegram/_inline/inlinequery.py
  telegram/_inline/inlinequeryresultsbutton.py
  telegram/_message.py
  telegram/_passport/encryptedpassportelement.py
  telegram/_passport/passportelementerrors.py
  telegram/_passport/passportfile.py
  telegram/constants.py
  telegram/ext/_application.py
  telegram/ext/_applicationbuilder.py
  telegram/ext/_defaults.py
  telegram/ext/_updater.py
  telegram/ext/filters.py
  telegram/request/_baserequest.py
  telegram/request/_httpxrequest.py
  tests/_passport/test_passportelementerrorfiles.py
  tests/_passport/test_passportelementerrortranslationfiles.py
  tests/_passport/test_passportfile.py
  tests/auxil/bot_method_checks.py
  tests/auxil/networking.py
  tests/ext/test_application.py
  tests/ext/test_applicationbuilder.py
  tests/ext/test_defaults.py
  tests/ext/test_filters.py
  tests/ext/test_ratelimiter.py
  tests/ext/test_updater.py
  tests/request/test_request.py
  tests/test_bot.py
  tests/test_message.py
  tests/test_official/arg_type_checker.py
  tests/test_official/exceptions.py
  tests/test_official/test_official.py
Labels: 📋 do-not-merge-yet, 🛠 breaking
