Repository python-telegram-bot/python-telegram-bot, pull requests merged in 2025-06, with the labels that each got.

#4802 Ensure Safe Handler Looping in `Application.process_update/error`
  changes/unreleased/4802.RMLufX4UazobYg5aZojyoD.toml
  src/telegram/ext/_application.py
  tests/ext/test_application.py
Labels: 🔌 bug

#4824 Add note contributing guide
  .github/CONTRIBUTING.rst
  AUTHORS.rst
  README.rst
  changes/unreleased/4824.EJe3fPD4qVGVNy2mWbwTfs.toml
Labels: ⚙️ documentation

#4817 Allow for pattern matching empty inline queries
  .gitignore
  AUTHORS.rst
  changes/unreleased/4817.ZHx38jvj9zKRNZfQh9Xrpb.toml
  src/telegram/ext/_handlers/inlinequeryhandler.py
  tests/ext/test_inlinequeryhandler.py
Labels: 🔌 bug

#4826 Remove `furo-sphinx-search`, and fix some docs
  changes/unreleased/4810.KyRnffWk3ARyQFNcF88Uh3.toml
  docs/source/conf.py
  docs/source/telegram.animation.rst
  docs/source/telegram.audio.rst
  docs/source/telegram.chat.rst
  docs/source/telegram.chatfullinfo.rst
  docs/source/telegram.document.rst
  docs/source/telegram.photosize.rst
  docs/source/telegram.revenuewithdrawalstate.rst
  docs/source/telegram.revenuewithdrawalstatefailed.rst
  docs/source/telegram.revenuewithdrawalstatepending.rst
  docs/source/telegram.revenuewithdrawalstatesucceeded.rst
  docs/source/telegram.startransaction.rst
  docs/source/telegram.startransactions.rst
  docs/source/telegram.sticker.rst
  docs/source/telegram.transactionpartner.rst
  docs/source/telegram.transactionpartnerchat.rst
  docs/source/telegram.transactionpartnerfragment.rst
  docs/source/telegram.transactionpartnerother.rst
  docs/source/telegram.transactionpartnertelegramads.rst
  docs/source/telegram.transactionpartnertelegramapi.rst
  docs/source/telegram.transactionpartneruser.rst
  docs/source/telegram.video.rst
  docs/source/telegram.videonote.rst
  docs/source/telegram.voice.rst
  pyproject.toml
Labels: ⚙️ documentation

#4818 Fix Handling of Parameters `do_quote` and `allow_sending_without_reply` in `Message.reply_*`
  changes/unreleased/4818.3VPDqqEWEhDCrTipFY8KKU.toml
  docs/substitutions/global.rst
  src/telegram/_message.py
  tests/auxil/bot_method_checks.py
  tests/test_message.py
Labels: 🔌 bug

#4822 Improve Informativeness of Network Errors
  changes/unreleased/4822.DrW3tJ3KoB8kTmHtNnNEpQ.toml
  src/telegram/request/_baserequest.py
  tests/request/test_request.py
Labels: 🛠 refactor
